<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <h1 class="abc">Try again</h1>
    <h2><%=data%></h2>
    <div>
      <button><a href="/signup">signup</a></button>
      <button><a href="/login">login</a></button>
    </div>
  </body>
</html>