<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <h1 class="abc">login</h1>
  <form action="/login" method="POST">
    <label for="name">email</label>
    <input type="text" name="email"></input>
    <label for="name">password</label>
    <input type="text" name="password"></input>
    <button type="submit">submit</button>
  </form>
</body>

</html>