<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/stylesheets/signup.css" />
</head>

<body>
  <nav class='main-nav'>
    <span class="title">What is your Pick?</span>
    <span class="item"><a href="/signup">sign up</a></span>
    <span class="item"><a href="/login">login</a></span>
    <span class="item"><a href="/logout">logout</a></span>
  </nav>

  <div class="feature">
    <div class="feature-item feature-text-container">
      <h1 class="feature-head">Guess who!?</h1>
      <div class="feature-sub">Biden vs Trump</div>
      <p class="feature-body">The Republican president is being challenged by Democratic Party nominee Joe Biden, who is
        best known as Barack Obama's vice-president but has been in US politics since the 1970s.</br>
        </br>
        As election day approaches, polling companies will be trying to gauge the mood of the nation by asking voters
        which candidate they prefer.</br></br>https://www.bbc.com/news/election-us-2020-53657174</p>
    </div>
    <div class="feature-item feature-pic-container">
      <img class="feature-pic" src="/images/bidentrump.gif" width="600" alt="usElection">
      <div>https://www.plannedparenthoodaction.org/elections/biden-v-trump</div>
    </div>
  </div>

  <div class="signup-container">
    <div class="signup-head">
      <div class="signup-head-title">SignUp</div>
      <div class="signup-head-title-sub">: Please input your email address and password</div>
    </div>
    <div class="signup-body">
      <form class="signup-body-form" action="/signup" method="POST">
        <label for="name">Email address</label>
        <input type="text" name="email"></input>


        <label for="name">Password</label>
        <input type="text" name="password"></input>


        <label for="name">Password Confirm</label>
        <input type="text" name="passwordConfirm"></input>

        <button class="signup-button" type="submit">Sign Up</button>
      </form>
      <div class="signup-body-err">
        <div><%= err.email ? err.email.message : null%></div>
        <div><%= err.password ? err.password.message : null%></div>
        <div><%= err.passwordConfirm ? err.passwordConfirm.message : null%></div>
      </div>
    </div>
  </div>
</body>

</html>