<header class="header-wrapper">
  <a href="/" class="header-title"
    >VOTING <strong class="header-title-strong">PLATFORM</strong></a
  >
  <div class="menu-wrapper">
    <div class="menu-text-wrapper">
      <div class="menu-text">
        <a href="/">HOME</a>
      </div>
      <div class="menu-text">
        <a href="/votings/new">MAKE VOTE</a>
      </div>
      <div class="menu-text">
        <a href="/votings">MY VOTE</a>
      </div>
    </div>
  </div>
  <div class="logout-wrapper">
    <p class="name"><strong> <%= name %></strong> 님 안녕하세요!</p>
    <a class="logout" href="/logout">로그아웃</a>
  </div>
</header>
