<!DOCTYPE html>
<html>
  <head>
    <title>투표하기</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>투표 생성 실패</h1>
    <p>투표 생성 실패...ㅠ</p>
    <a href="/">메인으로 돌아가기...</a>
  </body>
</html>
