<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width = device-width, height = device-height, initial-scale = 1"
    />
    <title>로그인</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css" />
  </head>

  <body>
    <div class="login-container">
        <div class="login-title">로그인해주세요.</div>
        <div class="error"><%= error %></div>
        <form action="/auth/login" method="POST">
          <div class="form-group email">
            <label>이메일</label>
            <input type="email" class="input-email" name="email" placeholder="E-mail" />
          </div>
          <div class="form-group password">
            <label>비밀번호</label>
            <input type="password" class="input-password" name="password" placeholder="Password" />
          </div>
          <button type="submit" class="login-button">로그인</button>
        </form>
        <div class="ask-account">계정이 없으신가요?</div>
        <a class="register" href="/register">회원가입</a>
    </div>
  </body>
</html>
