<!DOCTYPE html>
<html>
  <head>
    <title>투표하기</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/success.css" />
  </head>
  <body>
    <div class="navigation">
      <a href="/"
        ><img class="navigation-logo" src="/images/vote.png" alt="vote logo"
      /></a>
      <span class="navigation-text">투표합시다!</span>
      <div class="navigation-btn">
        <a class="come-back-home" href="/">목록보기</a>
        <a class="my-vote" href="/votings">내 투표</a>
        <a class="create-vote" href="/votings/new">투표 생성</a>
        <ul class="navigation-login-list">
          <% if (user) { %>
          <li><a href="/auth/logout">로그아웃</a></li>
          <% } else { %>
          <li><a href="/auth/login">로그인</a></li>
          <% } %>
        </ul>
      </div>
    </div>

    <div class="success-container">
      <div class="success-title">투표 생성 성공</div>
      <a href="/">목록으로 가기</a>
    </div>
  </body>
</html>
