link(rel="stylesheet", href="/stylesheets/modal.css")

.modal
  div(onclick="closeModal()").modal-background
  .modal-window
    .modal-scroll
      each option in vote.select_options
        .option-result
          h1 #{option.description}
          .option-counter-container
            .option-counter(style=`width: ${option.vote_counter / vote.total_voters * 100 || 0}%`)
              if vote.total_voters !== 0
                span #{(option.vote_counter / vote.total_voters * 100).toFixed(1)}%
              else
                span 0%
