header.header-container
	.header__title-container
		h1 VaniVote
	.header__search-container
		form
			input(type="text", placeholder="Search by term", name="term")
	.header__options-container
		h2 나의 투표
		h2 참여한 투표
		i.fab.fa-youtub