form(action=routes.GOOGLE_LOGIN, method="GET")
  button(type="submit")
    span Continue with 
    span(style={color: '#4285F4'}) G
    span(style={color: '#DB4437'}) o
    span(style={color: '#F49F00'}) o
    span(style={color: '#4285F4'}) g
    span(style={color: '#0F9D58'}) l
    span(style={color: '#DB4437'}) e
