<h1 class="mt-4">바닐라 투표 플랫폼</h1>
<a href='/' class="btn btn-primary">홈</a>
<a href="/polls" class="btn btn-primary">내가 만든 투표 보기</a>
<a href="/polls/new" class="btn btn-primary">새로운 투표 작성하기</a>
<a href="/users/logout" class="btn btn-secondary">로그아웃</a>
