<nav>
  <div class="nav-container">
    <div class="indicator-wrapper">
      <div class="home-link"><a href="/"><h3>HOME</h3></a></div>
        <!-- 만약 유저가 로그인을 했다면 -->
      <div>
        <h3>안녕하세요, displayname 님</h3>
        <div class="logout-link"><a href="/logout"><h3>LOGOUT</h3></a></div>
        <div class="my-votings-link"><a href="/my-votings"><h3>MY VOTINGS</h3></a></div>
      </div>
        <!-- 아니라면 -->
      <div>
        <div class="sign-up-link"><a href="/signup">SIGN UP</a></div>
        <div class="login-link"><a href="/login">LOG IN</a></div>
      </div>
    </div>
  </div>
</nav>
