<div class="header-container">
  <div class="header-column"></div>
  <div class="header-column">
    <a class="menu" href="/votings">List</a>
    <a class="menu" href="/votings/new">New</a>
    <a class="menu" href="/my-voting">My voting</a>
  </div>
  <div class="header-column">
    <a class="menu" href="/signup">Sign up</a>
    <a class="menu" href="/login">Log in</a>
    <a class="menu" href="/logout">Log out</a>
  </div>
</div>
