<header>
  <a class="logo" href="/">Vote</a>
  <div class="menu-bar">
    <a class="menu all" href="/">ALL</a>
    <a class="menu my" href="/votings">MY</a>
  </div>
  <div class="user-logout">
    <span class="user-name">Hi! <%= user.name %></span>
    <button class="button-logout" onClick="location.href='/logout'">Logout</button>
  </div>
</header>
