<h1>Vote Flatform</h1>
<% if (user.nickname) { %>
  <h2>Welcome <%= user.nickname %>.</h2>
<% } else { %>
  <h2>Welcome Visitor.</h2>
<% } %>

<div>
  <a href="/">Home</a>
  <% if (!user.nickname) { %>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
  <% } else { %>
    <a href="/votings/new">Add Vote</a>
    <a href="/my-votings/<%= user._id %>">My Votings</a>
    <a href="/logout">Logout</a>
    <a href="/signout">Signout</a>
  <% } %>
</div>
