<header class="header">
  <a href="/" target="_self">
    <button class="home-button" type="submit">홈으로</button>
  </a>
  <a href="/auth/logout" target="_self">
    <button class="logout-button" type="submit">Sign Out</button>
  </a>
</header>
