<title>VOTE x VOTE</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Noto+Sans+KR&display=swap">
<link rel="stylesheet" href="/stylesheets/style.css" />

