header
  a(href='/') VOTE-IT!
  if user
    .header-username #{user.name}
    a(href='/my-votings') My votings
    a(href='/auth/logout') Logout
  else
    a(href='/auth/signup') Signup
    a(href='/auth/login') Login
