<header>
  <div class="header-wrapper">
    <div class="header-user-data">
    </div>
    <div class="header-button-set">
      <a class="header-button-home" href="/">
        <i class="fas fa-home header-icon"></i>
        <div class="header-logout">HOME</div>
      </a>
      <a class="header-button-logout" href="/logout">
        <i class="fas fa-sign-out-alt header-icon"></i>
        <div class="header-logout">LOG OUT</div>
      </a>
    </div>
  </div>
</header>
