<!DOCTYPE html>
<html>
  <head>
    <title>Vote</title>
    <link rel='shortcut icon' href='/images/voting.jpeg' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class='top-bar'>
      <%= title %>
