<a href="/signup">Sign up</a>
<a href="/login">Log in</a>
<a href="/logout">Log out</a>

<a href="/votings">VotingList</a>
<a href="/votings/new">생성하기</a>
<a href="/votings/myVoting">My voting</a>
<span>안녕하세요 <%= userName %> 님</span>