<head>
  <link rel="stylesheet" href="/stylesheets/header.css">
</head>

<div class="header-container">
  <div class="header-left">
    <div class="main-logo-box">
      <img class="main-logo" src="/images/mainLogo.jpg" alr="main-logo">
    </div>
    <% if (user.nickname) { %>
      <h2 class="welcome-ment">Welcome <%= user.nickname %>.</h2>
    <% } else { %>
      <h2 class="welcome-ment">Welcome Visitor.</h2>
    <% } %>
  </div>
  <div class="header-right">
    <a href="/" class="header-button">Home</a>
    <% if (!user.nickname) { %>
      <a href="/login" class="header-button">Login</a>
      <a href="/signup" class="header-button">Signup</a>
    <% } else { %>
      <a href="/my-votings/<%= user._id %>" class="header-button">My Votings</a>
      <a href="/votings/new" class="header-button">Add Vote</a>
      <a href="/logout" class="header-button">Logout</a>
      <a href="/signout" class="header-button">Signout</a>
    <% } %>
  </div>
</div>
