<header>
  <h1>Poll</h1>

  <nav>
    <ul>
      <li><a href='/'>Home</a></li>
      <li><a href='/votings/new'>New Poll</a></li>
      <li><a href='/votings'>My Polls</a></li>
      <li><a href="/auth/logout" class='signout'>Sign out</a></li>
    </ul>
  </nav>

</header>
