<h1>Vote Flatform</h1>
<% if (user.nickname) { %>
  <h2>Welcome <%= user.nickname %>.</h2>
<% } else { %>
  <h2>Welcome Visitor.</h2>
<% } %>

<div>
  <a href="/">Home</a>
  <a href="/login">Login</a>
  <a href="/logout">Logout</a>
  <a href="/votings/new">Add Vote</a>
</div>
