<div class="header-container">
  <div class="header-column">
    <a href="/signup">Sign up</a>
    <a href="/login">Log in</a>
    <a href="/logout">Log out</a>
  </div>
  <i class="fas fa-vote-yea icon"></i>
  <div class="header-column">
    <a href="/votings">List</a>
    <a href="/votings/new">New</a>
    <a href="/my-voting">My voting</a>
  </div>
</div>