header.header
  .header__wrap
    .header__title
      a(href='/')
        h1 Voting Platform
    .header__menu
      a(href='/')
        button Home
      a(href='/my-votings')
        button My Voting
      a(href='/votings/new')
        button Create voting
      if user
        a(href='/logout')
          button Logout
      else
        a(href='/login')
          button Login
        a(href='/signup')
          button Sign Up
