<header>
  <div class='header-title'>
    <h1><a href='/'>PLAY VOTING</a></h1>
  </div>

  <nav class='header-nav'>
    <ul>
      <% if(user) { %>
      <li><span><%= user.email %></span></li>
      <li><a href='/logout'>로그아웃</a></li>
      <% } else { %>
      <li><a href='/signup'>회원가입</a></li>
      <li><a href='/login'>로그인</a></li>
      <% } %>
    </ul>
  </nav>
</header>
