<header>
  <link rel='stylesheet' href='/stylesheets/header.css' />
  <div class="headerBox">
    <div><a href="/">/ HOME /</a></div>
    <div><a href="/login"> LOGIN /</a></div>
    <div><a href="/logout"> LOGOUT /</a></div>
  </div>
</header>
