<h1 class="mt-4">Vanilla Voting Platform</h1>
<a href='/' class="btn btn-primary">Home</a>
<a href="/polls" class="btn btn-primary">view my polls</a>
<a href="/polls/new" class="btn btn-primary">create new poll</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
