<header>
  <a href="/signup">
    <div>
      회원가입
    </div>
  </a>
  <a href="/login">
    <div>
      로그인
    </div>
  </a>
  <a href="/">
    <div>
      투표목록
    </div>
  </a>
  <a href="/votings">
    <div>
      투표 상세 페이지
    </div>
  </a>
  <% if (isUserLogedIn) { %>
    <form action="/my-votings" method="GET">
      <div class="my-voting-wrapper">
        <button class="my-voting-btn">내 투표목록</button>
      </div>
    </form>
    <div class="logout-wrapper">
      <button class="logout-btn">로그아웃</button>
    </div>
  <% } %>
</header>
