<div class="menu">
  <a class="home-button" href="/">Home</a>
  <a class="create-voting-button" href="/votings/new">Create Vote</a>
  <a class="my-voting-button" href="/my-votings">My Votings</a>
</div>