#modal-container.invisible
  #modal
    #modal__gradient-bar
    #modal__countdown
      span 이 창은
      span.remain 3
      span 초 뒤에 자동으로 닫힙니다
    i#modal__close-button.fas.fa-times-circle
    h2#modal__title 삭제가 완료되었습니다
    h4#modal__content displayName 님이 작성하신 opic 투표를 삭제하였습니다