<nav class="snb">
  <ul class="snb-list">
    <li>
      <a href="/logout" title="logout" class="btn-logout">Logout</a>
    </li>
    <li>
      <a href="/votings" title="Show my votes" class="btn-myvote">My vote</a>
    </li>
    <li>
      <a href="/votings/new" title="Create new vote" class="btn-create">Create New Vote</a>
    </li>
  </ul>
</nav>
