table#effect-example-6.charts-css.column.labels-hide.show-data-axes
  caption  3D Effect Example #6 
  thead
    tr
      th(scope='col')  Year 
      th(scope='col')  Progress 
  tbody
    tr
      th(scope='row')  2016 
      td(style='--size:0.2;')
        span.data  20 
    tr
      th(scope='row')  2017 
      td(style='--size:0.4;')
        span.data  40 
    tr
      th(scope='row')  2018 
      td(style='--size:0.6;')
        span.data  60 
    tr
      th(scope='row')  2019 
      td(style='--size:0.8;')
        span.data  80 
    tr
      th(scope='row')  2020 
      td(style='--size:1;')
        span.data  100 
