<ul class="voteInfoHead">
  <li class="voteTitle voteInfoMain">Title</li>
  <li class="voteMadeby voteInfoMain">Madeby</li>
  <li class="voteExpiration voteInfoMain">Expiration Date</li>
  <li class="voteButton"></li>
</ul>
