mixin votingListItem(voting={})
  - const isExpired = voting.expirationTime - new Date() < 0;
  - let expiredVotingClassName = "not-expired"
  - if (isExpired) {
  -   expiredVotingClassName = "expired";
  - }
  a(href="/votings/" + voting._id)
    li(class="voting " + expiredVotingClassName)
      div.voting-container
        h2.voting-title= voting.title
        p.description= voting.description
        p.expiration-time= voting.formattedExpirationTime
        if isExpired
          p.isExpired Expired
        else
          p.isExpired Activated

