doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if message
      p= message
    include ../partials/header
    block content
    include ../partials/footer
