doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if messages.success
      p(style='background:cyan')= messages.success
    if messages.error
      p(style='background:red')= messages.error
    include ../partials/header
    block content
    include ../partials/footer
