doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if messages.success
      p.message.success= messages.success
    if messages.error
      p.message.error= messages.error
    include ../partials/header
    .content
      block content
    include ../partials/footer
