doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Frank+Ruhl+Libre:wght@900&display=swap" rel="stylesheet")
  body

    include ../partials/header
    main
      block content
    include ../partials/script
