header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: tomato;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  height: 50%;
}

header a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  color: black;
  text-decoration: none;
}