.voting-list {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  width: 60vmin;
  height: 60vmin;
  border: 1px solid;
}

.voting-item {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 80%;
  height: 15%;
  border: 1px solid;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  width: 20vw;
  height: 10vh;
  border: 1px solid;
}
