@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
  font-family: "Jua", "sans-serif";
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: #247BA0;
}

header > nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 50%;
  margin: 3%
}

header a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  color: white;
  text-decoration: none;
  font-size: 3vmin;
}

header a:hover {
  color: #FDE74C;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}
