.auth {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  width: 50vmin;
  height: 50vmin;
  border: 2px solid #A8DADC;
  border-radius: 5px;
}

.input-text {
  display: flex;
  flex-flow: column;
  text-align: center;
  box-sizing: border-box;
  width: 70%;
  height: 10%;
  border: 2px solid #A8DADC;
  border-radius: 5px;
  font-family: "Jua", "sans-serif";
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 70%;
  height: 10%;
  border: 2px solid #F78764;
  border-radius: 5px;
  background-color: white;
  font-family: "Jua", "sans-serif";
  font-size: 3vmin;
  color: #F78764;
}

.btn:hover {
  background-color: #F78764;
  color: white;
}
