.voting-new {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  width: 60vmin;
  height: 70vmin;
  border: 1px solid;
}

.voting-new > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 80%;
  height: 5%;
  border: 1px solid;
}

.voting-new-form {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  width: 80%;
  height: 90%;
  border: 1px solid;
}

.voting-new-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  width: 90%;
  height: 5%;
  border: 1px solid;
  text-align: center;
}

.voting-new-desc {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  width: 90%;
  height: 20%;
  border: 1px solid;
  text-align: center;
}

.voting-new-time {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  width: 90%;
  height: 10%;
  border: 1px solid;
}

.voting-new-item {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  width: 90%;
  height: 40%;
  border: 1px solid;
}

.voting-new-item > input {
  box-sizing: border-box;
  width: 90%;
  height: 15%;
  border: 1px solid;
  text-align: center;
}

.voting-new-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 90%;
  height: 10%;
  border: 1px solid;
}

.voting-new-btn > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 40%;
  height: 80%;
  border: 1px solid;
}
