.detail {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  width: 60vmin;
  height: 60vmin;
  border: 1px solid;
}

.detail > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 80%;
  height: 10%;
  border: 1px solid;
}

.detail-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 80%;
  height: 10%;
  border: 1px solid;
}

.detail-time {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  width: 40%;
  height: 80%;
  border: 1px solid;
  font-size: 80%;
}

.detail-author {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  width: 80%;
  height: 5%;
  border: 1px solid;
}

.detail-item-container {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  width: 80%;
  height: 50%;
  border: 1px solid;
}

.detail-item {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  width: 80%;
  height: 15%;
  margin: 5%;
  border: 1px solid;
}

.detail-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  width: 80%;
  height: 10%;
  border: 1px solid;
}