.detail {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  width: 70vmin;
  height: 70vmin;
  color: #247BA0;
}

.detail > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 80%;
  height: 10%;
  border-radius: 10px;
  background-color: #F78764;
  font-size: 3vmin;
  color: white;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  width: 80%;
  height: 70%;
  border: 2px solid #A8DADC;
  border-radius: 10px;
}

.status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 80%;
  height: 10%;
  font-size: 3vmin;
}

.time {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  width: 40%;
  height: 80%;
  font-size: 1.5vmin;
}

.author {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  width: 80%;
  height: 5%;
}

.item-container {
  align-items: center;
  box-sizing: border-box;
  width: 80%;
  height: 50%;
  border: 2px solid #A8DADC;
  border-radius: 10px;
  overflow: scroll;
}

.item {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  width: 80%;
  height: 20%;
  margin: 5% auto;
  border: 2px solid #A8DADC;
  border-radius: 10px;
}

.item:hover {
  background-color: #A8DADC;
  color: white
}

.button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  width: 80%;
  height: 10%;
}

.button > a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  width: 20%;
  height: 80%;
  border: 2px solid #F78764;
  border-radius: 5px;
  text-decoration: none;
  color: #F78764;
}

.button > a:hover {
  background-color: #F78764;
  color: white;
}
