extends ../layout
block style
  link(rel='stylesheet', href='/stylesheets/voting-card.css')
  script(src='/javascripts/votingCard.js' defer)

block content
  h1(class='main-message') card page
  if isVotingUser
    p Already Voted
  else
    p You can vote now
  div(class='card-conteiner')
    ul
      include ../votingInfo
      ul(class='poll')
        include ./polls
    if isCreator
      button(data-voting-id='#{voting._id}' class='delete-button') delete
