<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Failed to create a new voting</p>
    <a href='/votings'>my votings</a>
    <a href='/logout'>logout</a>
  </body>
  <script>
    console.log('<%= title %>');
    console.log(new Date());
  </script>
</html>


<!-- // 투표 생성을 하지 못했다는 실패 메시지가 표기 되어야 합니다.
// 메인 페이지로 돌아갈 수 있는 버튼 혹은 링크가 있어야 합니다.
// 상세 에러 내용(Stack 정보 등)을 사용자에게 보여주어선 안됩니다. -->
