<% include ../partials/header %>
        <div class='top-bar-button-container'>
          <div class='top-bar-button' onClick='location.href="/"'>
            To Main
          </div>
          <div class='top-bar-button' onClick='location.href="/votings/new"'>
            Create Voting
          </div>
          <div class='top-bar-button' onClick='location.href="/logout"'>
            Logout
          </div>
        </div>
      </div>
    <div id='voting-list'>
    </div>
  </body>
  <script>
    var allVotings = <%-JSON.stringify(allVotings)%>;
    var el = document.getElementById('voting-list');

    for (var i = 0; i < allVotings.length; i++) {
      if (allVotings[i]) {
        var newHtml = "<div class='voting-list-content' onclick='location.href=" + "%link%" +
        "'><div class='voting-list-title'>%title%</div><div class='voting-list-status'>%status%</div><div class='voting-list-creator'>%creator%</div><div class='voting-list-expire'>%expire%</div></div>";

        newHtml = newHtml.replace('%link%', '"/votings/' + allVotings[i]._id + '"');
        newHtml = newHtml.replace('%title%', allVotings[i].title);
        newHtml = newHtml.replace('%status%', allVotings[i].status);
        newHtml = newHtml.replace('%creator%', allVotings[i].creator);
        newHtml = newHtml.replace('%expire%', allVotings[i].expire);

        el.insertAdjacentHTML('beforeEnd', newHtml);
      }
    }


  </script>
</html>


<!-- // 현재 로그인한 사용자가 만든 투표 목록이 보여야 합니다.
// 전체 투표 목록(제목, 만료 날짜 및 시간, 진행 중 여부)이 보여야 합니다.
// 투표를 클릭할 경우, /votings/:id로 이동합니다. -->
