extends ../layout
block style
  link(rel='stylesheet', href='/stylesheets/form.css')

block content
  h1(class='main-message') this is new voting page
  include ../validationMessage
  form(method='post')
    input(type='text' name='voting_title' placeholder='title')
    ul(class='js-polls')
    - const newDate = new Date();
    - const year = newDate.getFullYear();
    - const month = newDate.getMonth() + 1;
    - const date = newDate.getDate();
    input(type='date' name='expiration_date' value='#{`${year}-${month}-${date}`}')
    .container
      button submit
  .container
    button(class='js-addBtn') add poll
  script(src='/javascripts/votingNew.js' defer)
