each poll in voting.polls
  li
    div(class='poll-container' data-poll-id='#{poll._id}')
      ul
        li= poll.poll_title
        -  let value = '';
        -  if (isCreator || !voting.openState) {
        -    value = poll.voted_users.length;
        -  } else {
        -    value = '?'
        -  }
        -
        li #{value}
