<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= _id %></p>
    <a href='/votings'>my votings</a>
    <a href='/logout'>logout</a>
  </body>
  <script>
    console.log('<%= title %>');
    console.log(new Date());
  </script>
</html>
