<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= _id %></p>
    <a href='/votings'>my votings</a>
    <a href='/logout'>logout</a>
  </body>
  <script>
    console.log('<%= title %>');
    console.log(new Date());
  </script>
</html>

<!-- 제목, 생성자, 만료 날짜 및 시간, 진행 중 여부, 투표 선택 사항들이 보여야 합니다.
투표 목록으로 돌아갈 수 있는 버튼이 있어야 합니다.
만료된 투표의 경우, 투표 결과를 표기해주어야 합니다. (가장 많은 선택을 받은 사항 표기)
진행 중인 투표의 경우, 누구든지 투표에 참여할 수 있어야 합니다. (AJAX 금지)
중복 투표는 불가능합니다.
만료되지 않은 투표는 투표를 하더라도 결과 확인이 불가능합니다.
단, 투표 생성자는 언제든지 투표 결과를 확인할 수 있습니다.
투표 생성자에게는 "삭제" 버튼이 보여야 합니다.
투표 생성자가 "삭제"할 경우, 더 이상 투표는 참가할 수 없습니다.
투표 생성자라 하더라도 이미 생성한 투표를 수정하는 것은 불가능합니다. -->
