extends layouts/main

block content
	.result-container
		.result-image-container
		.result-message-container
			span.result-message 이미 투표한 기록이 있습니다.
		.result-buttons-container
			a(href="/").result-button-home 목록으로 돌아가기