<% include ./partials/header %>
      </div>
    </div>
    <div class='smallbox-container'>
      <div class='smallbox-contents'>
        <%= message %>
        <div class='smallbox-button-signedup' onClick='location.href="/"' >
          To Main
        </div>
      </div>
    </div>
  </body>
</html>
