<!DOCTYPE html>
<html>
  <head>
    <%- include ("partials/head") %>
    <link rel="stylesheet" href="/stylesheets/createSuccess.css">
  </head>
  <body>
    <%- include ("partials/header") %>

    <div class="container">
      <h2>투표 생성에 성공했습니다!</h2>
    </div>

    <%- include ("partials/footer") %>
  </body>
</html>
