<div class="body-container">
  <h1>투표 생성</h1>
  <form class="form" action="/votings/new" method="POST">
    <div>
      <label for="title">title : </label>
      <input name="title" />
    </div>
    <div>
      <label for="expiration">expiration : </label>
      <input name="expiration" type="datetime-local" />
    </div>
    <button type="submit">확인</button>
  </form>
</div>
