<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Error</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Baloo+Tamma+2&display=swap" rel="stylesheet" />
  </head>
  <body>
    <section class="errorSection">
      <% if (error.status === 500) { %>
        <h1>There was an error on the server. Please try again in a moment. :)</h1>
      <% } else { %>
        <h1><%= message %></h1>
      <% } %>
      <a href="#" class="goBackErrorPage">Go Back</a>
    </section>
    <script>
      document.querySelector(".goBackErrorPage").addEventListener("click", () => {
        window.history.back();
      });
    </script>
  </body>
</html>
