<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <%- include("partials/title") %>
  <%- include("partials/menu") %>
  <h2><%=error.status%></h2>
  <span><%=message%></span>
  <a href="/login">로그인 화면으로 돌아가기</a>

</body>

</html>