extends layout.pug

block content
  div #{error.status}
  if (error.status === 404)
    div 페이지를 찾을 수 없습니다 URL을 확인하세요
  else
    div #{error.message}
  div.buttons
    a(href="/") Home
  div.buttons
    a(href="/auth/login") Login
