extends layouts/main

block content
    .error-container
        .error-item-box
            .error-message-box
                span.error-message=message
            a(href='#' onclick="history.back()").error-redirect-button-box
                span.error-redirect-button 뒤로가기
