<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class='error-box'>
      <div class=error-message><% errorMessage %></div>
      <a id='creating-voting' href='/'>HOME</a>
    </div>
  </body>
  <link rel='stylesheet' href='/stylesheets/error.css' />
</html>
