<!DOCTYPE html>
<html>
  <head>
    <title>Voting Platform</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/detailVoting.css" />
  </head>
  <body>
    <section class="main-page">
      <article class="side-page">
        <h2 class="title">
          VOTING<br>
          PLATFORM
        </h2>
        <pre class="description">
          투표 생성에 실패했습니다...😢
          투표 목록을 눌러 다시 시도해주세요..
          날짜 설정에서 문제가 있을 수 있으니 확인 부탁드립니다!
        </pre>
      </article>
      <div>
        <span class="failure">
          투표 생성에 실패했습니다.
        </span>
        <a href="/">투표 목록</a>
      </div>
    </section>
  </body>
</html>
