<!DOCTYPE html>
<html>
  <%- include('partial/head') -%>
  <body>
    <div class="container no-header">
      <section class="layout-column">
        <h3>Voting Failure</h3>
        <div class="buttons-wrap">
          <a href="/" class="button">Go Home</a>
        </div>
      </section>
    </div>
    <%- include('partial/scripts') -%>
  </body>
</html>
