<!DOCTYPE html>
<html>
  <head>
    <%- include("partial/header") %>
    <title>Voting Platform</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/detailVoting.css" />
  </head>
  <body>
    <span class="failure">
      투표 생성에 실패했습니다.
    </span>
    <a href="/">투표 목록</a>
  </body>
</html>
