header
  div.header-container
    a(href="/")
      h1 Voting Platform
    div.user-info-box
      if user
        p.user= user
      else
        p.user Guest
      a.my-votings(href="/my-votings") My votings

      if user
        a.logout-button(href="#") Log out
      else
        a.login-button(href="/login") Log in
script(src="/javascripts/header.js")
