<div>
  <div>
    <a href="/">Home</a>
  </div>
  <% if (isLogined) { %>
    <div>
      <a href="/logout">Logout</a>
    </div>
  <% } else { %>
    <div>
      <a href="/login">Login</a>
    </div>
    <div>
      <a href="/signup">Signup</a>
    </div>
  <% } %>
</div>
