header
  div.header-container
    h1 Voting
    div.user-info-box
      p.email= user.email
      a.my-votings(href="#") My votings

      if user.email === "Guest"
        a.login-button(href="/login") Log in
      else
        a.logout-button(href="#") Log out
script(src="/javascripts/header.js")
