header.flex-center
  h1
    a.logo(href="/") 📊 VANILLA VOTE
  if (user)
    ul
      li.name Hello, #{user.name}
      li
        button#logoutButton.button(type="button") LOGOUT
  else
    a.button(href="/users/login") LOGIN
