header
  div.header-container
    a(href="/")
      h1.header-title Voting Platform
    div.nav
      div.nav-link-box
        a(href="/") Votings
        a(href="/my-votings") My votings
        a(href="/votings/new") Create voting
    div.user-info-box
      if user
        div.header-user
          i.fas.fa-user-circle
          p.header-email=user
      else
        div.header-user
          i.fas.fa-user-circle
          p.header-email Guest
      if user
        a.logout-button(href="#") Log out
      else
        a.login-button(href="/login") Log in
        a.login-button(href="/signup") Sign up
script(src="/javascripts/header.js")
