header
  h1 VOTE LOGO
  p I'm Header
  if (user)
    p Hello, #{user.name}
    ul
      li
        a(href="/votings/new" class="button") CREATE NEW VOTE
      li
        a(href="/votings/my-votings" class="button") MY VOTINGS
      li
        button(type="button" id="logoutButton" class="button") LOGOUT
  else
    a(href="/users/login" class="button") LOGIN
script(src="/javascripts/signOut.js")
