<div class="header-container">
  <div>
    <a href="/" class="header-title"><%= title %></a>
  </div>
  <div class="header-user">
    <% if (isLogined) { %>
      <div>
        <a href="/my-votings" class="header-my-votings">
          <i href="/my-votings"class="fas fa-user-circle fa-2x"></i>
        </a>
      </div>
      <div>
        <a href="/logout">로그아웃</a>
      </div>
    <% } else { %>
      <div>
        <a href="/login">로그인</a>
      </div>
      <div>
        <a href="/signup">회원가입</a>
      </div>
    <% } %>
  </div>
</div>
