extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/home.css")
  link(rel="stylesheet", href="/stylesheets/sidebar.css")

block content
  body
    .home
      include includes/sidebar.pug
      .vote-viewer
        each vote in votes
          .vote
            span #{vote.title}
            //- span #{vote.}
            each option in vote.select_options
              .vote-status
                p #{option.description}
                p #{option.vote_counter} 명