<!DOCTYPE html>
<html>
  <head>
    <title>home</title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>
  <body>
    <div class='voting-caution'><%= message %></div>
    <a href='/login'>LOGIN</a>
    <a href='/votings/new'>투표만들기</a>
    <a href='/my-votings'>나의 투표함</a>
  </body>
</html>
