extends ./layouts/layout
include mixins/card

block content
  if user
    a.button.button-fixed(href='/votings/new' class='btn-create-vote') Create Vote
  .head-container
    h1 🗳 투표하세용!
  .container
    .vote-list
      each vote in votingList
        +card({
          id: vote._id,
          title: vote.title,
          author: vote.author,
          expireAt: vote.expireAt,
          isExpired: vote.isExpired
        })
