doctype html
html
  head
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    nav
      ul
        li 
          button Vote
        li 
          button New vote
        li 
          button My vote
        li 
          button login
    main
     