<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body>
    <div>index</div>
  </body>
  <footer>
    <a href="/votings/new">
      <button>투표 생성하기</button>
    </a>
  </footer>
</html>
