<div class="body-container">
  <h1>Home</h1>
  <div class="votes-container">
    <% if (votes.length > 0) { %>
      <% votes.map((vote) => { %>
        <a href="/votings/<%= vote._id %>">
          <div class="vote">
            <h1><%= vote.title %></h1>
            <p>์์ฑ์ : <%= vote.creator?.name %></p>
            <p>๋ง๊ฐ์ผ : <%= vote.dueDate %></p>
          </div>
        </a>
      <% }) %>
    <% } else { %>
      <div>No votes..๐ฅ</div>
    <% }%>
  </div>
</div>
