extends layouts/main
include mixins/votingBlock

block styles
  link(rel='stylesheet', href='/stylesheets/partials/createdBy.css')
  link(rel='stylesheet', href='/stylesheets/partials/voting-state.css')
  link(rel='stylesheet', href='/stylesheets/partials/voting-block.css')


block content
  if !votings.length
    H1 No Votings...
  else
    each voting in votings
      +votingBlock(voting, showCreator)
