<!DOCTYPE html>
<html>
  <head>
    <%- include ('partials/head') %>
  </head>
  <body>
    <%- include ('partials/header') %>

    <h1><%= title %></h1>

    <% for (let i = 0; i < votes.length; i++) { %>
      <div>
        <span><%= votes[i].title %></span>
      </div>
    <% } %>
  </body>
</html>
