<!DOCTYPE html>
<html>
  <head>
    <title>VOTE</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="index-title index-font-upper">VOTE</div>
    <div class="index-title index-font-middle">
      <a class="index-title-signUp sans-serif" href="/votings">VOTE</a>
    </div>
    <div class="index-title index-font-low">VOTE</div>
  </body>
</html>
