html
  head
    title React 1
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 express
    input(
      type='text'
      name='id'
    )
    input(
      type='text'
      name='pwd'
    )