<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title><%= title %></title>
    <link href='/stylesheets/style.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <nav>
      <ul>
        <% if (user) { %>
        <li><a href='/auth/logout'>Logout</a></li>
        <li><a href='/'>Homepage</a></li>
        <li><a href='/profile'>Profile</a></li>
        <% } else { %>
        <li><a href='/auth/login'>Login</a></li>
        <% } %>
      </ul>
    </nav>
    <% if (user) { %>
    <main>
      <h1>swnam-voting-platform</h1>
      <img src='https://cdn.uwec.edu/athena/images/9688/SC_vote_760x267-full-width-tall.jpg' width='958px' />

      <h2>일단 투표를 만드세요!!</h2>
      <a class='local-button' href='/votings/new'>투표 생성하기</a>

      <h2>니가 생성한 투표 목록</h2>
      <div class='votes'>
        <ul>
          <a href='/votes'>
            <li>Title: </li>
            <li>Description: </li>
            <li>정답자: </li>
            <li>난이도: </li>
          </a>
        </ul>
      </div>
      <a class='local-button' href='/votings'>내 투표 보기</a>
    </main>
    <% } else { %>
    <header>
      <h1>Welcome to swnam-<%= title %></h1>
      <h1>You can use our services after Login.</h1>
      <h2>If you want to use our page Press the Button above.</h2>
      <img src='https://images.unsplash.com/photo-1459347268516-3ed71100e718?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80' height='500px' />
    </header>
    <% } %>
  </body>
</html>
