doctype html
html
  head
    link(rel="stylesheet", href="/stylesheets/index.css")
  body
    nav
      ul
        if hasLoggedIn
          li 
            button Vote
          li 
            button New vote
          li 
            button My vote
          li 
            button Logout
        else
          li 
            button Vote
          li 
            button New vote
          li 
            button Logout
    main
     