extends ./layouts/layout
include mixins/card

block content
  if user
    a(href='/votings/new' class='btn-create-vote') Create Vote
  h1 투표해보세용!
  .vote-list
    each vote in votingList
      +card({
        id: vote._id,
        title: vote.title,
        author: vote.author,
        expireAt: vote.expireAt,
        isExpired: vote.isExpired
      })
