extends layout

block content
  a(href='/votings/new') 투표만들기
  <br/>
  a(href='/my-votings') 내 투표 보기

  h1 VOTING LIST
  div
    each voting in votings
      div
        if voting.isExpiration === true
          div 투표중
        else
          div 투표마감

        a(href=`/votings/${voting._id}`)
          div= voting.userName
          div= voting.votingTitle
          div= voting.expirationDate
