<!DOCTYPE html>
<html>

<head>
  <title>home</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>홈</h1>
  <button><a href='signup'>회원가입</a></button>
  <button><a href='login'>로그인</a></button>
</body>

</html>