<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <%- include('partials/header') %>

    <h1><%= title %></h1>


        <a href='/votings/new'>투표 생성하기</a>
        <a href='/votings'>내 투표보기</a>

  </body>
</html>
