extends layouts/main
include mixins/votingBlock

block styles
  link(rel='stylesheet', href='/stylesheets/partials/author.css')
  link(rel='stylesheet', href='/stylesheets/partials/voting-state.css')
  link(rel='stylesheet', href='/stylesheets/partials/voting-block.css')


block content
  each voting in votings
    +votingBlock(voting)
