<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <button id='logout'>로그아웃</button>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
  <script src='/javascripts/clientLogout.js'></script>
</html>
