extends layout

block content
  section
    h1 Main
    .voting-list-container
      .title
        h2 VOTING LIST
      .voting-list
        each voting in votings
          .list-item
            a(href=`/votings/${voting._id}`)
              if voting.isExpiration
                .item-notExpiration 투표중
              else
                .item-expiration 투표마감
              .item-details
                .item-detail= voting.userName
                .item-detail= voting.votingTitle
                .item-detail= voting.expirationDate
