extends layout

block content
  h1(class='main-title') Pick me!
  main
    each vote in votesData
      a(href=`/votings/${vote._id}`)
        div(class= vote.isInProgress ? 'progress-container' : 'completed-container')
          h2(class='vote-title')= vote.title
          div= vote.writer.nickname
          div.time-container
            div= '~ ' + vote.due_date
            div / in progress
