extends layout
include mixin/votingListItem

block append head
  link(rel="stylesheet" href="/stylesheets/index.css")
block content
  include header
  h1 VotingList
  ul.voting-list
    each voting in votingList
      +votingListItem(voting)

  button.create-voting-button(type="button") Create Voting
  script(src="/javascripts/index.js")
