extends layout
include mixins/voteBlock

block content
  section
    h2 VOTE LIST
    .vote-list
      each vote in votes
        +voteBlock({
          id: vote._id,
          title: vote.title,
          expiration_date: vote.expiration_date,
          author: vote.author.name
        })
