extends layout
block style
  link(rel='stylesheet', href='/stylesheets/home.css')

block content
  if user
    h1(class='main-message') Hello #{user.nickname}!
  else
    h1(class='main-message') Hello Stranger!
  .grid
    each voting in votings
      a(href='votings/#{voting._id}').voting-card
        ul
          include ./votingInfo
