extends layout

block content
  include partials/header
  div.page-container
    div
      h1 투표목록
    -if (votes.length === 0) {
      p 투표를 생성해보세요
    -}
    div.votes
      -votes.forEach((vote) => {
        a(href="/votings/"+vote._id)
          div=vote.title
          div=vote.author
          div.expired-at=vote.expiredAt
          div.vote-state
      -})
  script(src="/javascripts/votingState.js")
  link(rel="stylesheet", href="/stylesheets/list.css")
