<!DOCTYPE html>
<html>

<head>
  <title>Voting Platform</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <%- include("partials/header", {user}) %>
    <main>
      <div class="vote-list">
        <% votes.forEach(vote=> { %>
          <%- include("partials/voteBlock", {vote}) %>
            <% }) %>
      </div>
    </main>
</body>

</html>
