extends layout

block content
  h1(class='main-title') Pick me!
  main
    each voting in votingsData
      a(href=`/votings/${voting._id}`)
        div(class= voting.isInProgress ? 'progress-container' : 'completed-container')
          h2(class='vote-title')= voting.title
          div= voting.writer.nickname
          div.time-container
            div= '~ ' + voting.due_date
            if voting.isInProgress
              div.in-progress-bullet in progress
            else
              div.completed-bullet completed
