<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include("partials/header") %>
    <div>index</div>
    <footer>
      <a href="/votings/new">
        <button>투표 생성하기</button>
      </a>
    </footer>
  </body>
</html>
