<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>

    <%if (flashes) { %>
      <p><%= flashes.success %></p>
    <% } %>

    <main>
      <section class='home-banner'>
        <i class='fas fa-vote-yea fa-5x'></i>
        <p class='title'>필요한 답을 얻으세요.</p>
        <p class='text'>대치동을 선도하는 설문조사 소프트웨어로 필요한 피드백을 얻으세요.</p>
        <a href='/votings/new' class='button'>시작하기</a>
      </section>

      <section class='home-survey-list'>
        <div class='top'>
          <h3>Survey</h3>
          <a href='/votings' class='go-button'>내 투표보기</a>
        </div>
        <% include ./partials/votingList %>
      </section>
    </main>
  </body>
</html>
