extends ./layouts/layout
include mixins/card

block content
  if user
    a.button.button-fixed(href='/votings/new' class='btn-create-vote') Create Vote
  .head-container
    h1 ðŸ—³ íˆ¬í‘œí•˜ì„¸ìš©!
  .container
    if votingList.length <= 0
      h1 ìƒˆë¡œìš´ íˆ¬í‘œë¥¼ ë§Œë“¤ì–´ë³´ì„¸ìš”..!ðŸ™
    else
      .vote-list
        each vote in votingList
          +card({
            id: vote._id,
            title: vote.title,
            author: vote.author,
            expireAt: vote.expireAt,
            isExpired: vote.isExpired
          })
