extends layout
include mixins/voteBlock

block content
  section
    h2 VOTE LIST
    if (user)
      p user check
    else
      p unauthorized
    .vote-list
      each vote in votes
        +voteBlock({
          title: vote.title,
          expiration_date: vote.expiration_date,
          author: vote.author.name
        })
