<!DOCTYPE html>
<html>
  <head>
    <title>Voting Platform</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>홈화면</h1>
    <p>홈화면입니다.</p>
    <form action="/voting/votings/new" method="GET">
      <button type="submit">투표 생성</button>
    </form>
    <form action="/voting/votings/my-votings" method="GET">
      <button type="submit">내 투표보기</button>
    </form>
    <form action="/auth/login" method="GET">
      <button type="submit">로그인</button>
    </form>
    <ul>
      <% votings.forEach(voting => { %>
        <li>
          <p>제목</p>
          <%= voting.title %>
          <p>투표 시작 날짜</p>
          <%= voting.startDate %>
          <p>투표 종료 날짜</p>
          <%= voting.endDate %>
          <p>투표 진행 여부</p>
          <%= voting.isProgress %>
        </li>
      <% }) %>
    </ul>
  </body>
</html>
