<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <div class="main-box">
      <h2 class="main-title">Join</h2>
      <form method="POST" action="/join" class="form-main">
        <label class="label-basic">
          <span class="label-txt">Email</span>
          <input type="email" name="email" class="basic-txt show-infotxt" autocomplete="off" required />
          <span class="info-txt warn-txt">Should be a valid email</span>
        </label>
        <label class="label-basic">
          <span class="label-txt">Password</span>
          <input type="password" name="password" class="basic-txt show-infotxt" autocomplete="off" required />
          <span class="info-txt warn-txt">Should be minimum 6 characters of alphabet & number & special character combination</span>
        </label>
        <label class="label-basic">
          <span class="label-txt">Confirm Password</span>
          <input type="password" name="password_confirm" class="basic-txt show-infotxt" autocomplete="off" required />
          <span class="info-txt warn-txt">Password confirmation does not match</span>
        </label>
        <label class="label-basic">
          <span class="label-txt">Name</span>
          <input type="text" name="name" class="basic-txt show-infotxt" autocomplete="off" required />
          <span class="info-txt warn-txt">Should be 2~4 of Hangeul or 2~20 of alphabet</span>
        </label>
        <button type="submit" class="btn-main">
          Join
        </button>
      </form>
      <a href="/login" class="btn-black">Login</a>
    </div>
    <script src="/javascripts/validation_join.js"></script>
    <script>
      var message = '<%= message %>';

      if (message) {
        alert(message);
      }
    </script>
  </body>
</html>
