<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <h2>Join</h2>
    <form method="POST" action="/join">
      <label>
        <span>Email</span>
        <input type="email" name="email" required />
      </label>
      <label>
        <span>Password</span>
        <span>Should be minimum 6 characters of alphabet & number & special character combination</span>
        <input type="password" name="password" required />
      </label>
      <label>
        <span>Confirm Password</span>
        <input type="password" name="password_confirm" required />
      </label>
      <label>
        <span>Name</span>
        <span>Should be 2~4 of Hangeul or 2~20 of alphabet</span>
        <input type="text" name="name" required />
      </label>
      <button type="submit">
        JOIN
      </button>
    </form>
    <script>
      var message = '<%= error %>';

      if (message) {
        alert(message);
      }
    </script>
  </body>
</html>
