<!DOCTYPE html>
<html>
  <head>
    <title>Voting Platform</title>
    <link rel="stylesheet" href="/stylesheets/login-join.css"/>
  </head>
  <body>
    <header>
      <div class="header">
        <div class="header-wrapper">
          <span>Voting</span>
          <div>
            이미 계정이 있습니다
            <a href="/login" class="sign-up">Login</a>
          </div>
        </div>
      </div>
    </header>
    <div class="join-wrapper">
      <div class="join-image">
        <form action="/auth/join" method="post" class="join-form">
          <% if (message) { %>
            <span class="join-inform-error"><%= message %></span>
          <% } %>
          <div class="join-input">
            <label>Email</label>
            <input
              type="email"
              name="email"
              placeholder="example@example.com"
              autocomplete="off"
              required
            >
          </div>
          <div class="join-input">
            <label>Username</label>
            <input
              type="text"
              name="username"
              maxlength="10"
              autocomplete="off"
              required
            >
          </div>
          <div class="join-input">
            <label>Password</label>
            <input
              type="password"
              id="password"
              name="password"
              autocomplete="off"
              required
            >
          </div>
          <div class="join-input">
            <label>Confirm Password</label>
            <input
              type="password"
              id="confirm-password"
              name="confirm_password"
              autocomplete="off"
              required
            >
            <% if (err) { %>
              <div class="join-inform-error join-inform">
            <% } else { %>
              <div class="join-inform">
            <% } %>
              7 - 14 charactors with numbers, upper and lower letters
              </div>
            </div>
          <div class="login-join-submit">
            <input type="submit" value="Join" id="join-bottom">
          </div>
        </form>
      </div>
    </div>
    <script src="/javascripts/join-vote.js"></script>
  </body>
</html>
