doctype html
html
  head
    title Voting Platform
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/voting.css')
    link(rel="stylesheet", href="/stylesheets/header.css")
    script(src="https://kit.fontawesome.com/29c50469e8.js" crossorigin="anonymous")
  body
    include partials/header
    block content
    include partials/footer
