<!DOCTYPE html>
<html>
  <head>
    <title>Let's Vote</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='icon' href='/images/favicon.png' />
  </head>
  <body>
    <header class="header">
      <% if (user) { %>
        <nav class="bouncy-font">
          <a href="/">Home</a>
          <a href="/auth/logout">Log out</a>
        </nav>
        <nav class="bouncy-font">
          <a href="/votings/new">Create Vote</a>
          <a href="/my-votings">My Votes</a>
        </nav>
        <div class="layout-profile gamja-font">
          <%= user.name %>
        </div>
      <% } else { %>
        <nav class="layout-nav bouncy-font">
          <a href="/">Home</a>
          <a href="/auth/login">Log in</a>
          <a href="/auth/signup">Sign up</a>
        </nav>
      <% } %>
    </header>
    <main class="main">
      <%- body %>
    </main>
    <footer class="footer bouncy-font">
      <div>
        copyright &copy; by Sungjin_Kim
      </div>
    </footer>
  </body>
</html>
