doctype html
html
  head
    title Voting Platform
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/header.css")
    link(rel="stylesheet", href="/stylesheets/voting.css")
    link(rel="stylesheet", href="/stylesheets/footer.css")
  body
    block content
    include partials/footer
