doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/index.css')
  body
    header
      ul
        li(class="title") Voting
        li(class="user") user
    block content
