doctype html
html
  head
    meta(charset='utf-8')
    link(rel="stylesheet", href="/stylesheets/style.css")
    title Voting Platform
    block stylesheet
  body
    include partial/header

    main.flexColumn.alignCentered
      block content
    script(src="/javascripts/index.js")
