doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/v4-shims.css")
  body
    header
    block content
