doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/layout.css')
  body
    header
      ul
        li
          a(class="title", href="/") Voting
        li
          if user
            div(class="user") 
              span #{user.nickname}
              a(class="voting-creation-button", href="/votings/new") 투표 생성
              a(class="my-voting", href="/my-votings") 내 투표
              a(class="header-logout-button", href="/auth/logout") 로그아웃
          else 
            a(class="header-login-button", href="/auth/login") 로그인
    block content
