<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="header">
      <% if (user) { %>
        <nav class="layout-nav">
          <a href="/">Home</a>
          <a href="/auth/logout">Log out</a>
        </nav>
        <nav>
          <a href="/votings/new">
            <div>투표 생성하기</div>
          </a>
          <a href="/my-votings">내 투표 보기</a>
        </nav>
        <div class="layout-profile">
          <%= user.name %>
        </div>
      <% } else { %>
        <nav class="layout-nav">
          <a href="/">Home</a>
          <a href="/auth/login">Log in</a>
          <a href="/auth/signup">Sign up</a>
        </nav>
      <% } %>
    </header>
    <main class="main">
      <%- body %>
    </main>
    <footer class="footer">
      copyright &copy; by Sungjin_Kim
    </footer>
  </body>
</html>
