<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="header">
      <nav>
        <a href="/">Home</a>
        <a href="/auth/login">Log in</a>
        <a href="/auth/signup">Sign up</a>
      </nav>
    </header>
    <main class="main">
      <%- body %>
    </main>
    <footer class="footer">
      copyright &copy; by Sungjin_Kim
    </footer>
  </body>
</html>
