doctype html
html
  head
    meta(charset='utf-8')
    link(rel="stylesheet", href="/stylesheets/style.css")
    title Voting Platform
  body
    include partial/header

    block content
    script(src="/javascripts/index.js")
