doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    case style
      when 'form'
        link(rel='stylesheet',href='/stylesheets/form.css')
      when 'voteForm'
        link(rel='stylesheet',href='/stylesheets/voteForm.css')
  body
    include header
    block content
