doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/layout.css')
  body
    header
      ul
        li(class="title") Voting
        li
          if user
            div(class="user") 
              span #{user.nickname}
              span 더보기
              a(href="/auth/logout") 로그아웃
          else 
            a(href="/auth/login") 로그인
    block content
