doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/constants.css')
    //- meta - compatable
  body
    include partials/header.pug
    block content
