doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    case style
      when 'FORM'
        link(rel='stylesheet',href='/stylesheets/form.css')
      when 'VOTE_FORM'
        link(rel='stylesheet',href='/stylesheets/voteForm.css')
      when 'VOTE'
        link(rel='stylesheet',href='/stylesheets/vote.css')
  body
    include header
    block content
