<!DOCTYPE html>
<html>
  <head>
    <title>Voting-Platform</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" href="#" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <img class="theme-image" src="/images/stefan-siegel-XplCnzSA5Qk-unsplash.jpg" />
    <%- body %>
  </body>
</html>
