doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/css/layout.css')
  body
    content
        block content
    nav
      h1.logo
        a(href='/') Let's vote

      ul
        li
          a(href='/') 투표 목록
        li
          a(href='/votings/new') 새로운 투표 만들기
        li
          a(href='/votings/my-votings') 나의 투표

      if username
        .greeting #{username}님, 반갑습니다!
      else
        .greeting <a href="/users/login">로그인하시고 Let's vote!</a>
