<!DOCTYPE html>
<html>
  <head>
    <title>voting-platform</title>
    <link type='text/css' rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class='wrapper'>
      <%- include('./partials/header.ejs'); %>
      <section>
        <%- body %>
      </section>
    </div>
  </body>
</html>
