<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
      <h1>Login</h1>
      <form action="/login" method="post">
        <p>이메일</p>
        <input type="text" name="email" />
        <p>비밀번호</p>
        <input type="password" name="password" />
        <button type="submit">로그인</button>
      </form>
  </body>
</html>
