<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    LOGIN
    <form method='POST' action=<%=`/login`%>>
      USERNAME: <input type="text" name="username"></input><br/>
      PASSWORD: <input type="text" name="password"></input><br/>
      <button type='submit'>LOGIN</button>
    </form>
    <a href='/signup'>
      <button>Sign up</button>
    </a>
  </body>
</html>
