<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <h1>Log In</h1>
  <form name="login" action="/login" method="POST">
    <input type="text" name="email" placeholder="email" />
    <input type="text" name="password" placeholder="password" />
    <input type="submit" value="Create" />
  </form>
  <a href="/signup">Sign Up</a>
</body>

</html>