<!DOCTYPE html>
<html>
  <head>
    <title>Voting</title>
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
  </head>
  <body>
    <div class="login-box">
      <div class="page-title">WELCOME BACK</div>
      <form action="/login" method="POST">
        <div class="form">
          <input
            type="email"
            name="email"
            placeholder="Email"
          />
        </div>
        <div class="form">
          <input
            type="password"
            name="password"
            placeholder="Password"
          />
        </div>
        <button class="submit-button" type="submit">로그인</button>
      </form>
      <div class="message"><%= message %></div>
      <div class="no-account">No Account?<a href="/register">Register</a></div>
    </div>
  </body>
</html>
