<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Please login </p>
    <form action='/login' method='POST'>
      email: <input type='text' name='email'><br>
      password: <input type='text' name='password'><br>
      <input type='submit' value='Submit'>
    </form>
    <a href='/signup/'>signup</a>
  </body>
</html>
