<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>
    <h1>Login</h1>
    <% if (preUrl) { %>
      <button tpye="button" onclick="location.href='/auth/github<%=preUrl%>'">github Login</button>
    <% } else { %> 
      <button tpye="button" onclick="location.href='/auth/github'">github Login</button>
      <% } %>
  </body>
</html>


