extends layout

block content
  h1 Log In
  form(name="login", action="/login" method="post")
    input.userId(type="text", name="email", placeholder="id")
    input.password(type="text", name="password", placeholder="password")
    input.submit(type="submit", value="로그인")
  a.signup(href="/signup") signUp
  span #{message}