extends ./layouts/layout

block content
  h1 Login
  form(action='/auth/login', method='POST')
    label
      input(required type='email', name='email' placeholder='E-mail')
    label
      input(required type='password', name='password' placeholder='Password')
    input(type='submit' name='submit')
