extends layouts/main

block append head
	link(rel="stylesheet" href="/stylesheets/style.css")
	link(rel="stylesheet" href="/stylesheets/auth.css")

block content
	body
		.auth-form-container.login-form-container
			h1.auth-form-title.login-form-title Log In
			form(action=`/users/login?id=${id}`, method="post").auth-form.login-form
				.auth-form__input-container.login-form__input
					label.form__label(for="email") 이메일
					input.login-form-email(type="email", name="email", placeholder="you@example.com", required=true)
				.auth-form__input-container.login-form__input
					label.form__label(for="password") 비밀번호
					input.login-form-password(type="password", name="password", placeholder="••••••••", minlength="8", required=true)
				.auth-form-buttons-container
					.form__input.form-button-container
						button(type="submit").auth-form-button.main-button Log In
					.form-button-container
						a(href="/users/signup").auth-form-button.sub-button Sign Up
			.logo-container
				span.logo-main Vani
				span.logo-sub Vote
