<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link href='https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap' rel='stylesheet'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class='user-wrap'>
      <div class='user-form'>
        <div class='tab'>
          <h2><a href='/register'>Register</a></h2>
          <h2 class='on'><a href='/login'>Login</a></h2>
        </div>
        <% if (flashes) { %>
          <ul class='flash-messages'>
            <% for(var i=0; i < flashes.error.length; i++) { %>
              <li class='flash flash-error'>
                  <p class='text'><%= flashes.error[i] %></p>
              </li>
            <% } %>
          </ul>
        <% } %>
        <form action='/login' method='POST'>
          <label for='email'>Email Address</label>
          <input type='email' name='email'>
          <label for='password'>Password</label>
          <input type='password' name='password'>
          <input type='submit' value='Login' class='button'>
        </form>
      </div>
    </div>
  </body>
</html>
