<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <%- include("partials/title") %>
  <%- include("partials/authButton") %>
  <%- include("partials/menu") %>
  <span>Log In</span>
  <form name="login" action="/login" method="POST">
    <input type="text" name="email" placeholder="email" />
    <input type="text" name="password" placeholder="password" />
    <input type="submit" value="Create" />
  </form>
  <a href="/signup">Sign Up</a>
</body>

</html>