<div class="body-container small-container">
  <h1>Log In</h1>
  <form class="form" action="/auth/login" method="POST">
    <div class="alert-msg">
      <%= message %>
    </div>
    <div class="input-container">
      <label for="email">이메일</label>
      <input type="email" name="email" />
    </div>
    <div class="input-container">
      <label for="password">비밀번호</label>
      <input type="password" name="password" />
    </div>
    <button class="submit-button" type="submit">확인</button>
  </form>
</div>
