<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/login.css' />
</head>

<body>
  <div class='container'>
    <%- include('partials/header') %>

    <main>
      <form action='/login' method='POST'>
        <div class='login-form'>
          <input type="email" name='email' placeholder='email'>
          <input type="password" name='password' placeholder='password'>
        </div>
        <div class='login-submit'>
          <button type='submit'>로그인</button>
        </div>
      </form>
    </main>
  </div>
</body>

</html>
