extends ./layouts/layout

block content
  h1 Login
  form(action='/auth/login', method='POST')
    label
      | email
      input(type='email', name='email' required)
    label
      | password
      input(type='password', name='password' required)
    input(type='submit' name='submit')
