<div>
  <form action="/auth" method="POST">
    <div>
      <input type="email" placeholder="아이디(이메일)" name="email" />
    </div>
    <div>
      <input type="password" placeholder="비밀번호" name="password" />
    </div>
    <div>
      <input type="submit" />
    </div>
  </form>
</div>
