<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai+2|Sunflower:300&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet" />
  </head>
  <body>
    <section class="loginSection">
      <h1><%= loginMsg %></h1>
      <form class="loginForm" action="/login" method="POST">
        <input type="text" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit">Submit</button>
      </form>
    </section>
  </body>
</html>
