extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/login.css")

block content
  .login
    h1 Login
    form.login-form(action="/login" method="POST")
      .login-field
        label(for="email" ) email:
        input(type="email" name="email" id="email" required)
      .login-field
        label(for="password" ) password:
        input(type="password" name="password" id="password" required)
      input(type="submit" value="LOGIN")
    .signup Don't have an account?
      a(href="/signup") SIGN UP

