extends layout

block content
  section
    h2 Login
    .login-wrapper
      form#login-form
        .form-box
          label(for="email") E-MAIL
          input(id="email" type="email" name="email" autocomplete required)
        .form-box
          label(for="password") PASSWORD
          input(id="password" type="password" name="password" autocomplete required)
      p.validation.hidden
  ul.button-list
    li
      button#loginButton(type="submit" class="button" form="login-form") LOGIN
    li
      button(type="button" class="button") LOGIN WITH GOOGLE
    li
      a(href="/users/signup" class="button") CREATE ACCOUNT
  script(type="module" src="/javascripts/login.js")
