<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <header>
    <% include ./partials/header %>
  </header>
  <div class="">
    <h3 class="">Login</h3>
    <form action="/auth/login" method="POST">
      <div class="">
        <div class="">
          <label for="email" class="">E-mail*</label>
          <div class="">
            <input type="text" name="email" value="<%= userInput.email %>" class="">
            <% if(errors.email){ %>
              <div class="">
                <span class="invalid-feedback"><%= errors.email.message %></span>
              </div>
            <% } %>
          </div>
        </div>
        <div class="">
          <label for="password" class="">Password*</label>
          <div class="">
            <input type="text" name="password" value="<%= userInput.password %>" class="">
            <% if(errors.password){ %>
              <div class="">
                <span class="invalid-feedback"><%= errors.password.message %></span>
              </div>
            <% } %>
          </div>
        </div>
        <div class="">
          <input type="submit" class="" value="Login">
        </div>
      </div>
    </form>
  </div>
</body>
</html>
