extends layout

block content
  link(rel='stylesheet', href='/stylesheets/login.css')
  form(class="login-form" action="/auth/login", method="post")
    h1(class="login-title") Log in
    div
      label 이메일
      input(type="text", name="email")
    div
      label 비밀번호
      input(type="password", name="password")
    button(type="submit") Log in
    if (errorMessage)
      p #{errorMessage}
