<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Sign In</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet" />
  </head>
  <body>
    <section class="loginSection">
      <h1><%= loginMsg %></h1>
      <form class="loginForm" action="/users/login" method="POST">
        <input type="text" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <% if (locals.referer) { %>
          <input type="hidden" name="referer" value= <%= referer %> >
        <% } %>
        <button type="submit" class="loginSubmit">Sign In</button>
        <button type="button" class="goHomeLoginPage">Go Home</button>
      </form>
    </section>
    <script>
      document.querySelector(".goHomeLoginPage").addEventListener("click", () => {
        window.location.href = "http://localhost:3000/";
      });
    </script>
  </body>
</html>
