<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <div class="main-box">
      <h2 class="main-title">
        Login
      </h2>
      <form method="POST" action="/login" class="form-main">
        <label class="label-basic">
          <span class="label-txt">Email</span>
          <input type="email" name="email" class="basic-txt" required />
        </label>
        <label class="label-basic">
          <span class="label-txt">Password</span>
          <input type="password" name="password" class="basic-txt" required />
        </label>
        <button type="submit" class="btn-main">
          Login
        </button>
      </form>
      <a href="/join" class="btn-black">Sign Up</a>
    </div>
    <script>
      var message = '<%= message %>';

      if (message) {
        alert(message);
      }
    </script>
  </body>
</html>
