<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>로그인</title>
</head>
<body>
  <form action='/login' method='POST' autocomplete='off'>
    <label for='email'>이메일: </label>
    <input
      type='email'
      pattern='[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*'
      id='email'
      name='email'
      required
    ><br>
    <label for='password'>비밀번호: </label>
    <input
      type='password'
      id='password'
      name='password'
      required
    ><br>
    <input type='submit' value='로그인'>
  </form>
  <a href='/signup'>가입</a>
</body>
</html>
