extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/login.css")

block content
  .login
    form.login-form(action="/auth/login" method="POST")
      h1 Login
      .login-container
        .login-field
          input(type="email" name="email" id="email" placeholder="email" required)
        .login-field
          input(type="password" name="password" id="password" placeholder="password" required)
        if errorMessage
          h3.errorMessage #{errorMessage}
      input.button(type="submit" value="LOGIN")
      .signup Don't have an account?
        a(href="/signup") SIGN UP
