<h1>Log In</h1>
<form class="login-form" action="/auth/login" method="POST">
  <div>
    <label for="email">email : </label>
    <input name="email" />
  </div>
  <div>
    <label for="password">password : </label>
    <input name="password" />
  </div>
  <button type="submit">확인</button>
</form>
