<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/login.css" />
    <title>Login</title>
  </head>
  <body>
    <header>
      <a href="/">
        <div>
          투표목록
        </div>
      </a>
      <a href="/signup">
        <div>
          회원가입
        </div>
      </a>
    </header>
    <div class="login-wrapper">
      <div class="login-form-wrapper">
        <div>
          <h1>Login</h1>
        </div>
        <form action="/login/?pageId=<%= pageId %>" method="POST">
          <div class="form">
            <div class="email">
              <i class="fa fa-envelope"></i>
              <label for="email">Email: </label>
              <input type="email" id="email" name="email" required />
            </div>
            <div class="password">
              <i class="fa fa-key"></i>
              <label for="password">Password: </label>
              <input type="password" id="password" name="password" required />
            </div>
          </div>
          <div class="login-btn-wrapper">
            <button type="submit" class="login-btn">로그인</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
