include mixins/voteList
include mixins/header
include mixins/sidebar
head
  link(rel='stylesheet' href='/css/form.min.css')
  link(rel='stylesheet' href='/css/dashboard.min.css')
  script(src='https://kit.fontawesome.com/5fab680b0a.js' crossorigin='anonymous')
.container
  +sidebar()
  .wrapper
    +header(user)
    .main-container
      .form-container.delay-animation(style='--delay: .1s')
        h2 LOGIN
        form.vote-form(action='/auth/login' method='POST')
          .form-group
            label(for='email') Email
            input#email.form-control(type='email' name='email' required)
          .form-group
            label(for='password') Password
            input#password.form-control(type='password' name='password' required)
          button.submit-button(type='submit') LOGIN
