extends layouts/main

block styles
  link(rel='stylesheet', href='/stylesheets/form.css')

block content
  .form-container
    form(action=routes.LOGIN, method="post")
      input(type="email", name="email", placeholder="Email", required=true)
      input(type="password", name="password", placeholder="Password", required=true)
      input(type="submit", value="Login")
    include partials/googleLogin
