extends layouts/layout
include mixins/voteCard

block content
  link(rel="stylesheet/less" type="text/css" href="/stylesheets/main.less")
  link(rel="stylesheet/less" type="text/css" href="/stylesheets/voteCard.less")
  .main__outer
    .main__container
      each vote in votes
        +voteCard(vote)
  script(src="/javascripts/voteCards.js" type="text/javascript")
