extends layout.pug

block content
  h2 Voting Content
  div.buttons
    a(href="/votings/new") 새로운 투표 등록하기
  .votingContainer
    each data in list
      div.votingBox
        a(href=`/votings/${data.id}`) #{data.title}
