<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/login.css" />
    <title>바닐라코딩 투표 플렛폼</title>
  </head>
  <body>
    <div class="container">
      <div style="text-align: center;"><h2 className="form-signin-heading">투표 만들기</h2></div>
      <form className="form-signin" action="/votings/new" method="POST">
        <div class="group">
          <input type="name" required autoFocus name="title" />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>투표 이름</label>
        </div>
        <div class="group">
          <input type="datetime-local" required name="date" />
          <span class="highlight"></span>
          <span class="bar"></span>
        </div>

        <div class="option-title">
          <span>항목은 2개 이상 입력해주세요</span>
        </div>
        <div id="options-box">
          <input type="text" name="options" placeholder="항목" required />
          <input type="text" name="options" placeholder="항목" required />
        </div>
        <div class="button-group">
          <div id="optionPlus"><span>항목 추가</span></div>
          <div id="optionDel"><span>항목 제거</span></div>
          <div style="display: inline-block"><input class="vote-submit" type="submit" value="제출" /></div>
        </div>
        <div class="go-to-list"><a href="/"><span>투표목록으로</span></a></div>
      </form>
    </div>

    <script>
      (function() {
        var optionBox = document.getElementById('options-box');

        function plusOption() {
          var createInput = document.createElement('input');
          createInput.setAttribute('type', 'text');
          createInput.setAttribute('name', 'options');
          createInput.setAttribute('placeholder', '항목');
          createInput.setAttribute('required', '');
          optionBox.appendChild(createInput);
        }
        function delOption(e) {
          if (optionBox.children.length > 2) {
            optionBox.removeChild(optionBox.lastChild);
          }
        }
        document
          .getElementById('optionPlus')
          .addEventListener('click', plusOption);

        document
          .getElementById('optionDel')
          .addEventListener('click', delOption);
      })();
    </script>
  </body>
</html>
