.modal-bg.hidden
  .modal-box
    .modal-header.flex-center 결과
      button#closeModalButton.button(type="button") X
    .modal-content.flex-center
      p #{message}
    .modal-footer.flex-center
      ul.footer-list
        li
          a.button(href="/") GO TO MAIN
