.modal-bg.hidden
  .modal-box
    .modal-header
      button#closeModalButton.button(type="button") X
    .modal-content
      p #{message}
    .modal-footer
      ul.button-list
        li
          a.button(href="/") GO TO MAIN
