extends layout

block content
  section.my-page
    h1 마이페이지
    div.my-vote-container
      each vote in myVotes
        a(href=`/votings/${vote._id}`)
          div.each-vote-container
            h2= vote.title
            span= vote.due_date
