<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/myVotes.css" />
  <title>myVoteList</title>
</head>
<body>
  <header>
    <a href="/signup">
      <div>
        회원가입
      </div>
    </a>
    <a href="/">
      <div>
        투표목록
      </div>
    </a>
    <% if (isUserLogedIn) { %>
      <div class="logout-wrapper">
        <button class="logout-btn">로그아웃</button>
      </div>
    <% } %>
  </header>
  <main class="myVoteList-wrapper">
    <div class="voteList-wrapper">
      <% for (let i = 0; i < myVoteList.length; i++) { %>
        <a href="/votings/<%= myVoteList[i]._id %>">
          <div class="vote">
            <h3 class="title">
              <%= myVoteList[i].title %>
            </h3>
            <div class="creator">
              <i class="fa fa-id-card"> 작성자: </i>
              <%= myVoteList[i].creator %>
            </div>
            <div class="expire-date">
              <i class="fa fa-table"> 마감일: </i>
              <%=
                myVoteList[i].endDate.getFullYear() + "년 " +
                (myVoteList[i].endDate.getMonth() + 1) + "월" +
                myVoteList[i].endDate.getDate() + "일"
              %>
            </div>
            <div class="vote-status">
              <% if (myVoteList[i].isOnVote === "true") { %>
                <div>
                  <i class="fa fa-paper-plane"></i>
                  투표 진행중
                </div>
              <% } else { %>
                <div class="ended-vote">
                  <i class="fa fa-times-circle"></i>
                  투표 마감
                </div>
              <% } %>
            </div>
          </div>
        </a>
      <% } %>
    </div>
  </main>
  <Script src="/javascripts/index.js"></Script>
</body>
</html>
