<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>myVotings</title>
</head>

<body>
  <h1>내 투표</h1>
  <div>
    <% allVotings.forEach(voting => { %>
       <% if (String(votings._id) === userId) { %>
          
       <% } %>
    <% })%>
  </div>
</body>

</html>
