extends layouts/layout

block content
  .home__title
    h1 내가 만든 투표
  .home__votingListsWrap
    if (myVotingData.length)
      each votingData in myVotingData
        a(href=`/votings/${votingData._id}`).home__votingListBox
          h1= votingData.title
          div
            span 투표기한 #{votingData.expiredTime}
          div
            span 생성자 #{votingData.creator}
          if (votingData.isVotingClosed)
            h2 투표 종료
          else
            h2 투표 진행중
    else
      h1 진행중인 투표가 없습니다.