<!DOCTYPE html>
<html>

<head>
  <title>Voting Platform</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/index.css" />
  <link rel="stylesheet" href="/stylesheets/pagination.css" />
</head>

<body>
  <%- include("partials/header", {user}) %>
    <main>
      <div class="vote-list">
        <% if (votes.length === 0) { %>
          NO MORE VOTES
          <% } else { %>
        <% votes.forEach(vote=> { %>
          <%- include("partials/voteBlock", {vote}) %>
            <% }); %>
            <% } %>
      </div>
    </main>

    <%- include("partials/pagination", {currentPage, pageNumbers}) %>
      <script src="/javascripts/pagination.js"></script>
</body>

</html>
