extends layout

block content
  include partials/header
  div.page-container
    h1 내 투표 목록을 살펴보세요
    -if (myVotings.length !== 0) {
      div.votes
        -myVotings.forEach(vote => {
          a(href="/votings/"+vote._id)
            div ⭐️
            div=vote.title
            div.expired-at=vote.expiredAt
            div.vote-state
        -})
    -} else {
      p 내 투표가 없습니다
    -}
  script(src="/javascripts/votingState.js")
  link(rel="stylesheet", href="/stylesheets/myVotings.css")
