extends layout

block content
  h1 my votings
  div
    each voting in votings
      div
        a(href=`/votings/${voting._id}`)
          h2=voting.votingTitle
          div=voting.expirationDate
          if voting.isExpiration
            div 진행중
          else
            div 투표완료