<div class="body-container">
  <h1>내 투표</h1>
  <div class="votes-container">
    <% if (votes.length > 0) { %>
      <% votes.map((vote) => { %>
        <a href="/votings/<%= vote._id %>">
          <div class="vote">
            <h1><%= vote.title %></h1>
            <div>마감일 : <%= vote.dueDate %></div>
          </div>
        </a>
      <% }) %>
    <% } else { %>
      <div>No votes..😥</div>
    <% }%>
  </div>
</div>
