<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>myVotings</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include('partials/header') %>

  <main>
    <h1>내 투표</h1>

    <div>
      <% myVotingList.forEach(voting => { %>
      <ul>
        <li>제목: <%= voting.title %></li>
        <li>작성자: <%= voting.author %></li>
        <li>만료 날짜: <%= new Date(voting.endDate) %></li>
        <% if (new Date(voting.endDate).getTime() >= currentDate ) { %>
        <li>진행 여부: 진행중</li>
        <% } else { %>
        <li>진행 여부: 기간 만료</li>
        <% } %>
      </ul>
      <% })%>
    </div>

      <button><a href='/'>목록</a></button>
  </main>
</body>

</html>
