extends ./layouts/layout
include mixins/card

block content
  .head-container
    h1 My Votings
  .sub-container
    if votingList && votingList.length > 0
      .vote-list
        each vote in votingList
          +card({
            id: vote._id,
            title: vote.title,
            author: vote.author,
            expireAt: vote.expireAt,
            isExpired: vote.isExpired
          })
    else
      h1 투표 리스트가 없습니다..🥲