extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/myVotings.css")
  link(rel="stylesheet", href="/stylesheets/sidebar.css")

block content
  body
    .my-votings
      include includes/sidebar.pug
      h1 123