<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/navbar.css' />
  </head>
  <body>
    <div class='navbar'>
      <div class='user-info'>
        <%if(user){%>
        <span id='user-name'>Hi, <%= user.name%></span>
        <%}%>
        <a id='logout' href='/auth/logout'>SIGN OUT</a>
      </div>
    </div>
  </body>
</html>
