<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Baloo+2:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/49f652a05a.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <%- include('header') %>
    <div>
      <h1 class="main-title"><%= title %></h1>
      <form action="/votings/new" method="POST" class="new-container">
        <div>
          <input type="text" placeholder="투표 제목" name="title" class="textbox" />
        </div>
        <div>
          <% for(let i = 0; i < count; i++) { %>
            <div>
              <input type="text" placeholder="투표 선택사항" name="selections" class="textbox" />
            </div>
          <% } %>
        </div>
        <div>
          <input type="datetime-local" placeholder="만료날짜" name="expired_date" value="<%= defaultDate %>" class="textbox" />
        </div>
        <div>
          <input type="submit" class="buttonbox" />
        </div>
      </form>
    </div>
  </body>
</html>
