<!--
투표 제목, 투표 선택 사항, 만료 날짜 및 시간을 입력할 수 있어야 합니다.
투표 목록으로 돌아갈 수 있는 버튼이 있어야 합니다.
선택 사항은 반드시 2개 이상이어야 생성이 가능합니다.
투표를 생성하게 되면 메인 페이지의 전체 투표 목록에 반영되고 누구나 투표가 가능합니다.
투표 생성 직후 사용자는 메인 페이지(/)로 이동합니다.
-->
<%- include('header') %>
<div>
  <form action="/votings/new" method="POST">
    <div>
      <input type="text" placeholder="투표 제목" name="title" />
    </div>
    <div>
      <% for(let i = 0; i < count; i++) { %>
        <div>
          <input type="text" placeholder="투표 선택사항" name="selections" />
        </div>
      <% } %>
    </div>
    <div>
      <input type="datetime-local" placeholder="만료날짜" name="expired_date" />
    </div>
    <div>
      <input type="submit" />
    </div>
  </form>
  <a href="/">돌아가기</a>
</div>
