<!DOCTYPE html>
<html>
  <body>
    <h1>새로운투표만들기</h1>
    <div>Welcome to <%=  %></div>
    <div class="new-box">
      <form action="/votings/new" method="POST">
        <div class="form">
          <label>title</label>
          <input type="text" name="title">
        </div>
        <div class="form">
          <label>description</label>
          <input type="text" name="description">
        </div>
        <div class="form">
          <label>expiration</label>
          <input type="datetime-local" name="expiration">
        </div>
        <div class="form" id="in">
          <label>options</label>
          <input type="text" name="option" required>
          <input type="text" name="option" required>
        </div>
        <div id="add-button">++options</div>
        <div id="remove-button">--options</div>
        <button id="submit-button" type="submit">새로운 투표 생성</button>
        <a href="/">돌아가기</a>
      </form>
    </div>
    <script>
      function addInput() {
        const addedInput = document.createElement("input");
        const button = document.getElementById("add-button");
        document.getElementById("in").appendChild(addedInput);
        addedInput.setAttribute("type", "text");
        addedInput.setAttribute("name", "option");
        addedInput.setAttribute("required", "");
      }
      function delInput() {
        const list = document.getElementById("in");
        list.removeChild(list.lastChild);
      }
      document.getElementById("remove-button").addEventListener("click", delInput);
      document.getElementById("add-button").addEventListener("click", addInput);
    </script>
  </body>
</html>
