<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class='voting-new'>
      <form method='post'>
        <div>
          <input type='text' name='title' placeholder='투표제목' autocomplete='off' />
        </div>
        <div>
          <input id='date' type='date' name='expire-day' />
        </div>
        <div id='poll-selector'>
          <input id='poll-option' type='text' name='option' placeholder='항목 입력' autocomplete='off' />
          <input id='poll-option' type='text' name='option' placeholder='항목 입력' autocomplete='off' />
        </div>
        <button type='button' id='plus-option'>항목추가</button>
        <button id='make-voting'>투표 만들기</button>
      </form>
      <a href='/'>HOME</a>
    </div>
    <link rel='stylesheet' href='/stylesheets/new.css' />
    <script type='text/javascript' src='/javascripts/appendOption.js'></script>
    <script type='text/javascript' src='/javascripts/verifyDate.js'></script>
  </body>
</html>
