<div class='vote-new'>
  <form action='/votings/new' method='post'>
    <label>
      <p>제목</p>
      <input type='text' name='title' required>
    </label>
    <label>
      <p>설명</p>
      <input type='text' name='description'>
    </label>

    <div class='options'>
      <label>
        <p>항목</p>
      </label>
      <button type='button' class='add-option'>+</button>

      <ul class='options-list'>
        <li>
          <input type='text' name='options' required>
        </li>
        <li>
          <input type='text' name='options' required>
        </li>
      </ul>
    </div>

    <label>
      <p>만료일</p>
      <input type='datetime-local' class='setDate' name='expired' required>
    </label>

    <div class='buttons'>
      <input type='submit' value='투표 생성'>
    </div>
  </form>

  <script>
    const tzoffset = (new Date()).getTimezoneOffset() * 60000;
    const dateInit = (new Date(Date.now() - tzoffset)).toISOString().slice(0, 16);
    const $setDate = document.querySelector('.setDate');
    const $ul = document.querySelector('.options-list');
    const $addOption = document.querySelector('.add-option');
    let count = 0;

    $setDate.setAttribute('min', dateInit);
    $setDate.setAttribute('value', dateInit);

    $addOption.addEventListener('click', () => {
      const $li = document.createElement('li');
      const $input = document.createElement('input');
      const $chkBox = document.createElement('input');
      const $btnDestroy = document.createElement('button');
      const $btnDestroyText = document.createTextNode('x');

      $input.setAttribute('type', 'text');
      $input.setAttribute('name', 'options');
      $input.setAttribute('required', '');
      $btnDestroy.setAttribute('id', `btn-destroy-${count}`);
      $btnDestroy.appendChild($btnDestroyText);
      $li.appendChild($input);
      $li.appendChild($btnDestroy);
      $ul.appendChild($li);

      const $del = document.querySelector(`#btn-destroy-${count}`);

      $del.addEventListener('click', (ev) => {
        ev.currentTarget.parentElement.remove();
      });

      count++;
    });
  </script>
</div>
