extends layout

block content
  head
    link(rel="stylesheet", href="/stylesheets/css/new_voting.css")
  h1 새로운 투표를 생성!

  form(action="" method="post")
    .form-wrapper
      .metaForm
        .input-wrapper
          div
            label(for="subject") 주제
            input(type="text" name="subject" required)
        .input-wrapper
          div
            label(for="description") 설명
            textarea(name="description")
        input(type="hidden" name="author" value=`${userId}`)
        br
        div
          #rangeValue 몇 시간 후 투표를 종료할까요? <br/> (설정하지 않으면 3시간 후 종료됩니다)
          input(type="range" name="expireTo" id="expireTo" min="1", max="24" value="3")

      .ballotForm
        .input-wrapper
          div
            label 후보 1
            input(type="text" name="candidates[0][title]" required)
          div
            label 설명
            textarea(name="candidates[0][content]" required)
        .input-wrapper
          div
            label 후보 2
            input(type="text" name="candidates[1][title]" required)
          div
            label 설명
            textarea(name="candidates[1][content]" required)
        button#addCandidate 후보 추가하기

    br

    input(type="submit" value="투표 생성하기!")

    script(src="/utils/insertNewCandidateInput.js")
    script(src="/javascript/new_voting.js")
