extends ./layouts/layout

block content
  h1 New vote
  form(action='/votings/new', method='POST')
    label
      | title
      input(type='text', name='title' required)
    label
      | expiredAt
      input(type='datetime-local', name='expireAt', value=`${time}` min=`${time}` step=3600 required)
    label
      | voting List
      .item-container
        input(type='text', id='item' required)
        button#btn-add-item 추가
      ul.item-list
    input(type='submit')
  script(src='/javascripts/index.js')
