<!DOCTYPE html>
<html>
  <head>
    <title>Voting Platform</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/newVoting.css" />
  </head>
  <body>
    <section class="main-page">
      <article class="side-page">
        <h2 class="title">
          VOTING<br>
          PLATFORM
        </h2>
        <pre class="description">
          μƒλ΅μ΄ ν¬ν‘λ¥Ό λ§λ“λ” κ³µκ°„μ…λ‹λ‹¤.
          μµμ…μ€ μ΄ 5κ°!
          ν¬ν‘ μΆ…λ£ μ‹κ°„μ€ ν„μ¬ μ‹κ°„ μ΄ ν›„λ΅ μ„¤μ •ν•μ…”μ•Όν•©λ‹λ‹¤!!!
          μ–‘μ‹μ„ μ μ¶ν•μ‹λ©΄ λ©”μΈ νμ΄μ§€μ—μ„ λ‹Ήμ‹ μ ν¬ν‘λ¥Ό ν™•μΈν•΄λ³΄μ„Έμ”!π¥³
        </pre>
      </article>
      <article class="container">
        <article class="voting card">
          <form action="/voting/votings/new" method="POST">
            <h4>ν¬ν‘ μ λ©</h4>
            <input type="text" name="title" required=true>
            <p>ν¬ν‘ μΆ…λ£ μ‹κ°„</p>
            <input type="datetime-local" name="end-date" required=true>
            <p>ν¬ν‘ λ©λ΅</p>
            <div class="options">
              <input type="text" name="option" required=true>
              <input type="text" name="option" required=true>
              <input type="text" name="option">
              <input type="text" name="option">
              <input type="text" name="option">
            </div>
            <button type="submit">μ–‘μ‹ μ μ¶</button>
          </form>
          <a href="/">ν¬ν‘ λ©λ΅μΌλ΅</a>
        </article>
      </article>
    </section>
  </body>
</html>
