<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>새 투표 만들기</title>
</head>
<body>
  <a href='/'>투표 목록으로</a>
  <h2>새 투표 만들기</h2>
  <form action='/votings/new' method='post'>
    <label for='title'>투표 제목</label><br>
    <input
      type='text'
      name='title'
      autocomplete='off'
      required
    ><hr>
    <label for='options'>선택지</label><br>
    <div id='options'>
      <input
        type='text'
        name='options'
        autocomplete='off'
      ><br>
    </div>
    <button type='button' id='add-option'>선택지 추가</button>
    <hr>
    <label for='expiration-date'>만료 날짜</label><br>
    <input type='date' name='expiration-date' required><br>
    <input type='time' name='expiration-date' required><hr>
    <input type='submit' value='만들기'>
  </form>
</body>
<script src='/javascripts/addNewVotingOption.js'></script>
</html>