include mixins/voteList
include mixins/header
head
  link(rel='stylesheet' href='/css/form.min.css')
  link(rel='stylesheet', href='/css/dashboard.min.css')
  script(src='https://kit.fontawesome.com/5fab680b0a.js' crossorigin='anonymous')
.container
  .sidebar
    a.logo-expand(href='/') Vote
    include partials/sidebar.pug
  .wrapper
    +header(user)
    .main-container
      .form-container.delay-animation(style='--delay: .1s')
        h2 Create New Vote
        form.vote-form(action='/vote/new' method='POST')
          .form-group
            label(for='title') Title
            input.form-control(type='text' name='title' placeholder='Enter title' required)
          .form-group
            label(for='title') Expired At
            input(type='datetime-local' name='expiredAt' min=`${currentDateTime}` required)
          .form-group
            p Add Options
            input.add-option-text(type='text')
            button.add-option-btn(type='button') ADD
            ul.options
          .form-group
            p Image Url
            input.form-control(type='text' name='imgUrl' placeholder='Enter title')
          .form-group
            p Description
            textarea.input-textarea(name='description' placeholder='Say something...')
          .form-group
            button.submit-button(type='submit' disabled)
              | Submit
script(type='text/javascript' src='../javascripts/newVote.js')
