<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>success</title>
</head>

<body>
  <h1>투표 생성 완료 !</h1>
  <button><a href='/'>목록</a></button>
</body>

</html>
