extends ./layouts/layout

block content
  form.new-vote(action='/votings/new', method='POST')
    h1 New vote
    label
      input(type='text', name='title' required placeholder='Title')
    label
      input(required type='datetime-local', name='expireAt', value=`${time}` min=`${time}` step=3600)
    label
      .item-container
        input(type='text', id='item' placeholder='Voting List')
        button.button.button-small#btn-add-item Add
      ul.item-list
    input.button(type='submit' value='Submit')
  script(src='/javascripts/index.js')
