<!DOCTYPE html>
<html>
  <%- include('partial/head') -%>
  <body>
    <%- include('partial/header') -%>
    <div class="container">
      <h2>New Vote</h2>
      <form action="/votings" class="form" method="POST">
        <p>
          <label for="voting-name">VOTE NAME</label>
          <input type="text" id="voting-name" name="voting_name" />
        </p>
        <p>
          <label>EXPIRATION</label>
          <input type="date" id="expiration-date" name="expiration_date" />
        </p>
        <p>
          <input type="time" id="expiration-time" name="expiration_time" />
        </p>
        <label>OPTIONS</label>
        <fieldset class="options-area">
          <p>
            <input type="text" name="options" />
          </p>
        </fieldset>
        <div class="buttons-wrap">
          <button class="add-options button">Add options</button>
          <button class="remove-options button danger">Remove options</button>
        </div>
        <div class="buttons-wrap">
          <button type="submit" class="button confirm">SUBMIT</button>
        </div>
      </form>
    </div>
    <%- include('partial/scripts') -%>
  </body>
</html>
