extends layout
block append head
  link(rel='stylesheet' href='/css/newForm.min.css')
block content
  form#vote-form(action='/votings/new' method='POST')
    .form-group
      label(for='title') Title
      input.form-control(type='text' name='title' placeholder='Enter title' required)
    .form-group
      label(for='title') Expired At
      input(type='datetime-local' name='expiredAt' required)
    .form-group
      p Add Options
      input.add-option-text(type='text')
      button.add-option-btn(type='button') ADD
      ul.options
    .form-group
      p Description
      textarea.input-textarea(name='description' placeholder='Say something...')
    .form-group
      button.submit-button(type='submit')
        | Submit

  script(type='text/javascript' src='../javascripts/newVote.js')
