<div class="new-voting-wrapper">
  <div class="main-bar">
    <div class="main-title">
      <h1>Make Your Voting</h1>
    </div>
  </div>

  <div class="new-voting-content">
    <div class="new-voting-board">
      <div class="new-voting-form">
        <form method="post" action="/votings/new">
          <p>
            <input
              class="voting-input"
              type="text"
              name="title"
              placeholder="&#xf1d8; title"
              required
            >
          </p>
          <p>
            <input
              class="voting-input"
              type="datetime-local"
              name="expired_at"
              required
            >
          </p>
          <p>
            <div class="voting-input-box">
              <input
                class="voting-input"
                type="text"
                name="options"
                placeholder="&#xf0b0 option"
                required
              >
              <input
                class="voting-input"
                type="text"
                name="options"
                placeholder="option"
                required
              >
            </div>
            <button class="voting-add-button">+</button>
            <button class="voting-delete-button">-</button>
          </p>
          <div class="new-voting-error">
            <% if (typeof message !== "undefined") { %>
              <%= message %>
            <% } %>
          </div>
          <p class="voting-button">
            <input class="voting-submit" type="submit" value="Submit">
          </p>
        </form>
        <div class="voting-button-box">
          <a class="voting-button" href="/">
            <button class="voting-redirect">Return</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/javascripts/handleInput.js"></script>
