<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/newVoting.css">
  <title>Document</title>
</head>
<body>
  <header>
    <% include ./partials/header %>
  </header>
  <div class="">
    <form action="/votings/new" method="POST">
      <div class="">
        <div class="">
          <label>  투표 제목
            <input type="text" class="" name="title">
          </label>
        </div>
        <div class="" id="options">
          <label>선택지
            <input type="text" class="" name="options">
          </label>
        </div>
        <div class="">
          <label>투표 종료일
            <input type="datetime-local" class="" name="date">
          </label>
        </div>
        <% if (locals.message) { %>
          <div class="">
            <h2><%= message.fail %></h2>
          </div>
        <% } %>
        <div class="">
          <label>만들기
            <input type="submit" class="">
          </label>
        </div>
      </div>
    </form>
  </div>
  <button onclick="handleClick();">
    한개 더 만들기.
  </button>
</body>
<script>
  function handleClick () {
    const createContent = document.querySelector('#options');
    const newInput = document.createElement("input");
    newInput.type = "text";
    newInput.name = "options"

    createContent.appendChild(newInput);
  }
</script>
</html>
