<!DOCTYPE html>
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet' href='/stylesheets/style.css')
    title new Voting
  body
    div.basicwarp
      h1 투표 만들기
      form
        div.inputBox
          input(type='text' id="title" name='title' placeholder='투표 제목')
        div.inputBox
          label(for="endDate") 마감시간
          input.inputDate(type='date' id="endDate" name='endDate')
          input.inputTime(type='time' id="endTime" name='endTime')
        div.inputBox
          input(type='text' name='option1' placeholder='항목 입력')
        div.inputBox
          input(type='text' name='option2' placeholder='항목 입력')
        div.errorAlert
        div.buttonwrap
          input.button.blue(type='submit' value='완료')
        div.buttonwrap
          input.button.line-blue(type='button' onclick='location.href=\'/\'' value='취소')
      script(
        type='text/javascript'
        src='/javascripts/newVoting.js'
      )
