<!DOCTYPE html>
<html lang="ko">
<head>
  <%- include("partials/head") %>
  <link rel="stylesheet" href="/stylesheets/newVoteForm.css">
</head>
<body>
  <%- include("partials/signContents") %>
  <form id="new-vote-form">
    <label>
      투표 주제
      <input
        id="vote-title"
        name="title"
        type="text"
        placeholder="투표 주제를 정해주세요"
      />
    </label>
    <label>
      후보
      <input
        id="options-number"
        type="number"
        min="2"
        value="2"
      />개
    </label>
    <div id="options-container">
      <input
        class="option"
        name="option"
        type="text"
        placeholder="후보를 정해주세요"
      />
      <input
        class="option"
        name="option"
        type="text"
        placeholder="후보를 정해주세요"
      />
    </div>
    <div>
      <label>
        <input
          id="year"
          name="year"
          type="number"
          max="9999"
        />년
      </label>
      <label>
        <input
          id="month"
          name="month"
          type="number"
          min="1"
          max="12"
        />월
      </label>
      <label>
        <input
          id="date"
          name="date"
          type="number"
          min="1"
          max="31"
        />일
      </label>
      <label>
        <input
          id="hours"
          name="hours"
          type="number"
          min="0"
          max="23"
        />시
      </label>
      <label>
        <input
          id="minutes"
          name="minutes"
          type="number"
          min="0"
          max="59"
        />분
      </label>
    </div>
    <input type="submit" value="생성"/>
  </form>
  <script src="/javascripts/newVoteForm.js"></script>
</body>
</html>