<!DOCTYPE html>
<html>

<head>
  <title>new voting</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div>
    <h1>투표 만들기</h1>
    <form action='/votings/new' method='POST'>
      <div>제목
        <input type='text' name='title'>
      </div>

      <div class='items'>선택 사항
        <input type='text' name='item1'>
        <input type='text' name='item2'>
      </div>

      <div>
        <button class='addItem'>항목 추가</button>
        <button class='removeItem'>항목 제거</button>
      </div>

      <div>만료 날짜
        <input type='datetime-local' name='endDate'>
      </div>

      <div>
        <button type='submit'>생성</button>
        <button><a href='/'>목록</a></button>
      </div>
    </form>
  </div>
  <script src='/javascripts/newVoting.js'></script>
</body>

</html>
