<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <div class="newVotingFormBox">
    <form action="/votings/new" method="post">
      <span>제목</span>
      <input class="newVotingInput" type="text" name="title" required><br>
      <span>설명</span>
      <textarea class="newVotingInput" name="description" required></textarea><br>
      <span>만료일</span>
      <input class="newVotingInput" type="date" name="expiration_date" required>
      <input type="time" name="expiration_time" required><br>
      <span>선택사항</span>
      <input class="newVotingInput" type="text" name="selectOption" placeholder="띄어쓰기 없이 ','로 구분해주세요" required><br>
      <input class="newVotingInput" type="submit" value="투표생성">
    </form>
  </div>
  <div>
    <% if (message) { %>
    <%= message %>
    <% } %>
  </div>
  <span class="mainPageBtn newVotingPageBtn">
    <a href="/">투표 목록으로 돌아가기</a>
  </span>
</body>

</html>
