extends layouts/layout

block content
  .voting__new__wrap
    h2 투표 생성하기
    form(action="/votings/new" method="post").voting_new_form
      .voting__new__content
        label(for="vote-list") 투표 제목
        .voting__new__title
          input(id="vote-title" type="text" name="vote-title")
      .voting__new__content
        label(for="vote-list") 투표 목록
        .voting__new__list
          input(id="vote-list" type="text" name="vote-list" placeholder="후보 1")
          input(type="text" name="vote-list" placeholder="후보 2")
          button.voting__new__list__btn 항목 추가
      .voting__new__content
        label(for="vote-end-date") 마감 시간 설정
        .voting__new__endtime
          input(id="vote-end-date" type="date" name="vote-end-date")
          input(id="vote-end-time" type="time" name="vote-end-time")
      .voting__new__content
        .voting__new__btn__wrap
          button(id="btn-voting-new" type="submit") 투표 생성
          a(href="/")
            button(id="btn-voting-back") 목록으로 돌아가기