<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Ubuntu&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1 class="page-title"><%= title %></h1>
    <div class="register-box">
      <form action="/register" method="POST">
        <div class="form">
          <label>email</label>
          <input type="email" name="email">
        </div>
        <div class="form">
          <label>name</label>
          <input type="text" name="name">
        </div>
        <div class="form">
          <label>password</label>
          <input type="password" name="password">
        </div>
        <button class="submit-button" type="submit">가입</button>
      </form>
      <div><%= message %></div>
    </div>
  </body>
</html>
