<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    SIGN UP
    <form method='POST' action=<%=`/signup`%>>
      USERNAME : <input type="text" name="username"></input><br/>
      PASSWORD: <input type="text" name="password"></input><br/>
      <button type='submit'>SIGN UP</button>
    </form>
  </body>
</html>
