<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
      <h1>Sign Up</h1>
      <form action="/signup" method="post">
        <p>이메일</p>
        <input type="text" name="email" />
        <p>비밀번호</p>
        <input type="password" name="password" />
        <p>비밀번호 확인</p>
        <input type="password" name="confirmPassword" />
        <button type="submit">생성</button>
      </form>
  </body>
</html>
