extends ./layout

block content
  link(rel="stylesheet/less" type="text/css" href="/stylesheets/signForm.less")
  .signin__outer
    .signin__inner
      form.signup__form(action="signin" method="POST")
        .form__input
          label.form-label Email Address
          input.input__email.form-control(type="email" name="email" placeholder="123@example.com")
        .form__input
          label.form-label Password
          input.input__password.form-control(type="password" name="password" placeholder="****")
        .form__input
          label.form-label Password-check
          input.input__password.form-control(type="password" name="password2" placeholder="****")
        h3.signin__info #{message}
        button.input__submitButton.btn.btn-success(type="submit") Sign Up!
