<!DOCTYPE html>
<html>
  <head>
    <title>
      Account Creation - Error
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/signup_error.css' />
  </head>
  <body>
    <div id='body-container'>
      <h1><%= message %></h1>
      <p>
        Sorry for the inconvenience.<br/>
        We had a problem while signing you up.<br/>
        Can you please try again?<br/>
      </p>
      <div id='button-container'>
        <a href='/signup' id='signupButton'>
          <button class='primary_button'>Go to sign up again</button>
        </a>
      </div>
      <br/><br/>
      <div>
        Please contact <a href="mailto: younglee.work@gmail.com">Customer Support</a> if this problem persists.
        <br/>
        <br/>
        Voting Platform team.
      </div>
    </div>
  </body>
</html>
