<!DOCTYPE html>
<html>
  <head>
    <title>Voting Platform</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>회원가입</h1>
    <form action="/auth/signup" method="POST">
      <input type="email" name="email" placeholder="Email" required=true>
      <input type="password" name="password" placeholder="password" required=true>
      <button type="submit">회원가입</button>
    </form>
  </body>
</html>
