extends ./layouts/layout

block content
  h1 Sign Up
  form(action='/auth/signup', method='POST')
    label
      | email
      input(type='email', name='email' required)
    label
      | name
      input(type='text', name='username' required)
    label
      | password
      input(type='password', name='password' required)
    label
      | confirm password
      input(type='password', name='passwordConfirmation' required)
    input(type='submit' name='submit')
