<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/signup.css' />
  </head>
  <body>
    <form method='post'>
      <div>
          <label>Username</label>
          <input type='text' name='username' minlength='1' required />
      </div>
      <div>
        <label>ID</label>
        <input type='text' name='id' placeholder='E-MAIL을 입력하세요' minlength='5' required />
    </div>
      <div>
          <label>PASSWORD</label>
          <input type='password' name='password' minlength='5' maxlength='10' required />
      </div>
      <div>
          <input type='submit' value='JOIN'/>
      </div>
    </form>
  </body>
</html>
