extends layout

block content
  include partials/header
  div.page-container
    h1 회원가입
    div.form-container
      form(action="/auth/signup" method="POST")
        label(for="name")
          input(type="text" name="name" placeholder="이름" required)
        label(for="email")
          input(type="text" name="email" placeholder="이메일" required)
        label(for="password")
          input(type="text" name="password" placeholder="비밀번호" required)
        button(type="submit") 제출
    p.message=message
  link(rel="stylesheet", href="/stylesheets/signup.css")
