<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Sign up</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet" />
  </head>
  <body>
    <section class="signupSection">
      <h1>Sign Up</h1>
      <form class="signupForm" action="/signup" method="POST">
        <input type="text" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <input type="password" name="passwordConfirmation" placeholder="Password match" />
        <button type="submit" class="signupSubmit">Sign up</button>
        <button type="button" class="goHome">Go Home</button>
      </form>
    </section>
    <script>
      document.querySelector(".goHome").addEventListener("click", () => {
        window.location.href = 'http://localhost:3000/';
      });
    </script>
  </body>
</html>
