extends ./layouts/layout

block content
  h1 Sign Up
  form(action='/auth/signup', method='POST')
    label
      input(required type='email', name='email' placeholder='E-mail')
    label
      input(required type='text', name='name' placeholder='Name')
    label
      input(required type='password', name='password'  placeholder='Password')
    label
      input(required type='password', name='passwordConfirmation' placeholder='Cofirm password')
    input(type='submit' name='submit')
