<!DOCTYPE html>
<html>

<head>
  <link ret="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <h1>Sign Up</h1>
  <form name="signup" action="/signup" method="POST">
    <input type="text" name="email" placeholder="email" />
    <input type="text" name="password" placeholder="password" />
    <input type="submit" value="Create" />
  </form>
  <a href="/login">Log In</a>
</body>

</html>