<div>
  <form action="/signup" method="POST">
    <div>
      <input type="email" placeholder="아이디(이메일)" name="email" />
    </div>
    <div>
      <input type="password" placeholder="비밀번호(영문 숫자 특수문자 2가지 이상 6~15자 이내)" name="password" />
    </div>
    <div>
      <input type="password" placeholder="비밀번호 확인" name="passwordCheck" />
    </div>
    <div>
      <input type="text" placeholder="이름" name="name" />
    </div>
    <div>
      <input type="submit" />
    </div>
  </form>
</div>
