<!DOCTYPE html>
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet' href='/stylesheets/style.css')
    title Signup
  body
    div.authwarp
      h1 회원가입
      form
        div.inputBox
          input(type='text' name='username' placeholder='이메일주소 입력')
        div.inputBox
          input(type='password' name='password' placeholder='비밀번호(8~32자리)')
        div.inputBox
          input(type='password' name='re-password' placeholder='비밀번호 재입력')
        div.errorAlert
        div.button-blue
          input(type='submit' value='가입하기')
      script(
        type='text/javascript'
        src='/javascripts/signup.js'
        )
