<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/stylesheets/signup.css" />
  </head>
  <body>
    <a href="/">Home</a>
    <h1>회원가입</h1>
    <form id="signup-form">
      <label>
        email :
        <input
          type="text"
          id="email"
          name="email"
          autocomplete="email"
        />
      </label>
      <label>
        별명 :
        <input
          type="text"
          id="user-name"
          name="username"
          autocomplete="username"
        />
      </label>
      <label>
        비밀번호 :
        <input
          type="password"
          id="password"
          name="password"
          autocomplete="new-password"
        />
      </label>
      <label>
        비밀번호 확인 :
        <input
          type="password"
          id="password-confirm"
          name="password-confirm"
          autocomplete="new-password"
        />
      </label>
      <input type="submit" value="가입하기"/>
    </form>
    <script type="module" src="/javascripts/signup.js"></script>
  </body>
</html>
