<!DOCTYPE html>
<html>
  <head>
    <title>
      Create an Account
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/signup.css' />
  </head>
  <body>
    <div id='body-container'>
      <span>SIGN UP</span>
      <div id='form-container'>
        <form name='signup' method='POST' action=<%=`/signup`%>>
          USERNAME
          <input 
            type="text"
            name="username"
            required
          />
          <br/>
          PASSWORD
          <input
            type="password"
            name="password"
            required
          />
          <br/>
          <button id='signup-button' class='primary-button' type='submit' disabled='true'>
            SIGN UP
          </button>
          <br/>
        </form>
        <span class='alert-text' id='password-alert'></span>
      </div>
      <div>
        <a href='/'>Go to main</a>
      </div>
    </div>

    <script>
      const signupButton = document.getElementById('signup-button');
      function signupDisableHandler() {
        if (isPasswordValid) {
          signupButton.removeAttribute('disabled');
        } else {
          signupButton.setAttribute('disabled', 'true');
        }
      }

      let isPasswordValid = false;
      const password = document.forms['signup']['password'];
      password.addEventListener('keyup', function() {
        if (password.value.length >= 6) {
          alertText = '';
          isPasswordValid = true;
        } else {
          alertText = 'Password should be at least 6 characters';
          isPasswordValid = false;
        }
        document.getElementById('password-alert').innerText = alertText;
        signupDisableHandler();
      });
    </script>
  </body>
</html>
