include mixins/voteList
include mixins/header
head
  link(rel='stylesheet' href='/css/form.min.css')
  link(rel='stylesheet' href='/css/dashboard.min.css')
  script(src='https://kit.fontawesome.com/5fab680b0a.js' crossorigin='anonymous')
.container
  include partials/sidebar.pug
  .wrapper
    +header(user)
    .main-container
      .form-container.delay-animation(style='--delay: .1s')
        h2 Sign Up
        form.vote-form(action='/auth/signup' method='POST')
          .form-group
            label(for='name') Name
            input#name.form-control(type='text' name='name' maxLength='15' required)
          .form-group
            label(for='email') Email
            input#email.form-control(type='email' name='email' maxLength='30' required)
          .form-group
            label(for='password') Password
            input#password.form-control(type='password' name='password' minlength='8' required)
          .form-group
            label(for='confirm-password') Confirm Password
            input#confirm-password.form-control(type='password' name='confirm-password' minlength='8' required)
          p#validation-message All fields must be filled
          button.submit-button(type='submit' disabled=true) Sign up
script(type='text/javascript' src='/javascripts/join.js')
