extends ./layout

block content
  .loginOuter
    .loginInner
      form.loginForm(action="signin" method="POST")
        input(type="email" name="email")
        input(type="password" name="password")
        button(type="submit") Sign In
