<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <form method='post'>
      <div class='signup-box'>
        <div>
          <label>Username</label>
          <input type='text' name='username' minlength='1' placeholder='NAME' autocomplete='off' required />
        </div>
        <div>
          <label>ID</label>
          <input type='text' name='id' placeholder='ABCD@E-MAIL.COM' minlength='5' autocomplete='off' required />
        </div>
        <div>
          <label>PASSWORD</label>
          <input type='password' name='password' placeholder='PASSWORD' minlength='5' maxlength='10' autocomplete='off' required />
        </div>
        <div>
          <input type='submit' value='JOIN'/>
        </div>
      </div>
    </form>
  </body>
  <link rel='stylesheet' href='/stylesheets/signup.css' />
</html>
