<!DOCTYPE html>
<html>

<head>
  <title>signup</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div>
    <form action="/signup" method="post">
      name <input type="text" name="userName" required><br>
      email <input type="email" name="userEmail" required><br>
      password <input type="password" name="userPassword" required><br>
      confirm password <input type="password" name="userPassword">
      <input type="submit" value="signup">
    </form>
  </div>
  <div>
    <% if (message) { %>
    <%= message %>
    <a href="/login">로그인 페이지 이동</a>
    <% } %>
  </div>
</body>

</html>
