extends layout

block content
  h1.register-title signup page
  div.register-page
    div.form
      form.register-form
        input(type="text" placeholder="name")
        input(type="password" placeholder="password")
        input(type="text" placeholder="email address")
        button create
        p.message Already registered? 
          a.anchor(href="/login") Sign In
