extends layouts/main

block content
	.form-container.signup-form-container
		form(action="/users/signUp", method="post")
			.form__input.signup-form__input
				label.form__label(for="name") Name
				input(type="text", name="name", placeholder="Username", required=true)
			.form__input.signup-form__input
				label.form__label(for="email") Email
				input(type="email", name="email", placeholder="you@example.com", required=true)
			.form__input.signup-form__input
				label.form__label(for="password") Password
				input(type="password", name="password", placeholder="••••••••", required=true, minlength="8")
			.form__input.signup-form__input
				label.form__label(for="passwordConfirm") Password Confirm
				input(type="password", name="passwordConfirm", placeholder="••••••••", required=true, minlength="8")
			.form__input.signup-form__input
				button(type="submit", value="Sign Up")
		include partials/_socialLogin