doctype html
html
  head
    link(rel="stylesheet", href="/stylesheets/signup.css")
  body
    div(class="nav")
      ul
        if hasLoggedIn
          li
            a(href="/") Main
          li
            a(href="/votings/new") New vote
          li
            a(href="/my-votings") My votes
          li
            a(href="/auth/logout") Logout
        else
          li 
            a(href="/") Main
          li 
            a(href="/signup") Signup
          li 
            a(href="/auth/login") Login
    main
      h1 New User Sinup
      form(action="" method="post" id="myForm")
        input(id="email" type="text" name="email" placeholder="email")
        p Email must be a valid addres ex) yoyoyo@google.com

        input(id="password" type="password" name="password" placeholder="password")
        p Password must be alphanumeric, and be 8 - 20 characters 

        input(id="confirmPassword" type="password" name="confirmPassword" placeholder="confirm your password")
        p You must put the same password
        button(type="submit" class="submitButton") Sing up
    script(src="/javascripts/signup.js")
    