<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>signup</title>
</head>

<body>
  <h1>회원가입</h1>

  <form action='/signup' method='POST'>
    이메일<input type="email" name='email'>
    비밀번호<input type="password" name='password'>
    비밀번호 확인<input type="password" name='confirmPassword'>
    <button type='submit'>확인</button>
  </form>

</body>

</html>
