extends layouts/main

block content
	.success-container
		.success-image-container
		.success-message-container
			span 투표를 성공적으로 등록하였습니다
		.success-buttons-container
			a(href="/").success-button-home 목록으로 돌아가기
			a(href="/votings/" + votingId).success-button-detail 등록된 투표 보러가기