<!DOCTYPE html>
<html>
  <head>
    <% include ./partial/head %>
    <link rel='stylesheet' href='/stylesheets/success.css' />
  </head>
  <body>
    <% include ./partial/header %>
    <div class="success-container">
      <h2>Successfully created voting.</h2>
      <a href="/">
        <button>Go Main Page</button>
      </a>
    </div>
  </body>
</html>

