<!DOCTYPE html>
<html>
  <%- include('./partials/head')%>
  <body>
    <%- include('./partials/header') %>
    <div class="success-wrapper">
      <div class="success-box">
        <div> New Vote Created! </div>
        <a href="/">MAIN</a>
      </div>
    </div>
  </body>
</html>
