<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
    <div class="container txt-center">
      <div class="message-box">
        <p class="info-message txt-success">투표가 생성되었습니다.</p>
        <a href="/" class="btn-black">LIST</a>
      </div>
    </div>
  </body>
</html>
