doctype html
html
  head
    link(rel="stylesheet", href="/stylesheets/success.css")
  body
    div(class="nav")
      ul
        if hasLoggedIn
          li
            a(href="/") Main
          li
            a(href="/votings/new") New vote
          li
            a(href="/my-votings") My votes
          li
            a(href="/auth/logout") Logout
        else
          li 
            a(href="/") Main
          li 
            a(href="/signup") Signup
          li 
            a(href="/auth/login") Login
    main
        h1 Your vote has been created successfully
        a(href="/") Go to main
        