<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|Baloo+2:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/49f652a05a.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <%- include('header') %>
    <div class="new-container">
      <h1><%= message %></h1>
      <a href="/" class="buttonbox">메인페이지로 돌아가기</a> 
    </div>
  </body>
</html>
