<!DOCTYPE html>
<html>
  <head>
    <title>vote</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('./partials/header') %>
    <div class="success-container">
      성공!
    </div>
  </body>
</html>
