<!DOCTYPE html>
<html lang="ko">
<head>
  <%- include("partials/head") %>
</head>
<body>
  <%- include("partials/bodyHeader") %>
  투표 생성 성공!
  <a href="/">
    <button>메인으로</button>
  </a>
</body>
</html>