<!DOCTYPE html>
<html>
  <%- include('partial/head') -%>
  <body>
    <div class="container no-header">
      <section class="layout-column">
        <h3>Voting Complete</h3>
        <a href="/" class="button">Go Home</a>
      </section>
    </div>
    <%- include('partial/scripts') -%>
  </body>
</html>
