<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>
    <div>
      <button tpye="button" onclick="location.href='/logout'">LogOut</button>
    </div>
    <h1>success</h1>
    <button tpye="button" onclick="location.href='/votings/new'">투표 생성</button>
  </body>
</html>
