<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Validation Fail</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Baloo+Tamma+2&display=swap" rel="stylesheet" />
  </head>
  <body>
    <section class="validationFailSection">
      <h1><%= message %></h1>
      <a href="#" class="goBack">Go Back</a>
    </section>
    <script>
      document.querySelector(".goBack").addEventListener("click", () => {
        window.history.back();
      });
    </script>
  </body>
</html>
