extends layout

block content
  div.vote-register-container
    h1(class='page-title') Register your vote!
    form(active='/votings/new' method='POST')
      label(for='title') Title
      input(type='text' value= title name='title' id='title' placeholder='title' required)
      label(for='options') Options
      div.vote-options
        input(type='text' name='optionTitle' placeholder='예. 짬뽕')
        input(type='text' name='optionTitle' placeholder='예. 떡볶이')
      input(type='text' name='options' id='options' placeholder='options' class='option')
      button(type='button' class='add-button') Add
      label(for='due-date') Due date
      input(type='datetime-local' name='dueDate' id='due-date' required)
      span(class='register-error-message')= message
      div.buttons-container
        a(href='/')
          button(type='button' class='return-button') Back to list
        button(type='submit' class='register-button') Register

    script(src='/javascripts/index.js' defer)
