extends layout

block content
  h1.login-title 
    if loginUser
      #{loginUser} 님의 새로운 투표}
    div.form
      form.vote-form
        input.title(type='text' placeholder="투표제목" maxlength=30 required)
        div.label 투표종료일시 
        input.due(type='datetime-local' placeholder='new Date()' required)
        hr
        div.option-wrapper
          div.label 선택지 (최대 5개)
            input.option-add-btn(type='button' value='추가' onclick='addOption()')
          input.option(type='text' placeholder='선택지1' required)
          input.option(type='text' placeholder='선택지2' required)
        p.error
        button(type="submit") 투표생성하기
  script(src='/javascripts/voteForm.js')
