<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/newVote.css' />
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
    <div>
      vote result..
      <button><a hred="/">목록으로 돌아가기</a></button>
    </div>
    <div class="basic alertBox">
      message: <%= message %>
    </div>
  </body>
</html>