<!DOCTYPE html>
<html>
  <head>
    <%- include ('partials/head') %>
    <!-- <link rel="stylesheet" href="/stylesheets/signPage.css"> -->
  </head>
  <body>
    <%- include ('partials/header') %>

    <h1 class="page-title">Create Vote</h1>
    <form action="/votings/new" method="POST">
      <input type="text" name="title" id="title" placeholder="vote title" required>
      <div>
        <label><input type="radio" name="option_type" value="text" checked>TEXT</label>
        <label><input type="radio" name="option_type" value="date">DATE</label>
      </div>
      <input type="date" name="expired_date" id="expired-date" required>
      <input type="time" name="expired_time" id="expired-time" required>
      <div id="options">
        <input type="option" name="option" class="option" placeholder="write option" required>
        <input type="option" name="option" class="option" placeholder="write option" required>
      </div>
      <div>
        <div id="option-create">
          <span> + Add Option</span>
        </div>
        <div id="option-delete">
          <span> - Delete Option</span>
        </div>
      </div>
      <span id="form-message"></span>
      <div>
        <button class="page-button" type="submit">Done</button>
        <button id="form-reset" type="reset">Reset</button>
      </div>
    </form>
    <a href="/">Home</a>

    <%- include ('partials/footer') %>
    <script src="/javascripts/votingCreate.js"></script>
  </body>
</html>
