<!DOCTYPE html>
<html>
  <head>
    <title>Voting Platform</title>
    <script src="https://kit.fontawesome.com/ce204b133d.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ./partials/header %>

    <%if (flashes) { %>
      <p><%= flashes.error %></p>
    <% } %>
  </body>
</html>
