<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/votingchart.css" />
    <script src="http://d3js.org/d3.v4.min.js"></script>
  </head>
  <body>
    <%- include('./partials/header') %>
    <div class="box"></div>
    <table class="table">
      <tr>
        <% data.forEach(value => { %>
        <th class="content"><%= value.content%></th>
        <% }) %>
      </tr>
      <tr>
        <% data.forEach(value => { %>
        <td class="count"><%= value.count%></td>
        <% }) %>
      </tr>
    </table>
    <script src="/javascripts/d3Chart.js"></script>
  </body>
</html>
