<link rel="stylesheet" href="/stylesheets/style.css" />

<div class="votings-info-board"></div>
<div class="votings-wrapper">
  <div class="votings-grid-board">
    <div class="voting-grid-card">
      Barebones CSS Grid
    </div>
    <div class="voting-grid-card">
      Barebones CSS Grid
    </div>
    <div class="voting-grid-card">
      Barebones CSS Grid
    </div>
    <div class="voting-grid-card">
      Barebones CSS Grid
    </div>
    <div class="voting-grid-card">
      Barebones CSS Grid
    </div>
    <div class="voting-grid-card">
      Barebones CSS Grid
    </div>
    <div class="voting-grid-card">
      Barebones CSS Grid
    </div>
    <div class="voting-grid-card">
      Barebones CSS Grid
    </div>
    <div class="voting-grid-card">
      Barebones CSS Grid
    </div>
    <div class="voting-grid-card">
      Barebones CSS Grid
    </div>
    <div class="voting-grid-card">
      Barebones CSS Grid
    </div>
    <div class="voting-grid-card">
      Barebones CSS Grid
    </div>
    <div class="voting-grid-card ">
      <a href="/votings/new">New vote</a>
    </div>
  </div>
</div>