<link rel="stylesheet" href="/stylesheets/style.css" />

<div class="votings-info-board"></div>
<div class="votings-wrapper">
  <div class="voting-marign-wrapper">
  <div class="votings-grid-board">
    <% for(let i = 0; i < votingWithImg.length; i++) { %>
      <div class="voting-grid-card">
        <% if(votingWithImg[i] === 'img'){ %>
          <img class="voting-grid-img" src='/images/smileface.jpg'>
        <% } else{ %>
            <p class="voting-name-font"><%= votingWithImg[i].name %></p>
            <span class="voting-creator-font"><%= votingWithImg[i].createdBy.name %></span>
            <span class="voting-creator-font"><%= votingWithImg[i].expireDate %> 에 마감</span>
        <% } %>
        </div>
    <% } %>
    <div class="voting-grid-card ">
      <a href="/votings/new">New vote</a>
    </div>
  </div>
  </div>
</div>


