<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
  <%- include('partials/header') %>
  <div class="main-container">
    <form class="new-form" action="/votings/new" method="post">
      <h1 class="auth-title">New vote</h1>
      <div class="auth-wrap">
        <div class="form-wrap">
          <input type="text" name="title" class="new-field" id="title" autocomplete="off" placeholder="투표 제목" required>
        </div>
        <button id="option-add-btn">+</button>
        <div id="options-list"></div>
        <input type="datetime-local" name="expirationDate" class="new-field" id="expiration" min="<%= minDate %>T00:00"
          pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" autocomplete="off">
        <input type="submit" class="new-field">
      </div>
    </form>
  </div>
  <script src="/javascripts/vote.js"></script>
</body>

</html>
