extends layout

block content
  header
    link(rel="stylesheet", href="/stylesheets/css/voting.css")

  h1= subject

  p= description

  //- div.chart-container

  div.candidates-wrapper
    each candidate in candidates
      div.candidate
        h2= candidate.title
        p= candidate.content
