extends layout

block content
  section
    h2 CREATE VOTE
    .create-vote-wrapper
      form#create-vote
        .form-box.border-none
          label.hidden(for="title") TITLE
          input(id="title" class="input-title" type="text" name="title" placeholder="Title" required)
        .form-box
          label(for="expiration_date") EXPIRATION DATE
          input(id="expiration_date" name="expiration_date" type="datetime-local" required)
        .form-box.border-none
          ul.option-list
            li
              input(name="option_title" type="text" placeholder="Option" required)
              button.button.red.deleteButton(type="button") DELETE
          ul.button-list.align-left
            li
              button#optionButton.button.yellow(type="button") ADD OPTION
            li
              button#clearAllOptionsButton.button.red(type="button") CLEAR ALL OPTIONS
      p.validation.hidden
      ul.button-list
        li
          button.button.purple(type="submit" form="create-vote") CREATE
        li
          a.button(href="/") GO TO MAIN
  script(type="module" src="/javascripts/createVote.js")
