<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
    <% include ./partials/nav %>
    <div class="container">
      <form method="POST" action="/votings/new" class="vote-form">
        <fieldset class="vote-box-wrap top">
          <ul class="input-list">
            <li>
              <label class="label-vote">
                <span class="label-txt">Title</span>
                <input type="text" name="title" class="title-txt basic-txt show-infotxt" required />
                <span class="info-txt">Minimum 1 / Maximum 50 characters are allowed for title</span>
              </label>
            </li>
            <li>
              <label class="label-vote">
                <span class="label-txt">Expiry Date</span>
                <% var yy = new Date().getFullYear(); %>
                <input type="number" class="basic-txt date yy" value="<%= yy %>" name="expired_at" required />
                <span>-</span>
                <% var mm = new Date().getMonth() + 1; %>
                <% var mm = mm < 10 ? '0' + mm : mm; %>
                <input type="number" class="basic-txt date mm" value="<%= mm %>" name="expired_at" required />
                <span>-</span>
                <% var dd = new Date().getDate(); %>
                <% var dd = dd < 10 ? '0' + dd : dd; %>
                <input type="number" class="basic-txt date dd" value="<%= dd %>" name="expired_at" required />
                <input type="number" class="basic-txt date hh show-infotxt" placeholder="hh" name="expired_at" required />
                <span>:</span>
                <input type="number" class="basic-txt date ss" placeholder="mm" name="expired_at" required />
                <span class="info-txt">Time should be in 24-hour format</span>
              </label>
            </li>
          </ul>
        </fieldset>
        <fieldset class="vote-box-wrap btm">
          <h2 class="legend-title">Options</h2>
          <button type="button" class="btn-more">+</button>
          <ul class="input-list options-list">
            <li>
              <input type="text" name="options" class="basic-txt show-infotxt" required />
              <span class="info-txt">Minimum 1 / Maximum 80 characters are allowed for title</span>
            </li>
            <li>
              <input type="text" name="options" class="basic-txt show-infotxt" required />
              <span class="info-txt">Minimum 1 / Maximum 80 characters are allowed for title</span>
            </li>
          </ul>
        </fieldset>
        <button type="submit" class="btn-main">CREATE</button>
      </form>
    </div>
    <script src="/javascripts/validation_vote.js"></script>
    <script>
      var message = '<%= message %>';

      if (message) {
        alert(message);
      }

      var $btnMore = document.querySelector('.btn-more');
      var $optionList = document.querySelector('.options-list');

      $btnMore.addEventListener('click', function () {
        var optionsCount = $optionList.children.length;

        if (optionsCount >= 10) {
          return;
        }

        var $li = document.createElement('li');
        var $input = document.createElement('input');
        $input.setAttribute('type', 'text');
        $input.setAttribute('name', 'options');
        $input.setAttribute('required', '');
        $input.className = 'basic-txt double-txt show-infotxt';
        onKeyupCheckLength($input, 80);

        var $span = document.createElement('span');
        $span.className = 'info-txt';
        $span.textContent = 'Minimum 1 / Maximum 80 characters are allowed for title';

        var $button = document.createElement('button');
        $button.setAttribute('class', 'btn-del');
        $button.setAttribute('type', 'button');
        $button.textContent = 'X';

        $li.appendChild($input);
        $li.appendChild($span);
        $li.appendChild($button);
        $optionList.appendChild($li);

        $button.addEventListener('click', function () {
          $optionList.removeChild($li);
        });
      });
    </script>
  </body>
</html>
