<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/votings_success.css' />
<div id='body-container'>
  <div>
    <h1>Your voting has been successfully created.</h1>
  </div>
  <div>
    <a href='/'>
      <button class='primary-button'>
      GO TO MAIN
      </button>
    </a>
  </div>
</div>
