<!DOCTYPE html>
<html>
  <head>
    <title>MY VOTINGS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class='navbar'>
      <%if(1){%>
        <%-include('navbar')%>
      <%}%>
    </div>
    <div class='main-section'>
      <div class='header'>
        <h1>My Votings</h1>
      </div>
    </div>
  </body>
</html>
