<!DOCTYPE html>
<html>
  <head>
    <title>Error - Voting creation</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>ERROR ON VOTING CREATION</h1>
    <a href='/'>GO TO MAIN</a>
  </body>
</html>
