extends layouts/main

block content
  .voting-after-container
    .voting-after-item-box
      .voting-after-message-box
        span.voting-after-message=message
      a(href="/").voting-after-redirect-button-box
        span.voting-after-redirect-button 홈으로 돌아가기
