extends layouts/main

block content
    .new-voting-success-container
        .new-voting-success-item-box
            .new-voting-success-message-box
                span.new-voting-success-message 투표가 성공적으로 생성되었습니다.
            a(href="/").new-voting-success-redirect-button-box
                span.new-voting-success-redirect-button 홈으로 돌아가기