form {
  width: 500px;
  margin: 0;
}

form .form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form label {
  width: 3em;
  text-align: right;
  margin-right: 10px;
}

form input, form textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

form .input-wrapper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

form .metaForm {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1em;
}

form .metaForm #rangeValue {
  text-align: center;
}

form .metaForm input[type='range'] {
  width: 100%;
}

form .ballotForm {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

form .ballotForm button {
  background-color: #fff;
  width: 66%;
}

form input[type='submit'] {
  background-color: #fff;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
