<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <title>VOTEVOTE</title>
  </head>
  <body>
    <% include ./header %>
    <section class="create">
      <form action="/votings/new" method="post">
        <div class="form-list">
          <h1>투표생성</h1>
          <div class="row">
            <span>제목</span>
            <input type="text" name="title" placeholder="title" />
          </div>
          <div class="row">
            <span>만료시간</span>
            <input
              type="datetime-local"
              name="expiration"
              class="date-setting"
            />
          </div>
          <div class="row">
            <span>선택항목</span>
            <div id="container">
              <div class="option">
                <input type="text" name="options" />
                <input type="button" value="Delete" class="delete" />
              </div>
              <div class="option">
                <input type="text" name="options" />
                <input type="button" value="Delete" class="delete" />
              </div>
            </div>
            <input type="button" value="Add" id="add" class="add" />
          </div>
        </div>
        <input type="submit" value="Create" />
      </form>
    </section>
    <script>
      window.addEventListener('load', function() {
        var dateSetting = document.querySelector('.date-setting');
        dateSetting.setAttribute('min', new Date().toISOString().slice(0, 16));
        dateSetting.setAttribute(
          'value',
          new Date().toISOString().slice(0, 16)
        );

        document
          .getElementById('container')
          .addEventListener('click', function(event) {
            if (event.target.getAttribute('class') === 'delete') {
              event.target.parentNode.remove();
            }
          });

        document.getElementById('add').addEventListener('click', function() {
          var div = document.createElement('div');
          div.setAttribute('class', 'option');

          var option = document.createElement('input');
          option.setAttribute('type', 'text');
          option.setAttribute('name', 'options');
          div.appendChild(option);

          var buttonDelete = document.createElement('input');
          buttonDelete.setAttribute('type', 'button');
          buttonDelete.setAttribute('value', 'Delete');
          buttonDelete.setAttribute('class', 'delete');
          div.appendChild(buttonDelete);

          document.getElementById('container').appendChild(div);
        });
      });
    </script>
  </body>
</html>
