<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <title>VOTEVOTE</title>
  </head>
  <body>
    <section>
      <h1>투표 생성에 실패했습니다.</h1>
      <a href="/">메인페이지로 이동</a>
    </section>
  </body>
</html>
