<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <title>VOTEVOTE</title>
  </head>
  <body>
    <section class="logo">
      <p><strong>VOTE</strong>FRIES</p>
    </section>
    <section class="signup">
      <h1>회원가입</h1>
      <form action="/login/signup" method="post">
        <input type="text" name="email" placeholder="email" />
        <input type="text" name="name" placeholder="name" />
        <input type="password" name="password" placeholder="password" />
        <input type="submit" value="Signup" />
      </form>
    </section>
  </body>
</html>
