mixin flash_message(message = {})
  div(class='flex bg-white flash-animation')
    div(class=`flex items-center justify-center w-2/12 p-4 ${message.type === 'error' ? 'bg-red-500' : 'bg-green-500'}`)
      i(class=`fas ${message.type === 'error' ? 'fa-ban' : 'fa-check'} fa-2x text-white`)
    div(class='flex items-center w-10/12 p-4')
      p(class='text-gray-700 font-semibold') #{message.text}
