input {
  width: 200px;
  height: 30px;
  margin: 10px;
}

.login-page {
  display: flex;
}

.auth-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #24282C;
  color: white;
}

.login-button {
  color: white;
}

.signup {
  display: block;
  width: 100px;
  margin: 0 auto;
  color: white;
}
