@backColor: #F7F7F7;
@formBackgroundColor: #FAF8F0;
@headerColor: #1D365D;
@contentColor: #FFFFFF;
@hoverColor: #E9EBEE;
@textColor: #36546E;
@backgroundTextColor: #ADADAD;
@buttonColor: #333333;
@borderColor: #E6E6E6;
@inputColor: #F7F7F7;
