:root {
  --background-color: #303841;
  --color-dark-grey: #323232;
  --color-bright-grey: #b8b0b0;
  --color-light-grey: #eeeeee;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-carrot: #ff5722;
  --color-light-beige: #f5eee6;
}
