$header-background: #64806a;
$header-nav-color: #079992;
$home-main-text-red: #75423a;
$home-main-text-blue: #1e3799;
$home-main-text-yellow: #c9c76c;
$main-box-green: #b8e994;
$header-height: 100px;

$white: white;
$black: rgb(61, 59, 59);
