header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  border-bottom: 2px solid black;
  font-weight: 600;
}

.voting-list-btn {
  border-style: none;
  background-color: white;
  font-weight: 600;
  font-size: 16px;
}

.voting-list-btn:hover {
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.vote-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  border-radius: 6px;
  padding: 50px;
}

.title-wrapper {
  padding: 10px;
}

.start-date-wrapper {
  padding: 10px;
}

.end-date-wrapper {
  padding: 10px;
}

.option-list-wrapper {
  text-align: center;
  padding: 10px;
}

.option-list {
  display: flex;
  flex-direction: column;
}

#option {
  margin: 3px;
}

.btn-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.submit-btn {
  font-weight: 600;
}

.add-btn {
  font-weight: 600;
}

.vote-list-btn {
  margin: 10px;
}
