.detail-voting-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 95%;
}

.detail-voting-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 50%;
  height: 100%;
  overflow: hidden;
}

.detail-voting-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;

  width: 50%;
  height: 100%;
}

.hidden {
  display: none !important;
}

.detail-message-board {
  position: absolute;
  top: 50%;
  left: 50%;

  color: white;
  font-size: 40px;
  font-weight: 900;
}

.detail-option-button-board {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 40%;
}

.detail-voting-option-button {
  width: 100%;
  height: 25%;

  color: black;
  font-family: "Black Han Sans", sans-serif;
  font-size: 50px;

  margin-bottom: 10px;
  padding: 0;

  appearance: none;
  border: none;
  cursor: pointer;
}

.detail-voting-name-font {
  color: aliceblue;
  font-family: "Black Han Sans", sans-serif;
  font-size: 100px;

  margin: 0;
  padding-left: 10px;
}

.detail-voting-nickname-font {
  color: #ffd774;
  font-family: "Black Han Sans", sans-serif;
  font-size: 50px;

  margin: 0;
  padding-left: 10px;
}

.detail-voting-date-font {
  color: aliceblue;
  font-family: "Song Myung", serif;
  font-size: 40px;

  margin: 0;
  padding-left: 10px;
  margin-bottom: 50px;
}

.detail-voting-chart-status-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  width: 400px;
  height: 400px;

  color: white;
  font-family: "Black Han Sans", sans-serif;
  font-size: 70px;

  background-color: #ff9dc7;
  border-radius: 50%;

  right: 80%;
  animation: spinner 4s linear infinite;
  transform-style: preserve-3d;
}

@keyframes slideshow {
  0% {
    left: 1000px;
  }
  100% {
    left: -1000px;
  }
}

@keyframes spinner {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

.color0 {
  background-color: #05ffad;
}

.color1 {
  background-color: #ffd774;
}

.color2 {
  background-color: #8ef1ff;
}

.color3 {
  background-color: #ff9dc7;
}

.color4 {
  background-color: #c6ff9d;
}
