html {
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  font-family: "Do Hyeon", sans-serif;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

h4 {
  margin: 0;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  margin: 6vh 0 1vh 0;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.indicator-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 35vw;
  z-index: 2;
}

.title {
  display: flex;
  justify-content: center;
  position: absolute;
  right: translateX(-50);
  width: 100vw;
  z-index: 1;
}

footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 95vw;
  margin-bottom: 2vh;
}

.global-button {
  border: 3px solid black;
  background-color: #efefef;
  box-shadow: 6px 7px 0px 2px #9c88ff;
  -webkit-box-shadow: 6px 7px 0px 2px #9c88ff;
  -moz-box-shadow: 6px 7px 0px 2px #9c88ff;
  transition: transform 2s;
  cursor: pointer;
  width: 20%;
  height: 4vh;
  font-size: large;
  outline: none;
}

.global-button:hover {
  border: 4px solid black;
  border-radius: 20% 70% 23% 37% / 41% 60% 30% 20%;
  animation: animate 1.5s linear alternate infinite;
}

@keyframes animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(3deg);
  }
}
