html {
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  align-items: center;
  font-family: "Do Hyeon", sans-serif;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

h4 {
  margin: 0;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  margin: 1vh 0;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.indicator-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 35vw;
}

.title {
  display: flex;
  justify-content: center;
  position: absolute;
  right: translateX(-50);
  width: 100vw;
}

footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 95vw;
  margin-bottom: 2vh;
}
