.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 10vh;

  &__front {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 100%;

    #mainIcon {
      font-size: 40px;
      cursor: pointer;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 100%;
  }
}
