header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.router {
  display: flex;
  position: absolute;
  right: 2vw;
}

header .home {
  margin-left: 2vw;
}

header .title {
  font-weight: 700;
}

header a {
  min-width: 10vw;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2em;
  border-bottom: white .3vw solid;
}

header a:hover {
  border-bottom: var(--pink) .3vw solid;
}
