@key-color : #6276c9;
* {
  box-sizing: border-box;
  margin: 0;
}
.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  height: 50px;
  background-color: white;
  line-height: 50px;
  padding: 0 50px 0 10px;
  z-index: 999;
  img {
    width: 40px;
    margin-top: 5px;
  }
  span {
    color: black;
    font-weight: bold;
    margin: 0 0 0 10px;
    a {
      color: black;
      text-decoration: none;
    }
  }
}
.header-info {
  display: flex;
}
.header-logo {
  display: flex;
  flex-direction: row;
  div {
    span {
      font-weight: bold;
      font-size: 20px;
    }
  }
}
#hamburger {
  display: none;
}
#hamburger ~ * {
  position: absolute;
  transition: transform 0.4s;
}
#hamburger:checked ~ * {
  transform: translate3d(-200px, 0, 0px);
}
#hamburger ~ label {
  font-size: 54px;
  right: 8px;
  cursor: pointer;
}
#hamburger ~ nav {
  background: black;
  width: 200px;
  right: -200px;
  height: 100%;
}
#hamburger ~ nav * {
  margin: 0;
  padding: 0;
  color: white;
  list-style: none;
}
#hamburger ~ nav div {
  background: teal;
  padding: 1em;
}
#hamburger ~ nav a {
  display: block;
  text-decoration: none;
  padding: 1em;
  background-color: black;
}
#hamburger ~ nav a:hover {
  background: gray;
}
#content {
  position: relative;
  padding: 2.6em 1em 1em;
  width: 100%;
  background: silver;
}
