.home {
  display: flex;
}

.vote-viewer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem;
  background-color: antiquewhite;
}

.vote {
  border: 1px solid black;
  border-radius: 0.5rem;
  width: 25rem;
  height: 20rem;
  margin: 2rem;
  padding: 1rem;
}

.vote-status {
  background-color: teal;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.2rem 0;
}

.vote-status > p {
  margin: 0.5rem;
}