body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.home-box {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  height: 700px;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.voting-caution {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 306px;
  height: 50px;
}

a {
  text-decoration: none;
  color: black;
  cursor: default;
}

#selector {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 306px;
  height: 40px;
  font-size: 14px;
  background-color: RGB(239, 239, 239);
  margin-bottom: 5px;
  letter-spacing: 5px;
  transition: all 0.4s;
  color: black;
}

#selector:hover {
  background-color: cadetblue;
}

.voting-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 306px;
}

.no-votinglist {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 306px;
  height: 400px;
  font-size: 15px;
}

#each-voting {
  display: flex;
  flex-direction: column;
  width: 306px;
  height: 100px;
  margin-top: 10px;
  background-color: rgb(233, 227, 174);
  transition: all 0.4s;
}

#each-voting:hover,
#creating-voting:hover {
  background-color: cadetblue;
  color: rgb(143, 12, 36);
  border-radius: 5px;
}

.voting-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 15px;
}

.voting-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}

.voting-creator {
  display: flex;
  justify-content: flex-end;
  height: 20px;
  width: 290px;
  font-size: 12px;
}

.voting-expire {
  display: flex;
  justify-content: flex-end;
  width: 290px;
  font-size: 12px;
}

#creating-voting {
  display: flex;
  width: 306px;
  height: 80px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border: 1px solid grey;
  background-color: RGB(239, 239, 239);
  letter-spacing: 5px;
  transition: all 0.4s
}
