*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background: #ededed; }

input, button {
  border: none;
  outline: none;
  background: none;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif; }

.container {
  min-height: calc(100vh - 115px);
  width: 100%; }
