.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

.votes {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1em;
  margin: 0;
}

.votes a {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  width: 30em;
  height: 7em;
  border: 1px solid black;
  padding: 0 1.5em;
  margin: 0.5em;
}

.votes a div {
  padding: 5px;
}

.vote-state {
  color: blue;
}
