.login {
  border: 1px solid black;
  text-align: center;
  width: 50vw;
  margin: 0 auto;
  font-size: 1.3rem;
}

.login-form {
  padding: 1rem;
}

.login-form > h1 {
  margin: 0;
}

.login-field {
  margin: 1rem 0;
}

.login-field > input {
  margin-left: 1rem;
}