.main-body{
  padding-top: 50px;
  height: 1000vh;
  background-color: rgb(244,244,244);
}
.list-container{
  height: 100px;
  width: 100%;
  // background-image: url("https://www.skhynix.com/resource/images/common/visual_sustain_dbl.jpg");
  background-color: grey;
  background-size: 1000px;
  text-align: center;
  line-height: 100px;
  span{
    font-size: 30px;
    font-weight: bold;
  }
}

.vote-container{
  ul{
    list-style: none;
    padding: 0;
    .vote-list{
      display: inline-block;
      margin: 40px;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      .title{
        span{
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }
}