.main__outer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
  margin-top: 5%;
  margin-bottom: 5%;
}

.main__container {
  display: grid;
  grid-template-rows: minmax(300px, 30%);
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  gap: 5%;
  width: 80%;
  height: 100%;
}
