#body-container {
  width: 80%;
  text-align: center;
}

#page-title-text {
  width: 100%;
  text-align: center;
}

.voting-list-table {
  width: 90%;
  border: 1px solid grey;
}

#create-button-container {
  text-align: center;
}

.voting-list-table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  font-size: 15px;
}

tr {
  border-bottom: 1px solid black;
}

th {
  border-bottom: 1px solid black;
  height: 50px;
}

td {
  height: 30px;
}
