.nav {
  margin: 0 auto;
  width: 70%;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav ul li {
  float: left;
}

.nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav ul li a:hover {
  background-color: #111;
}

main {
  margin: 0 auto;
  width: 70%;
}

.myVotes {
  text-align: center;
}

main ul {
  margin: 20px auto;
  width: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 16);
  padding: 20px 20px;
}

main li {
  font-size: 20px;
  border-bottom: 1px solid #5e5d58;
}

main li a {
  text-decoration: none;
}

nav {
  margin: 0 auto;
  min-height: 100px;
  width: 70%;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

ul li {
  list-style-type: none;
}

ul li button {
  padding: 8px 16px;
  border-radius: 10px;
}

main {
  margin: 0 auto;
  width: 70%;
}

main ul {
  margin: 20px auto;
  width: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 16);
  padding: 20px 20px;
}

main li {
  font-size: 20px;
  border-bottom: 1px solid #5e5d58;
}

main li a {
  text-decoration: none;
}
