header {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  font-weight: 600;
  border-bottom: 2px solid black;
}

.myVoteList-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.voteList-wrapper {
  width: 400px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 6px;
}

.logout-btn:hover {
  cursor: pointer;
}

.logout-btn {
  border-style: none;
  background-color: white;
  font-weight: 600;
  font-size: 16px;
}

.vote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 6px;
  margin: 10px;
}

.title {
  padding: 5px;
}

.creator {
  padding: 5px;
}

.expire-date {
  padding: 5px;
}

.vote-status {
  padding: 5px;
}

.ended-vote {
  color: red;
}

a {
  text-decoration: none;
  color: black;
}
