@ingColor: #1ad5b7;
@endColor: gray;
@red: #f13a51;
@darkred: #d93449;

.navbar {
  color: #ffffff;
  height: 50px;
  line-height: 53px;
  box-sizing: border-box;
}

.navbar a {
  color: #ffffff;
}

#navigation {
  position: absolute;
  top: 0;
  left: 20px;
}

#to-problems:hover {
  color: #203349;
}

.user-info {
  position: absolute;
  top: 0;
  right: 20px;
}

#user-name {
  margin-right: 10px;
  color: #ffffff;
}

#logout {
  border: 1px solid;
  border-radius: 20px;
  padding: 10px 14px;
  font-size: 13px;
  color: @endColor;
}

#logout:hover {
  background-color: #ffffff;
  border-color: #ffffff;
}
