input {
  width: 500px;
  height: 30px;
  margin: 15px;
}

.voting {
  width: 600px;
  height: 800px;
  margin: 10px;
  margin-top: 20px;
}

.card {
  display: block;
  background: white;
  text-align: center;
  border-radius: 10px;
}

.voting > a {
  color: black;
}
