.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pagination {
  display: inline-block;
}

.pagination a,
.pagination button {
  border: none;
  color: black;
  background-color: transparent;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination button {
  width: 40px;
  height: 37px;
  cursor: pointer;
  outline: none;
}

.pagination a.active {
  color: var(--main-font-color);
}

.pagination a:hover,
.pagination button:hover {
  color: var(--main-font-color);
  background-color: var(--header-background-color);
}
