.sidebar {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
  width: 25vw;
  height: 100vh;
}

.profile-image {
  height: 10rem;
  width: 10rem;
  border-radius: 10rem;
}

.user-info {
  text-align: center;
  font-size: 1.4rem;
}

.user-info > p {
  margin: 0.5rem 0;
}

.button {
  cursor: pointer;
}

.votes {
  margin-top: 10rem;
  text-align: center;
  font-size: 1.4rem;
}