html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

main{
  padding:100px;
}
.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


.header > li ,a{
  display: block;
  color: white;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}

.vote {
  border: solid 1px black;
}
