@notoSansKr: 'Noto Sans KR', sans-serif;
@notoSans: 'Noto Sans', sans-serif;
@serif: 'Noto Serif', serif;
@indexImg: 'https://fsmedia.imgix.net/1e/f5/34/a5/14e1/4a98/b0b7/2c38cc3cf00a.jpeg?rect=0%2C0%2C3984%2C1991&auto=format%2Ccompress&dpr=2&w=650';
@loginImg: 'https://miro.medium.com/max/12000/0*PsTrUH8UelbNzlXm';
@voteImg: 'https://images.unsplash.com/photo-1517586979036-b7d1e86b3345?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80';
@successImg: 'https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80';
@createVoteImg: 'https://images.unsplash.com/photo-1495250357898-6822052ef5b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80';
@backgroundColor: rgb(238, 238, 238);
@color: rgb(73, 150, 160);
@darkColor: #3a3a3a;
@backgroundOpacity: linear-gradient(
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)
);

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: @serif;
  background-color: @backgroundColor;
}
h1 {
  padding-left: 200px;
}
a {
  font-size: 25px;
  text-decoration: none;
  color: #000000;
}
input, button {
  border: 1px solid;
  width: 350px;
  height: 50px;
  padding-left: 10px;
  font-size: 18px;
  border-radius: 5px;
}
input:focus {
  outline: #573838;
}

// header
.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  font-family: @serif;
  background-color: @backgroundColor;
  z-index: 1;

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
  }

  div {
    display: inline-block;
    padding: 0 30px;
    line-height: 65px;

    span {
      margin-right: 15px;
      text-align: left;
      font-size: 30px;
      font-weight: bold;
      color: rgb(129, 129, 129);
    }

    a {
      font-size: 20px;
      margin-right: 15px;
      text-align: right;
    }
  }

  .new-vote, .sign-up {
    padding: 5px 10px;
    border-radius: 3px;
    background-color: @color;
    color: @backgroundColor;
  }
}

// login
.login-wrapper, .join-wrapper {
  padding-top: 70px;

  .login-image, .join-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 810px;
    margin: 0 auto;
    background:
      @backgroundOpacity,
      url(@loginImg)
      no-repeat;
    background-size: cover;

    .login-form, .join-form  {
      width: 600px;
      padding: 90px 120px;
      box-sizing: border-box;
      border-radius: 3px;
      background: @backgroundOpacity;
      color: #ffffff;

      .join-input {
        margin-top: 0;
        height: 90px;
      }

      div {
        width: 100%;
        height: 100px;
        margin-top: 30px;

        label input {
          width: 100%;
        }
      }

      .join-inform {
        margin-top: 0;
        padding-left: 15px;
        word-break: keep-all;
      }

      .join-inform-error {
        color:rgb(255, 157, 157);
      }
    }
  }
}

// index
.index-wrapper{
  padding-top: 70px;

  .index-image {
    display: table;
    width: 100%;
    height: 450px;
    background:
      url(@indexImg)
      no-repeat;
    background-size: cover;

    h1 {
      display: table-cell;
      vertical-align: middle;
      font-family: @serif;
      color: #ffffff;
    }
  }

  .votes-wrapper {
    padding: 30px 90px;

    .vote-title {
      border-bottom: 2px solid @darkColor;
      width: 1200px;
      padding-bottom: 30px;
      margin: 0 auto 35px;
      font-size: 40px;
      text-align: center;
    }

    .vote-lists {
      padding: 0 160px;

      .vote {
        position: relative;
        display: inline-block;
        width: 500px;
        height: 90px;
        margin: 15px 20px;
        text-align: center;
        border-radius: 3px;
        box-shadow: 0 0 7px @darkColor;
        background-color: #ffffff;

        .progress {
          position: absolute;
          top: 10px;
          right: 20px;
          padding: 3px 5px;
          font-size: 7px;
          border-radius: 3px;
          color: #ffffff;
        }

        div {
          padding-top: 10px;
        }

        .in-progress {
          width: 60px;
          background: @color;
        }

        .not-in-progress {
          width: 40px;
          background: @darkColor;
        }

        .vote-info {
          font-size: 15px;
        }
      }
    }
  }
}

// create vote
#voting-form {
  text-align: center;

  div {
    margin-bottom: 15px;
  }

  label {
    height: 20px;
  }

  #remove-option, #add-option {
    display: inline-block;
    padding: 10px 30px;
    font-size: 25px;
    cursor: pointer;
  }
}

.login-join-submit {
  text-align: center;
}

#submit-button, #join-bottom, .vote-submit {
  border: 0;
  text-align: center;
  font-family: @serif;
  background-color: @color;
  color: #ffffff;
}

// vote, create-vote
.vote-wrapper, .create-vote-wrapper, .success-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-top: 70px;
  text-align: center;

  .vote-box, .create-vote-box, .success-box {
    width: 580px;
    padding: 30px 0;
    margin: 100px auto 0;
    font-family: 'Noto Serif',serif;
    box-shadow: 0 0 5px @darkColor;
    background-color: #ffffff;

    .create-title {
      font-size: 30px;
    }

    form {
      padding: 20px 0;
      margin-top: 30px;
    }

    label {
      position: relative;
      display: inline-block;
      width: 350px;
      height: 50px;
      margin-bottom: 15px;

      .option-radio {
        position: absolute;
        width: 20px;
        opacity: 0;
      }

      .option-radio:checked + .option {
        border-radius: 3px;
        background-color: #afafaf;
        color: #ffffff;
      }

      .option {
        border: 1px solid #afafaf;
        display: inline-block;
        width: 350px;
        height: 50px;
        line-height: 50px;
        border-radius: 3px;
      }
    }

    button {
      border: 0;
      text-align: center;
      font-family: @serif;
      background-color: @darkColor;
      color: #ffffff;
    }
  }

  .create-vote-box {
    padding-bottom: 50px;
  }

  .vote-box {
    height: 600px;
  }

  .result-box {
    // display: none;
    width: 580px;
    height: 600px;
    padding: 50px 20px 10px;
    margin: 100px auto 0;
    font-family: @serif;
    box-shadow: 0 0 5px @darkColor;
    background-color: #ffffff;

    .vote-result-title {
      display: inline-block;
      padding: 0 15px;
      font-size: 30px;
      border-radius: 3px;
      background-color: @color;
      color: #ffffff;
    }

    .vote-result-box {
      width: 100%;
      height: 400px;

      .vote-results {
        display: flex;
        justify-content: space-around;
        height: 300px;
        margin-top: 150px;
        color: #000000;
      }

      .graph-box {
        position: relative;
        display: flex;
        align-items: flex-end;
        height: 300px;
      }
    }

    .result-option {
      overflow: auto;
    }

    .vote-result {
      position: absolute;
      width: 60px;
      bottom: -50px;
      left: -10px;
      text-align: center;
      color: #000000;
    }

    .graph {
      width: 20px;
      background-color: @color;
      color: #ffffff;
    }
  }
}

.vote-wrapper {
  display: flex;
  background:
  @backgroundOpacity,
  url(@voteImg);
}

.create-vote-wrapper {
  background:
  @backgroundOpacity,
  url(@createVoteImg)
  no-repeat;
  background-size: cover;
}

// success
.success-wrapper {
  position: relative;
  padding-top: 70px;
  background:
  @backgroundOpacity,
  url(@successImg)
  no-repeat;
  background-size: cover;

  .success-box {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;

    div {
      margin: 15px 0;
    }
  }
}
