body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.app-title {

}

.menu {
  display: flex;
  justify-content: center;
}

.home-button, .create-voting-button, .my-voting-button {
  margin: 30px;
}

.voting-list {
  display: flex;
  justify-content: center;
}

.voting {
  margin: 30px;
}

.vote-form {
  width: 300px;
  border: 1px solid gray;
}

.title, .date, .option{
  display: block;
  margin: 10px;
  width: 200px;
  height: 20px;
}

.option {

}

.vote-button {
  background-color: lightcyan;
}