body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.primary-button {
  font-size: 30px;
  background-color: #00B7FF;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.primary-button:hover {
  filter: contrast(1.5);
}

.primary-button:focus, .primary-button:active {
  outline: none;
  box-shadow: none;
}

.primary-button:disabled {
  background-color: gainsboro;
  filter: contrast(1);
}

.secondary-button {
  font-size: 30px;
  background-color: lightgrey;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.secondary-button:hover {
  opacity: 0.8;
}

.secondary-button:focus, .primary-button:active {
  outline: none;
  box-shadow: none;
}

.secondary-button:disabled {
  background-color: gainsboro;
  filter: contrast(1);
}

.ongoing-text {
  color: green;
  font-weight: bold;
}

.finished-text {
  color: grey;
}
