/*
  common
*/
.container {
	width: 980px;
  margin: auto;
}
.layout-row {
  display: flex;
}
.layout-column {
  display: flex;
  flex-direction: column;
}
.buttons-wrap {
  margin-top: 21px;
  display: flex;
}
.buttons-wrap .button:first-child {
  margin-left: 0;
}
.buttons-wrap .button {
  margin-left: 10px;
}
.buttons-wrap .button {
  width: 100%;
}
.button {
  text-align: center;
  display: block;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #215ca0;
  background-color: #215ca0;
  color: #fff;
  line-height: 32px;
  padding: 0 10px;
  text-transform: uppercase;
}
.button:hover {
  transition: all 0.3s;
  background-color: #fff;
  color: #215ca0;
}
.button.danger {
  border: 0px;
  background-color: #d45858;
  color: #fff;
}
.box {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #215ca0;
  padding: 15px;
}
.sub-text {
  color: #999;
}
/*
  header
*/
body > header {
  margin-bottom: 30px;
  background-color: #f4f4f4;
  padding: 15px 0;
}
body > header .row {
  justify-content: space-between;
  align-items: center;
}
body > header h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
  margin-bottom: 21px;
}
body > header .layout-row {
  justify-content: space-between;
}
/*
  home
*/
.vote-list li {
  margin-bottom: 21px;
}
.vote-list li:last-child {
  margin-bottom: 0;
}
.vote-list li h3 {
  margin-bottom: 10px;
}

/*
  voting-detail
*/
.voting-detail fieldset p {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
}
.voting-detail fieldset p:last-child {
  margin-bottom: 0;
}
.voting-detail fieldset p input {
  margin-right: 10px;
}
.voting-detail fieldset p label {
  font-size: 16px;
}

/*
  login
*/
.login {
  height: 100%;
  display: flex;
}
.login-box {
  display: flex;
  align-self: center;
  margin: 0 auto;
  min-width: 60%;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
}
.login-box h3 {
  font-size: 20px;
  margin-bottom: 21px;
}
.form {
  margin-top: auto;
}
.form p {
  margin-bottom: 15px;
}
.form p:last-child {
  margin-bottom: 0;
}
.form label, .form input {
  display: block;
}
.form label {
  font-size: 16px;
}
.form input {
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  line-height: 30px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #ebebeb;
}