/*
  common
*/
.container {
	width: 980px;
  margin: auto;
}
.layout-row {
  display: flex;
}
.layout-column {
  display: flex;
  flex-direction: column;
}
.layout-column h4 {
  font-size: 18px;
  margin-bottom: 21px;
}
.buttons-wrap {
  margin: 21px 0;
  display: flex;
}
.buttons-wrap .button:first-child {
  margin-left: 0;
}
.buttons-wrap .button {
  margin-left: 10px;
}
.buttons-wrap .button {
  width: 100%;
}
.button {
  text-align: center;
  display: block;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #215ca0;
  background-color: #215ca0;
  color: #fff;
  line-height: 32px;
  padding: 0 10px;
  text-transform: uppercase;
}
.button:hover {
  transition: all 0.3s;
  background-color: #fff;
  color: #215ca0;
}
.button.danger {
  border: 0px;
  color: #fff;
  background-color: #d45858;
}
.button.disable {
  border: 0px;
  color: #fff;
  background-color: #666;
}
.box {
  background-color: #fff;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 15px;
}
.sub-text {
  color: #999;
}
/*
  header
*/
body > header {
  margin-bottom: 30px;
  background-color: #f4f4f4;
  padding: 15px 0;
}
body > header .row {
  justify-content: space-between;
  align-items: center;
}
body > header h1 {
  font-size: 24px;
}
body > header ul {
  display: flex;
}
body > header ul li {
  margin-left: 15px;
}
body > header .layout-row {
  justify-content: space-between;
}
/*
  home
*/
h2 {
  font-size: 20px;
  margin-bottom: 21px;
}
.vote-list li h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

/*
  voting-detail
*/
.vote-info li {
  display: inline-block;
  margin-right: 10px;
}
.voting-detail fieldset p {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
}
.voting-detail fieldset p:last-child {
  margin-bottom: 0;
}
.voting-detail fieldset p input {
  margin-right: 10px;
}
.voting-detail fieldset p label {
  font-size: 16px;
}

/*
  login
*/
.no-header {
  height: 100%;
  display: flex;
}
.no-header section {
  display: flex;
  align-self: center;
  margin: 0 auto;
  min-width: 60%;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
}
.no-header section h3 {
  font-size: 20px;
  margin-bottom: 21px;
}
.form {
  margin-top: auto;
}
.form p {
  margin-bottom: 15px;
}
.form p:last-child {
  margin-bottom: 0;
}
.form label, .form input {
  display: block;
}
.form label {
  font-size: 16px;
}
.form input {
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  line-height: 30px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #ebebeb;
}

.chart-area {
  background-color: #fff;
  border-radius: 4px;
  padding: 15px;
}
.chart-area li {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
}
.chart-area li.winner h4:before, .chart-area li.winner h4:after{
  content: '🥇';
}
.chart-area li:last-child {
  margin-bottom: 0;
}
.chart-area li h4 {
  line-height: 21px;
  font-size: 18px;
  padding-right: 15px;
  display: inline-block;
  flex: 1;
}
.chart-area li > div {
  flex: 1 80%;
  display: flex;
}
.chart-area li .bar {
  height: 40px;
  border-radius: 4px;
  border: 4px solid #d45858;
  background-color: #d45858;
}
.chart-area li p {
  padding-left: 10px;
}
.chart-area li p strong{
  display: block;
  text-align: center;
  font-weight: bold;
}
