@import 'common.less';

.success-container {
  text-align: center;
  margin-top: 50px;

  button {
    width: 100px;
    padding: 10px;
    color: @contentColor;
    font-weight: bold;
    border: 1px solid @borderColor;
    border-radius: 10px;
    background-color: @headerColor;
    cursor: pointer;
    transition: 0.5s ease;
  }
}
