.success__outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.success__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#success__image {
  cursor: pointer;
}
