@indexImg: 'https://fsmedia.imgix.net/1e/f5/34/a5/14e1/4a98/b0b7/2c38cc3cf00a.jpeg?rect=0%2C0%2C3984%2C1991&auto=format%2Ccompress&dpr=2&w=650';
@loginImg: 'https://miro.medium.com/max/12000/0*PsTrUH8UelbNzlXm';
@voteImg: 'https://images.unsplash.com/photo-1517586979036-b7d1e86b3345?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80';
@createVoteImg: 'https://images.unsplash.com/photo-1495250357898-6822052ef5b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80';
@successImg: 'https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80';
@serif: 'Noto Serif', serif;
@white: rgb(255, 255, 255);
@backgroundColor: rgb(238, 238, 238);
@lightblue: rgb(73, 150, 160);
@darkColor: rgb(41, 40, 40);
@black: rgb(0, 0, 0);
@backgroundOpacity: linear-gradient(
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)
);
