#main-container {
  font-size: 20px;
}

input {
  width: 500px;
  font-size: 20px;
}

#title-container, #choice-container {
  margin-bottom: 20px;
}

#choice-container button {
  font-size: 20px;
}

#end-date-container input {
  width: 300px;
}

#end-date-container select {
  font-size: 20px;
}

#submit-button-container {
  margin-top: 20px;
}

.invalid-end-date-input {
  outline: 1px solid red;
}

#end-time-alert-text {
  color: red;
}
