.voting-detail-bar {
	position: fixed;
	width: 25%;
	height: 100%;
	z-index: 5;
}

.voting-bar-title {
  position: absolute;
  font-size: 60px;
  font-weight: 200px;
  text-align: right;
	color: rgb(59, 59, 59);
	z-index: 5;
}

.voting-detail-wrapper {
	display: flex;
	width: 100%;
	min-height: 100%;
}

.voting-detail-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: 25%;
  margin-right: 0;
  background-color: rgb(151, 151, 151);
  z-index: 1;
}

.voting-detail-header {
	width: 80%;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	margin-bottom: 30px;
}

.voting-detail-board {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  width: 40%;
  height: 60%;
  background-color: #e9e7e7da;
  border-radius: 10px;
  z-index: 1;
}

.vote-form-button {
  width: 40px;
  height: 20px;
  border: 0px;
  background-color: skyblue;
  text-decoration: none;
  color: black;
}

.voting-bar-image {
	width: 100%;
  height: 100%;
}

.voting-detail-title {
	font-size: 20px;
}
