.votings-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 90%;

  background-color: #0074ff;
}

.voting-marign-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  background-color: #0074ff;
}

.votings-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  height: 10%;

  background-color: #0074ff;
}

.voting-info-board {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 800px;
  margin-left: 200px;
}

.voting-info-link {
  color: white;
  font-size: 40px;
  font-weight: 900;
}

.voting-info-username-font {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Fredoka One", cursive;
  color: white;
  font-size: 40px;
  font-weight: 900;
}

.voting-info-delete-link {
  margin-left: 400px;

  color: rgba(rgb(236, 45, 45));
  font-size: 40px;
  font-weight: 900;
}

.votings-grid-board {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 50px;
  row-gap: 10px;

  width: 80%;
  padding: 10px;

  background-color: #0074ff;
}

.voting-grid-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 108%;
  height: 38em;

  border-radius: 0.1em;
}

.voting-grid-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.voting-name-font {
  margin: 0;
  padding-left: 10px;

  color: aliceblue;
  font-family: "Black Han Sans", sans-serif;
  font-size: 100px;
}

.voting-creator-font {
  padding-left: 10px;

  color: grey;
  font-family: "Song Myung", serif;
  font-size: 40px;
}

.expired {
  text-decoration: red line-through;
  text-decoration-thickness: 30%;
}

.add-button {
  color: black;
  font-size: 300px;
  font-weight: 900;
  margin-left: 150px;
}

.green {
  background-color: #05ffad;
}

.beige {
  background-color: #ffd774;
}

.skyblue {
  background-color: #8ef1ff;
}

.pink {
  background-color: #ff9dc7;
}

.sage {
  background-color: #c6ff9d;
}
