@import './header.less';

.box {
  width: 600px;
  margin: 30px auto;
}

svg {
  background-color: #ffff;
  padding: 55px 47px;
}

.table {
  margin: 20px auto;
  border: 1px solid #262627;
}

th {
  width: 70px;
  border: 1px solid #262627;
}

tr {
  border: 1px solid #262627;
  text-align: center;
}
