span {
  font-size: 0.7vw;
  padding: 1vw;
}

.inProgress {
  border: var(--redish) 1px solid;
}

.notInProgress {
  color: var(--graish-blue);
  background-color: var(--graish-green);
}

.votingItem {
  width: 90%;
  height: 30vh;
  margin-top: 10vh;
  color: var(--graish-green);
}

.votingItemTitle {
  padding: 2vw 0;
  font-size: 4vw;
  text-align: center;
}

.votingItemBottom {
  padding: 2vw;
  background-color: var(--graish-blue);
}

.votingItemBottom .description {
  color: var(--purple-deep);
  font-size: 4vw;
}

.votingItemBottom .options {
  font-size: 4vw;
}

.createdAt {
  display: inline-block;
  font-size: 0.7vw;
  background-color: var(--graish-blue);
}

.dueDate {
  color: var(--redish);
  font-size: 2vw;
  font-weight: 600;
}

.selectedOption {
  background-color: var(--redish);
}
