body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.votingdetail-box {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  height: 700px;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

a {
  text-decoration: none;
  color: black;
  cursor: default;
}

#selector {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 306px;
  height: 40px;
  font-size: 14px;
  background-color: RGB(239, 239, 239);
  margin-bottom: 5px;
  transition: all 0.4s;
  color: black;
}

#selector:hover {
  background-color: cadetblue;
}

.voting-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 306px;
  height: 120px;
}

.voting-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 20px;
}

.voting-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}

.voting-creator {
  display: flex;
  justify-content: flex-end;
  height: 20px;
  width: 290px;
  font-size: 12px;
}

.voting-expire {
  display: flex;
  justify-content: flex-end;
  width: 290px;
  font-size: 12px;
  margin-top: 5px;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 450px;
  width: 290px;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 60px;
  background-color: RGB(239, 239, 239);
  font-size: 14px;
  transition: all 0.4s;
}

.option:hover {
  background-color: cadetblue;
  border-radius: 5px;
}
