@import '../config/_variables';

.voting-block {
  width: 700px;
  margin: 30px 0;
  padding: 10px 30px 10px 10px;
  background-color: $white;
  box-shadow: $my-shadow;
  transition: transform 300ms;
  border: 1px solid $lightgray;

  display: flex;
  align-items: center;

  .state {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $green;

    span {
      font-size: 0.8rem;
    }
  }

  .voters {
    width: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $bold-gray;

    span {
      font-weight: 700;
    }
  }

  h2 {
    margin-left: 30px;
    width: 320px;
  }

  .author {
    width: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &:hover {
    transform: translateY(-3px);
  }

  &.expired {
    opacity: 0.8;
    height: 70px;
    background-color: $lightgray;

    h2 {
      font-size: 1rem;
    }
  }
}
