extends ../layout
block style
  link(rel='stylesheet', href='/stylesheets/form.css')

block content
  h1(class='main-message') this is signup page
  include ../validationMEssage
  form(method='post')
    input(type='email' name='email' placeholder='email' autofocus)
    input(type='password' name='password' placeholder='password')
    input(type='text' name='nickname' placeholder='nickname')
    button(type='submit') submit
