<% include ../partials/header %>
      </div>
    </div>
    <div class='smallbox-signup-container'>
      <div class='smallbox-contents'>
        <form action='/signup' method='POST'>
          <div class='smallbox-signup-name'>
            email:
          </div>
          <input class='smallbox-signup-box' type='text' name='email' />
          <div class='smallbox-signup-name'>
            password:
          </div>
          <input class='smallbox-signup-box' type='password' name='password' />
          <div class='smallbox-signup-name'>
            confirm password:
          </div>
          <input class='smallbox-signup-box' type='password' name='confirmPassword' />
          <div id='smallbox-message'>
          </div>
          <input class='smallbox-button' type='submit' value='Submit' />
        </form>
        <div class='smallbox-button' onClick='location.href="/login"' >
          Back to Login
        </div>
      </div>
    </div>
  </body>
  <script>
    var message = '<%= message %>';
    if (message !== '') {
      var el = document.getElementById('smallbox-message');
      el.textContent = message;
      el.style.visibility = 'visible';
    }
  </script>
</html>
