extends ../layout
block style
  link(rel='stylesheet', href='/stylesheets/form.css')

block content
  h1(class='main-message') this is login page
  include ../validationMessage
  form(method='post')
    input(type='email' name='email' placeholder='email' autofocus)
    input(type='password' name='password' placeholder='password')
    button(type='submit') submit
