extends layouts/main

block content
  .content-section
    .content-section-title #{pageTitle}
    .apps-card.voting-list
      each voting in userVoting
        .app-card.voting
          span.voting-title #{voting.title}
          .app-card__subtext
            .expiration 만료일: #{new Date(voting.expiration).toLocaleString()}
            if voting.progress
              .progress 상태: 진행 중
            else
              .progress 상태: 종료
          .app-card-buttons
            a.voting-detail-link(href=`/votings/${voting.id}`)
              button.content-button.status-button Vote
