extends layouts/main

mixin option
  .option
    input(type="text" placeholder="option" name="option" autocomplete=false required)
    button.remove-option-button.blind(type="button") -

block content
  h1 #{pageTitle}
  .new-voting-container
    form.new-voting-form(action="./new" method="POST")
      input(type="text" placeholder="title" name="title" required)
      lable(for="expiraton") 만료일:
      input.expiration(type="datetime-local" name="expiration" id="expiration" required)
      button.add-option-button(type="button") +
      .option-container
        +option
        +option
      button.new-voting-button Create Voting
    .warning-box

  script(src="/javascripts/newVoting/index.js")
  script(src="/javascripts/newVoting/newOption.js")
