extends layouts/main

block content
  h1 #{pageTitle}
  .newVoting-container
    form.voting-form(action="./new" method="POST")
     input(type="text" required=true)
     input(type="text" required=true)
     button(type="button").add-input-button +
     button.newVoting-button New Voting
