mixin author(author = {}, desc = true)
  .displayName #{desc ? "Created By" : ""} <b>#{author.displayName}</b>
  .avatar
    if author.photoUrl
      img(src=author.photoUrl)
    else
      i.far.fa-user-circle
