mixin card(vote = {})
  .card
    a(href=`/votings/${vote.id}`)
      .card-header
        h3= vote.title
        if vote.isExpired
          p.card-expired.tag.black Expired
        else
          p.card-expired.tag.green Progress
      .card-footer
        span.card-author-name= vote.author.name
        span.card-expireAt= `Expire At ${vote.expireAt.toLocaleString()}`
