include svgs
mixin header(user)
  .header
    .notice-container
      .notice
        span.delay-animation(style='--delay: .1s')
          i.fas.fa-volume-down
          | &nbsp
          if (messages.info)
            | #{messages.info}
          else
            | Hello #{user ? user.name : 'Guest'}!
    .user-settings
      if (user)
        img.user-img(src=`${user.avatarUrl}` alt='user avatar')
        .user-name #{user.name}
      else
        img.user-img(src='https://storage.jewheart.com/content/users/avatars/1606/avatar_1606_500.jpg?1558623487' alt='guest avatar')
        .user-name Guest
      .notify
        .notification
        +svgs('notification')
