mixin voteBlock(vote = {})
  a.voteBlock(href=`/votings/${vote.id}`)
    ul
      li #{vote.title}
      li #{vote.expiration_date}
      li #{vote.author}
    if (vote.expiration_date < new Date())
      p.status ENDED
    else
      p.status PROCESSING
