mixin voteBlock(vote = {})
  a.voteBlock(href=`/votings/${vote.id}`)
    ul
      li.title #{vote.title}
      li.date 📅 #{vote.expiration_date.formatted_date}
      li.author 🖌 #{vote.author}
    if (vote.expiration_date.date < new Date())
      p.status.ended ENDED
    else
      p.status.progress IN PROGRESS
