include author
include votingState
mixin votingBlock(voting = {})
  a.voting-block(class=voting.isOngoing ? 'ongoing' : 'expired' href=routes.VOTINGS_HOME+"/"+voting._id)
    .state
      +votingState(voting.isOngoing)
      if voting.isOngoing
        span.time-remaining #{voting.timeRemaining} left
    h2= voting.topic
    .voting-detail.author
      +author(voting.author, false)

