mixin votingBox(voting = {})
  .voting-mixin
    .voting-title=voting.title
    .voting-creator=voting.creator
    .voting-date-box
      .voting-endDate=voting.formatDate
      .voting-state=voting.state
