extends ../layout

block content
  h1 this is new voting page
  include ../validationMEssage
  form(method='post')
    input(type='text' name='title' placeholder='title')
    br
    ul(class='js-polls')
    input(type='date' name='expiration_date' value='#{defaultDate}')
    button(type='submit') submit
  button(class='js-addBtn') add poll
  br
  a(href='/') home
  script(src='/javascripts/votingNew.js' defer)
