<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <h1 class="abc">create new voting</h1>
  <form action="/votings/new" method="POST">
    <div>
      <label for="name">투표제목</label>
      <input type="text" name="title"></input>
    </div>
    <div>
      <label for="name">투표선택사항1</label>
      <input type="text" name="selectOption1"></input>
    </div>
    <div>
      <label for="name">투표선택사항2</label>
      <input type="text" name="selectOption2"></input>
    </div>
    <div>
      <label for="name">만료날짜</label>
      <input type="text" name="expireDate"></input>
    </div>
    <button type="submit">submit</button>
  </form>

  <button><a href="/">투표 목록으로 돌아가기</a></button>
</body>

</html>