header.header
  a(href="/")
    button.home-button Home
  if (currentUser)
    div.current-user Hello #{currentUser}
    a(href="/logout")
      button.logout-button Logout
  else
    a(href="/auth/login")
      button.login-button Login
