@import './config/_variables';

.form-container {
  width: 500px;
  padding: 30px;

  background-color: $white;
  box-shadow: $my-shadow;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;

    input,
    button {
      font-family: inherit;
      border: 1px solid $gray;
      padding: 15px;
      margin: 10px;
      outline: none;
      font-weight: 700;
      font-size: 1.2rem;

      &::placeholder {
        color: $gray;
        font-weight: 200;
        font-style: italic;
      }
    }

    input[type='submit'],
    button {
      background-color: $white;
      color: $skyblue;
      border: 1px solid $skyblue;
      border-radius: 5px;
      margin: 10px;
      padding: 10px;
      font-weight: 700;
      transition: all 500ms;

      &:hover {
        cursor: pointer;
        background-color: $white;
        border: 1px solid $orange;
        color: $orange;
      }
    }
  }
}

.errors {
  margin: 20px;
  color: $error;

  .error {
    margin: 10px 0;

    span {
      margin-right: 10px;

      &.name {
        font-weight: 700;
        font-size: 1.2rem;
      }
    }
  }
}
