.voting {
  width: 500px;
  padding: 10px 30px;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;

    .topic,
    .options,
    .expiration {
      display: flex;
      flex-direction: column;

      label {
        margin: 25px 0 0 10px;

        span {
          margin-left: 10px;
        }

        .desc {
          font-size: 0.8rem;
        }
      }

      input {
        margin-left: 40px;
        padding: 10px 20px;
      }
    }

    .topic {
      label {
        font-size: 1.6rem;
        margin-left: 0;
      }
    }

    .button-wapper {
      display: flex;
      align-items: center;

      margin-left: 40px;
      font-size: 0.9rem;

      div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #979797;

        width: 110px;
        padding: 5px;

        &:hover {
          cursor: pointer;
          color: inherit;
          font-weight: 700;
        }

        &.invisible {
          display: none;
        }
      }

      .short-cut {
        margin: 0;
        font-size: 0.7rem;
      }
    }

    .date {
      display: flex;

      input {
        width: 100%;
        font-size: 0.9rem;

        &:last-child {
          margin-left: 0;
        }
      }
    }

    input[type='submit'] {
      font-size: 1.2rem;
      padding: 10px 0;
      margin: 20px 0 20px 40px;
    }

    .additional-option {
      display: flex;
      justify-content: space-between;
      align-items: center;

      input {
        width: 100%;
      }

      .fa-trash-alt {
        margin: 0 20px 0 5px;
        font-size: 1.2rem;
        transition: transform 500ms;

        &:hover {
          cursor: pointer;
          transform: rotate(-0.5turn);
        }
      }
    }
  }
}
