header
  .home
    a(href="/" class="title") Voting Platform
  if (user)
    .username #{user.username}
    .router
      a(href="/my-votings") 내 투표보기
      a(href="/auth/logout") LOGOUT
  else
    .router
      a(href="/auth/signup") Sing up
      a(href="/auth/login") Sign in
