#header
  div
    a(href="/") Voting Platform
  if (user)
    div #{user.username}
    div
      a(href="/my-votings") MY VOUTINGS
    div
      a(href="/auth/logout") LOGOUT
  else
    div
      a(href="/auth/signup") SIGNUP
    div
      a(href="/auth/login") LOGIN
