<header>
  <div class="container">
    <div class="layout-row">
      <h1>
        <a href="/">Votes....</a>
      </h1>
      <ul>
        <% if (user) { %>
          <li>
            <a href="/votings/new" class="button">Add vote</a>
          </li>
          <li>
            <a href="/my-votings" class="button">My votings</a>
          </li>
          <li>
            <a href="/logout" class="button danger confirm">Logout</a>
          </li>
        <% } else { %>
          <li>
            <a href="/login" class="button">Login</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</header>