<header>
  <div class="container">
    <div class="row">
      <h1>
        <a href="/">Flower of democracy</a>
      </h1>
      <ul>
        <li>
          <a href="/login" class="button">Login</a>
        </li>
      </ul>
    </div>
  </div>
</header>