#header
  div
    a(href="/") Voting Platform
  if (username)
    div #{username}
    a(href="votings/myVotings") MY VOUTINGS
  else
    div
      a(href="/auth/signup") SIGNUP
    div
      a(href="/auth/login") LOGIN
