extends ../layout.pug

block stylesheet
  link(rel="stylesheet", href="/stylesheets/login.css")
  link(rel="stylesheet", href="/stylesheets/signup.css")

block content
  form(class="loginForm" action="/auth/login", method="post")
    .loginFlex
      .icon
        i.fas.fa-envelope
      .textBox
        label(for="email") Your Email:
        input(type="email" id="email" name="email" required)
    .loginFlex
      .icon
        i.fas.fa-lock
      .textBox
        label(for="password") Password:
        input(type="password" id="password" name="password" required)
    button(type="submit") LOGIN
