extends ../layout.pug

block content
  form(action="/auth/login", method="post")
    div
      label Your Email:
        input(type="email" name="email" required value="uand1@naver.com")
    div
      label Password:
        input(type="password" name="password" required value="1234")
    button(type="submit") SUBMIT
