extends ../layout.pug

block stylesheet
  link(rel="stylesheet", href="/stylesheets/main.css")
  link(rel="stylesheet", href="/stylesheets/votingItem.css")

block content
  .votingList
    each data in list
      -
        const {
          id,
          title,
          description,
          dueDate,
          inProgress,
          createdAt,
          options
        } = data;
      .votingBox
        a(href=`/votings/${id}`)
          .progressBox
            - if (isInProgress)
              span.inProgress [투표진행중]
            - else
              span.notInProgress [투표종료]
            span.participants #{participants ? participants.length : 0} 명이 참여중
          .votingItemTitle #{title}
          span.founder #{user.username}
