extends ../layout.pug

block content
  form(action="signup", method="post")
    div
      label Username:
        input(type="text" name="username" required value="uand1")
    div
      label Your Email:
        input(type="email" name="email" required value="uand1@naver.com")
    div
      label Password:
        input(type="password" name="password" required value="1234")
    div
      label Confirm:
        input(type="password" name="confirm" required value="1234")
    button(type="submit") SUBMIT
