extends ../layout.pug

block stylesheet
  link(rel="stylesheet", href="/stylesheets/signup.css")

block content
  .signupContainer
    .leftSide
      i.fas.fa-dice-d6
      i.fas.fa-dice-d6
      pre
        |  투표를 만들고,
        | 투표에 참여하세요!

    form(class="signupForm" action="signup", method="post")
      span.signupTitle 회 원 가 입
      .flex
        .icon
          i.fas.fa-dice-d6
        .textBox
          label(for="username") Username:
          input(type="text" id="username" name="username" required)
      .flex
        .icon
          i.fas.fa-envelope
        .textBox
          label(for="email") Your Email:
          input(type="text" id="email" name="email" required)
      .flex
        .icon
          i.fas.fa-lock
        .textBox
          label(for="password") Password:
          input(type="password" id="password" name="password" required)
      .flex
        .icon
          i.fas.fa-lock-open
        .textBox
          label(for="confirm") Confirm:
          input(type="password" id="confirm" name="confirm" required)
      .rightSide
        button(type="submit") 등록
