<div class="main-profile">
  <div class="user-title">
    <h2>USER</h2>
  </div>
  <div class="user-img">
    <img src="<%= user.profileImgUrl %>" alt="userProfileImg">
  </div>
  <div class="user-name">
    <span><%= user.name %></span>
  </div>
</div>
