extends ../layout.pug

block votingList
  div
    each data in list
      -const { title, description, dueDate, inProgress, founder } = data;
      div #{title}
      div #{description}
      div #{dueDate}
      div #{inProgress}
