@import 'global';

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
}

content {
  padding: 50px;
  flex: 1;
  margin-right: 250px;
  margin-bottom: 100px;
  overflow: hidden;
  position: relative;
}

.greeting {
  position: fixed;
  bottom: 50px;
  right: 0;
  z-index: 1000;

  padding: 1em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  box-shadow: 1px 1px 2px black;
  background-color: #fff;
}

nav {
  background-color:darkmagenta;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 1em;
  width: 250px;

  .logo {
    font-family: 'Lobster';
    font-size: 4em;
    text-align: center;
  }
}

@media only screen and (max-width: 850px) {
  content {
    margin-right: 0;
  }

  .greeting {
    bottom: auto;
    top: 0;
  }

  nav {
    height: 100px;
    width: 100vw;
    top: auto;
    bottom: 0;

    display: flex;
    justify-content: center;
    box-shadow: 0px -1px 3px black;

    ul {
      display: flex;
      align-items: center;

      li {
        margin: auto 1em;
      }
    }

    .logo {
      margin: auto 0;
      font-size: 20px;
    }
  }
}
