.userVoting {
  background-color: darkmagenta;
  color: white;
  margin: 1em;
  padding: 2em;

  h2 {
    margin-top: 0;
  }
}

.votingUserCreated {
  &:hover {
    text-decoration: underline;
  }
}

.selected {
  &::after {
    content: ' ✓';
  }
}
