form {
  width: 500px;
  margin: 0;

  .form-wrapper {
    display: flex;
  }

  label {
    width: 3em;
    text-align: right;
    margin-right: 10px;
  }

  input, textarea {
    flex: 1;
  }

  .input-wrapper {
    > div {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
    }
  }

  .metaForm {
    flex: 1;
    margin-right: 1em;

    #rangeValue {
      text-align: center;
    }

    input[type='range'] {
      width: 100%;
    }
  }
  .ballotForm {
    flex: 1;

    text-align: right;

    button {
      background-color: #fff;
      width: 66%;
    }
  }


  input[type='submit'] {
    background-color: #fff;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
}
