.chart-container {
  background-color: pink;
  width: 300px;
  height: 300px;

}

.candidates-wrapper {
  background-color: 500px;
  width: 500px;
  display: flex;

  .candidate {
    flex: 1;
    box-shadow: 0px 0px 4px black;
    border-radius: 1em;
    padding: 2em;
    margin: 1em;
    text-align: center;

    &:hover {
      // box-shadow: 0px 0px 4px darkorchid;
      color: darkmagenta;
    }

    &.selected {
      background-color: darkorchid;
    }
  }
}
