<div class="index">
  <ul class="votes grid">
    <!--
      <li class="vote-item">
      <span class="vote-country list-only"> COX </span>

      <span class="vote-name"> Asset Management </span>

      <span class="vote-country grid-only"> COX </span>

      <div class="pull-right">
        <span class="vote-progress">
          <span class="vote-progress-bg">
            <span class="vote-progress-fg" style="width: 88%"></span>
          </span>

          <span class="vote-progress-labels">
            <span class="vote-progress-label"> 88% </span>

            <span class="vote-completes"> 24 / 30 Days </span>
          </span>
        </span>

        <span class="vote-end-date ended"> 2014 - May 10 </span>
        <span class="vote-stage">
          <span class="stage draft">Draft</span>
          <span class="stage awarded">Awarded</span>
          <span class="stage live">Live</span>
          <span class="stage ended active">Ended</span>
        </span>
      </div>
    </li>
    <li class="vote-item">
      <span class="vote-country list-only"> Reliance </span>

      <span class="vote-name"> Netvelocity </span>

      <span class="vote-country grid-only"> Reliance </span>

      <div class="pull-right">
        <span class="vote-progress">
          <span class="vote-progress-bg">
            <span class="vote-progress-fg" style="width: 25%"></span>
          </span>

          <span class="vote-progress-labels">
            <span class="vote-progress-label"> 25% </span>

            <span class="vote-completes"> 1 / 7 Days </span>
          </span>
        </span>

        <span class="vote-end-date"> 2014 - July 12 </span>
        <span class="vote-stage">
          <span class="stage draft">Draft</span>
          <span class="stage awarded">Awarded</span>
          <span class="stage live active">Live</span>
          <span class="stage ended">Ended</span>
        </span>
      </div>
    </li>
    <li class="vote-item">
      <span class="vote-country list-only"> BTC </span>

      <span class="vote-name"> Loyalty Management </span>

      <span class="vote-country grid-only"> BTC </span>

      <div class="pull-right">
        <span class="vote-end-date"> 2014 - Oct 1 </span>
        <span class="vote-stage">
          <span class="stage draft">Draft</span>
          <span class="stage awarded active">Awarded</span>
          <span class="stage live">Live</span>
          <span class="stage ended">Ended</span>
        </span>
      </div>
    </li> -->
  </ul>
</div>

<script src="/javascripts/api/vote.js"></script>
<script src="/javascripts/utils/infiniteScroll.js"></script>
<script src="/javascripts/templates/voteItemListTemplate.js"></script>
<script src="/javascripts/indexPage.js"></script>
