<div class="index">
  <ul class="surveys grid">
    <li class="survey-item">
      <span class="survey-country list-only"> COX </span>

      <span class="survey-name"> Asset Management </span>

      <span class="survey-country grid-only"> COX </span>

      <div class="pull-right">
        <span class="survey-progress">
          <span class="survey-progress-bg">
            <span class="survey-progress-fg" style="width: 88%"></span>
          </span>

          <span class="survey-progress-labels">
            <span class="survey-progress-label"> 88% </span>

            <span class="survey-completes"> 24 / 30 Days </span>
          </span>
        </span>

        <span class="survey-end-date ended"> 2014 - May 10 </span>
        <span class="survey-stage">
          <span class="stage draft">Draft</span>
          <span class="stage awarded">Awarded</span>
          <span class="stage live">Live</span>
          <span class="stage ended active">Ended</span>
        </span>
      </div>
    </li>
    <li class="survey-item">
      <span class="survey-country list-only"> Reliance </span>

      <span class="survey-name"> Netvelocity </span>

      <span class="survey-country grid-only"> Reliance </span>

      <div class="pull-right">
        <span class="survey-progress">
          <span class="survey-progress-bg">
            <span class="survey-progress-fg" style="width: 25%"></span>
          </span>

          <span class="survey-progress-labels">
            <span class="survey-progress-label"> 25% </span>

            <span class="survey-completes"> 1 / 7 Days </span>
          </span>
        </span>

        <span class="survey-end-date"> 2014 - July 12 </span>
        <span class="survey-stage">
          <span class="stage draft">Draft</span>
          <span class="stage awarded">Awarded</span>
          <span class="stage live active">Live</span>
          <span class="stage ended">Ended</span>
        </span>
      </div>
    </li>
    <li class="survey-item">
      <span class="survey-country list-only"> BTC </span>

      <span class="survey-name"> Loyalty Management </span>

      <span class="survey-country grid-only"> BTC </span>

      <div class="pull-right">
        <span class="survey-end-date"> 2014 - Oct 1 </span>
        <span class="survey-stage">
          <span class="stage draft">Draft</span>
          <span class="stage awarded active">Awarded</span>
          <span class="stage live">Live</span>
          <span class="stage ended">Ended</span>
        </span>
      </div>
    </li>
  </ul>
</div>
