<div class="index">
  <div class="filter" >
    <a href="/?filter=all">All</a>
    <a href="/?filter=open">Process</a>
    <a href="/?filter=close">Close</a>
  </div>
  <ul class="votes grid">
  </ul>
</div>

<script src="/javascripts/api/vote.js"></script>
<script src="/javascripts/utils/infiniteScroll.js"></script>
<script src="/javascripts/templates/voteItemListTemplate.js"></script>
<script src="/javascripts/indexPage.js"></script>
