<div class="sign-in-wrapper">
  <div class="sign-cont">
    <form class="sign-form sign-in" method="POST" action="/login">
      <h2>Welcome back,</h2>
      <h3 class="err-msg"><%= error.global %></h3>
      <fieldset>
        <span>Email</span>
        <input type="email" name="email"/>
        <span class="err-msg"><%= error.email %></span>
      </fieldset>
      <fieldset>
        <span>Password</span>
        <input type="password" name="password"/>
        <span class="err-msg"><%= error.password %></span>
      </fieldset>
      <p class="forgot-pass">Forgot password?</p>
      <button class="submit">Sign In</button>
      <a href="/login-google"><button type="button" class="fb-btn">Connect with <span>facebook</span></button></a>
    </form>
    <div class="sign-sub-cont">
      <div class="sign-img">
        <div class="sign-img__text m--up">
          <h2>New here?</h2>
          <p>Sign up and discover great amount of new opportunities!</p>
        </div>
        <div class="sign-img__text m--in">
          <h2>One of us?</h2>
          <p>If you already has an account, just sign in. We've missed you!</p>
        </div>
        <div class="sign-img__btn">
          <span class="m--up">Sign Up</span>
          <span class="m--in">Sign In</span>
        </div>
      </div>
      <form class="sign-form sign-up" method="POST" action="/signup">
        <h2>Time to feel like home,</h2>
        <h3 class="err-msg"><%= error.global %></h3>
        <fieldset>
          <span>Name</span>
          <input type="text" name="name"/>
        </fieldset>
        <fieldset>
          <span>Email</span>
          <input type="email" name="email"/>
        </fieldset>
        <fieldset>
          <span>Password</span>
          <input type="password" name="password"/>
        </fieldset>
        <button class="submit">Sign Up</button>
      </form>
    </div>
  </div>
</div>

<script src="/javascripts/authPage.js"></script>
