<!-- 제목, 생성자, 만료 날짜 및 시간, 진행 중 여부, 투표 선택 사항 -->
<div class="vote-detail-wrapper">
  <div class="vote-detail-cont grid-split-two">
    <%- include('../mixins/voteDetail_info.ejs') %>
    <div class="vote-result-column vote-result-charts">

    </div>
  </div>
</div>
