<!-- 제목, 생성자, 만료 날짜 및 시간, 진행 중 여부, 투표 선택 사항 -->
<div class="vote-detail-wrapper">
  <div class="vote-detail-cont grid-split-two">
    <div class="vote-result-column vote-result-info">
      <h2 class="vote-title"><%= vote.title %></h2>
      <span class="vote-creator"><%= vote.creator.name %></span>
      <span class="vote-expire_datetime"><%= vote.expire_datetime %></span>
      <span class="vote-is-process"><%= vote.is_process %></span>
    </div>
    <div class="vote-result-column vote-result-charts">

    </div>
  </div>
</div>
