<!-- 제목, 생성자, 만료 날짜 및 시간, 진행 중 여부, 투표 선택 사항 -->
<div class="vote-detail-wrapper">
  <div class="vote-detail-cont grid-split-two">
    <%- include('../mixins/voteDetail_info.ejs') %>

    <% if (vote.is_process) { %>
      <div class="vote-result-column vote-detail-option-wrapper">
        <%- include('../mixins/voteDetail_options.ejs') %>
      </div>
    <% } else { %>
      <div class="vote-result-column vote-detail-result-wrapper">
        <%- include('../mixins/voteDetail_result.ejs') %>
      </div>
    <% } %>
  </div>
</div>

<% if (vote.is_process) { %>
  <script src="/javascripts/utils/path.js"></script>
  <script src="/javascripts/utils/cookie.js"></script>
  <script src="/javascripts/utils/login.js"></script>
  <script src="/javascripts/api/vote.js"></script>
  <script src="/javascripts/voteDetailOptionScript.js"></script>
<% } else { %>
  <script>
    window.app = {};
    window.app.vote = <%- JSON.stringify(vote) %>;
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js" integrity="sha512-zO8oeHCxetPn1Hd9PdDleg5Tw1bAaP0YmNvPY8CwcRyUk7d7/+nyElmFrB6f7vg4f7Fv4sui1mcep8RIEShczg==" crossorigin="anonymous"></script>
  <script src="/javascripts/voteDetailResultScript.js"></script>
<% } %>
<script src="/javascripts/voteDetailPage.js"></script>
