extends layout

block stylesheet
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  h2 투표목록
  section.voting-list
    - console.log(voting.length)
    - for (let i = 0; i < voting.length; i++)
      - const { title, _id } = voting[i]
      - const path = `/votings/${_id}`
      a.voting-item(href=path) #{title}

  div.btn-container
    a.create-voting-btn(href="/votings/new") Create Voting
    a.view-myvoting-btn(href="my-votings") My Voting
