doctype html
html
  head
    title voting platform
    link(rel="stylesheet", href="/stylesheets/reset.css")
    link(rel="stylesheet", href="/stylesheets/layout.css")
    block stylesheet
  body
    header
      nav
        a.login(href="/") Home
        if isLogin
          a.login(href="/logout") Logout
        else
          a.login(href="/login") Login
          a.logout(href="/signup") Sign up
    section
      block content
