doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
  body
    header
      nav
        a.login(href="/login") Login
        a.logout(href="/signup") Logout
    block content