extends index
block content
  h2 My Agenda
  ul
    each item in myAgenda
      li
        h4=item.title
          - const options = item.option
          ul
            each option in options
              h4 #{option.description} (득표수: #{option.votes})
