extends layout

block stylesheet
  link(rel='stylesheet', href='/stylesheets/signup.css')

block content
  form(action="/signup", method="post")
    input.input-text(type="text", name="name", placeholder="이름을 입력하세요 : )", autocomplete="off")
    input.input-text(type="email", name="email", placeholder="이메일주소를 입력하세요 : )", autocomplete="off")
    input.input-text(type="password", name="password", placeholder="비밀번호를 입력하세요 : )", autocomplete="off")
    input.input-btn(type="submit", value="Sign up")
