extends ./layout.pug

block stylesheet
  link(rel='stylesheet', href='/stylesheets/voting-new.css')

block content
  section.voting-new
    h2 투표만들기
    form(action="/votings/new", method="post")
      div.time
        input(type="date", name="date")
        input(type="time", name="time")
      input.title(type="text", name="title", autocomplete="off", placeholder="투표제목을 입력하세요 : )")
      input.desc(type="text", name="desc", autocomplete="off", placeholder="투표내용을 입력하세요 : )")
      div.item(name="voting-items")
        input(type="text", name="items", autocomplete="off", placeholder = "투표항목을 입력하세요 : )")
        input(type="text", name="items", autocomplete="off", placeholder = "투표항목을 입력하세요 : )")
      div.btn-container
        div
          div.add-btn 추가
          div.delete-btn 삭제
        div
          a(href="/") 돌아가기
          input(type="submit", value="만들기")
  script(src="/javascripts/votingNew.js")
