doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/account.css')
    title vOtebOt
  body
    main
      .account-container
        .account-body
          .account-logo
            a(href='/') vOtebOt
          .account-title
            block title
          block body
          p.account-text or
          .account-goto
            block goto
    block script
