doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/index.css')
    block link
    title vOtebOt
  body
    .main-container
      header
        include ../partials/header.pug
      main
        include ../partials/navigator.pug
        .vote-container
          block content
    script(src='/javascripts/main.js')
    block script
