doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/index.css')
    title VoteforVote
  body
    .main-container
      header
        include ../partials/header.pug
      main
        include ../partials/navigator.pug
        .vote-container
          block content
