$bg-color: #f7f9fb;
$white: #ffffff;
$skyblue: #6d9cc2;
$lightgray: #eeeeee;
$orange: #ff762c;
$gray: #979797;
$bold-gray: #646464;
$green: #0f9d58;
$red: #c20000;
$error: #d60e00;
$yellow: #ffa500;
$my-shadow: rgba(11, 37, 75, 0.04) 0px 30px 40px -10px,
  rgba(11, 37, 75, 0.01) 0px 22px 22px 0px,
  rgba(11, 37, 75, 0.02) 0px 14px 14px 0px,
  rgba(11, 37, 75, 0.02) 0px 4px 4px 0px, rgba(11, 37, 75, 0.02) 0px 2px 2px 0px,
  rgba(11, 37, 75, 0.04) 0px 0px 0px 1px;
$bold-shadow: rgba(11, 37, 75, 0.1) 0px 22px 22px 0px,
  rgba(11, 37, 75, 0.2) 0px 14px 14px 0px;
$my-gradient: linear-gradient(
  to right,
  #eea2a2 0%,
  #bbc1bf 19%,
  #57c6e1 42%,
  #b49fda 79%,
  #7ac5d8 100%
);
