.header {
  background: #f9f9f9;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0%;
  z-index: 1;

  .title {
    font-weight: bold;
    font-size: 15px;
  }

  .header_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;

    a:not(:first-child) {
      margin-left: 20px;
    }

    .menu-list {
      text-align: center;
      min-width: 100px;
      padding: 10px 5px;
    }

    .menu-list:hover {
      background-color: rgba($color: #000000, $alpha: 0.05);
    }
  }

  .header-right-boxs {
    display: flex;
    justify-self: center;
    align-items: center;
    margin-left: auto;

    .user-name-box {
      margin-right: 10px;
      font-size: 20px;
      font-weight: bold;
    }

    .login-box {
      width: 80px;
      font-size: 13px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #27b06e;
      padding: 10px 0px;
      border-radius: 2px;
      color: #f9f9f9;
      font-weight: bold;
      margin-right: 30px;
    }
  }
}
