doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{siteTitle} | #{pageTitle}
    link(rel="stylesheet" type="text/css" href="/static/main.css")
  body
    include ../partials/modeHandler
    .app
      include ../partials/header
      .wrapper
        include ../partials/leftSide
        .main-container
          include ../partials/mainHeader
          .content-wrapper
            block content
  script(type="text/javascript" src="/static/main.js")
  script(type="text/javascript" src="/javascripts/common/styleEffect.js")
