.main-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 100px 0 0 0;
  background-color: #ffffff;
  background: center / cover no-repeat url("../images/index_bg.png");
}
.main {
  width: 40%;
  min-width: 500px;
  height: 65vh;
  position: absolute;
  top: 20%;
  left: 35%;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 20px;
}
.make-vote-header {
  width: 400px;
  margin: 20px auto 0 auto;
  padding: 10px 0;
  box-sizing: border-box;
  text-align: center;
}
.make-vote-text-wrapper .make-vote-text {
  margin: 0 auto;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 2px;
  text-decoration: underline;
}
.make-vote-wrapper {
  width: 400px;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
}
.make-vote-wrapper .email-make-vote {
  color: #ffffff;
  font-size: 20px;
}
.input-vote-form {
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  bottom: 0px;
  line-height: 36px;
  font-size: 16px;
  margin: 10px 0 20px 0;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 0 0 0 20px;
  box-sizing: border-box;
  width: 85%;
  cursor: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: 500;
  font-stretch: inherit;
  font-family: inherit;
  opacity: 1;
  -webkit-tap-highlight-color: rgba(221, 221, 221, 0);
  height: unset;
}
.options-wrapper {
  position: relative;
}
.input-vote-form-plus {
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  bottom: 0px;
  line-height: 36px;
  font-size: 16px;
  margin: 10px 0 10px 0;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 0 0 0 20px;
  box-sizing: border-box;
  width: 85%;
  cursor: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: 500;
  font-stretch: inherit;
  font-family: inherit;
  opacity: 1;
  -webkit-tap-highlight-color: rgba(221, 221, 221, 0);
  height: unset;
}
.del {
  width: 30px;
  height: 20px;
  color: #ffffff;
  font-size: 12px;
  position: absolute;
  top: 18px;
  right: -10px;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  background: #0091ea;
  border: none;
  font-weight: bold;
}
.input-add-btn {
  width: 120px;
  height: 35px;
  background: #ffffff;
  font-size: 16px;
  margin: 15px;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  font-family: "Noto Sans KR", sans-serif;
  color: #0091ea;
  border: 1px solid #f83b3b;
  font-weight: bold;
}
.input-add-btn:hover {
  color: #ffffff;
  background: #0091ea;
  border: none;
}
