body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}
.main-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  background: center / cover no-repeat url("../images/bg3.jpg");
}
.main {
  width: 40%;
  min-width: 500px;
  height: 50vh;
  position: absolute;
  top: 20%;
  left: 35%;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  border-radius: 20px;
}
.login-register-header {
  width: 400px;
  margin: 20px auto 0 auto;
  padding: 10px 0;
  box-sizing: border-box;
  text-align: center;
}
.login-register-header::after {
  content: "";
  display: block;
  clear: both;
}
.login-text-wrapper {
  float: left;
}
.login-text-wrapper .login-text {
  color: #f83b3b;
  margin: 0 0 0 70px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 2px;
  text-decoration: underline;
}
.register-text-wrapper {
  float: right;
}
.register-text-wrapper .register-text {
  margin: 0 70px 0 0;
}
.register-text-wrapper .register-text .register-text-inner {
  color: #ffffff;
  font-size: 28px;
  font-weight: 100;
  cursor: pointer;
}
.register-text-wrapper .register-text .register-text-inner:hover {
  font-size: 28px;
  color: #f83b3b;
  font-weight: bold;
  text-decoration: underline;
}
.email-wrapper {
  width: 400px;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
}
.email-wrapper .email-text {
  color: #ffffff;
  font-size: 20px;
}
.input-email-form {
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  bottom: 0px;
  line-height: 36px;
  font-size: 16px;
  margin: 10px 0 20px 0;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 0 0 0 20px;
  box-sizing: border-box;
  width: 85%;
  cursor: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: 500;
  font-stretch: inherit;
  font-family: inherit;
  opacity: 1;
  -webkit-tap-highlight-color: rgba(221, 221, 221, 0);
  height: unset;
}
.input-email-btn-wrapper {
  width: 100%;
}
.input-email-btn {
  width: 300px;
  height: 45px;
  color: rgb(21, 21, 21);
  font-size: 16px;
  margin: 20px auto 0 auto;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  font-family: "Noto Sans KR", sans-serif;
  background: rgb(255, 255, 255);
  border: none;
  font-weight: 500;
}
.input-email-btn:hover {
  color: rgb(255, 255, 255);
  background: rgb(21, 21, 21);
}
.sns-border {
  margin: 0 0 20px 0;
}
.sns-border-text {
  width: 45%;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  color: rgb(205, 205, 205);
  padding: 0px 7px;
  margin: 0 auto;
}
.input-google-wrapper .input-google-text {
  color: #ffffff;
}
.input-google-text {
  box-sizing: border-box;
  padding-top: 10px;
  text-align: center;
  display: block;
  font-size: 16px;
  width: 300px;
  height: 45px;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  font-family: "Noto Sans KR", sans-serif;
  margin: 0 auto 10px auto;
  background: #dd4b39;
  border: none;
  font-weight: 500;
  position: relative;
}
.google-logo {
  position: absolute;
  left: 15px;
  width: 30px;
}
