body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  width: 100%;
}

hr {
  display: none;
  clear: both;
}
img,
fieldset {
  border: 0 none;
}
h1,
h2,
h3,
h4,
h5,
dl,
dt,
dd,
ul,
li,
ol,
th,
td,
p,
blockquote,
form,
fieldset,
legend {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border: 0 none;
}
form,
p {
  margin: 0px;
}
button {
  margin: 0;
  padding: 0;
  border: 0 none;
  background: transparent;
  *overflow: visible;
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a:link {
  color: #ffffff;
  text-decoration: none;
}
a:visited {
  color: #ffffff;
  text-decoration: none;
}
a:active {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
  text-decoration: none;
}
.header-wrapper {
  width: 100%;
  min-width: 1200px;
  height: 100px;
  background-color: #000000;
  position: fixed;
  padding: 35px;
  box-sizing: border-box;
  top: 0;
  z-index: 999;
}
.header-wrapper .header-title {
  font-size: 24px;
  position: absolute;
  font-weight: bold;
  color: #f83b3b;
}
.header-title-strong {
  color: #0091ea;
}
.menu-wrapper {
  width: 600px;
  margin: 0 auto;
}
.menu-wrapper::after {
  content: "";
  display: block;
  clear: both;
}
.menu-text-wrapper {
  margin: 0 auto;
}
.menu-text {
  width: 200px;
  float: left;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}
.menu-text:hover {
  color: #ababab;
  text-decoration: line-through;
}
.logout-wrapper {
  color: #ffffff;
  position: absolute;
  top: 35px;
  right: 20px;
}
.logout-wrapper::after {
  content: "";
  display: block;
  clear: both;
}
.name {
  display: block;
  padding: 0 20px 0 0;
  float: left;
}
.logout {
  display: block;
  float: left;
}
.logout:hover {
  font-weight: bold;
  color: #ababab;
  text-decoration: line-through;
}
.result {
  float: left;
  border: none;
}
.result1 {
  float: left;
  width: 350px;
  height: 10px;
  margin-right: 10px;
  background: #f83b3b;
  border: 4px solid#f83b3b;
}
.result2 {
  float: left;
  width: 250px;
  height: 10px;
  margin-right: 10px;
  background: #0091ea;
  border: 4px solid#0091ea;
}
.result3 {
  float: left;
  width: 150px;
  height: 10px;
  margin-right: 10px;
  background: #4caf50;
  border: 4px solid#4caf50;
}
.result4 {
  float: left;
  width: 150px;
  height: 10px;
  margin-right: 10px;
  background: #f9a825;
  border: 4px solid#f9a825;
}
