.main-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 100px 0 0 0;
}
.main-wrapper:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: center/ cover no-repeat url("../images/bg5.jpg");
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: -1;
}
.main-content-wrapper {
  width: 1000px;
  margin: 20px auto 0 auto;
}
.main-content {
  width: 650px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 20px auto 10px auto;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid #ffffff;
}
.main-content-wrapper .main-content .main-content-link {
  color: #ffffff;
  font-weight: 200;
  display: block;
}
.my-vote-title {
  width: 150px;
  text-align: center;
  font-size: 28px;
  padding: 5px 0;
  border-radius: 2px;
  font-weight: bold;
  color: #f83b3b;
  background: rgba(12, 12, 12, 0.6);
}
.my-vote-title-strong {
  color: #0091ea;
}
.my-vote-title-inner {
  color: #0091ea;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.expiration {
  margin: 0 0 10px 0;
}
.complete {
  width: 80px;
  height: 30px;
  padding: 3px 0 0 0;
  box-sizing: border-box;
  text-align: center;
  background: #f83b3b;
  position: absolute;
  border-radius: 5px;
  top: 15px;
  right: 15px;
}
.progress {
  width: 80px;
  height: 30px;
  padding: 3px 0 0 0;
  box-sizing: border-box;
  text-align: center;
  background: #0091ea;
  position: absolute;
  border-radius: 5px;
  top: 15px;
  right: 15px;
}
.result-wrapper {
  margin: 10px 0;
}
.result-wrapper::after {
  content: "";
  display: block;
  clear: both;
}
.result-btn {
  float: left;
}
.result-title {
  width: 150px;
  float: left;
  margin-right: 20px;
}
.vote-btn {
  width: 120px;
  height: 35px;
  background: #ffffff;
  font-size: 16px;
  margin: 15px;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  font-family: "Noto Sans KR", sans-serif;
  color: #0091ea;
  border: 1px solid #f83b3b;
  font-weight: bold;
}
.vote-btn:hover {
  color: #ffffff;
  background: #0091ea;
  border: none;
}
.delete-btn-wrapper {
  position: absolute;
  bottom: 20px;
  right: 0;
}
.delete-btn {
  width: 120px;
  height: 35px;
  background: #ffffff;
  font-size: 16px;
  margin: 15px;
  border-radius: 30px;
  cursor: pointer;
  outline: no ne;
  font-family: "Noto Sans KR", sans-serif;
  color: #0091ea;
  border: 1px solid #f83b3b;
  font-weight: bold;
}
.delete-btn:hover {
  color: #ffffff;
  background: #0091ea;
  border: none;
}
